Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: improve planner eval top1 by narrowing security skill scope
  skills/midstream/rr-midstream-security-basic-001.md
  tests/fixtures/execution-plan-midstream.json
  tests/fixtures/planner-dataset/cases.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor: shorten security skill applyTo with brace expansion
  skills/midstream/rr-midstream-security-basic-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

v0.3準備: Planner評価のTop1安定化（security applyToの絞り込み） (#131)
  skills/midstream/rr-midstream-security-basic-001.md
  tests/fixtures/execution-plan-midstream.json
  tests/fixtures/planner-dataset/cases.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(planner): planner切替（off/order/prune）を追加
  .github/actions/river-reviewer/action.yml
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/review-runner.mjs
  src/lib/skill-planner.mjs
  tests/cli.test.mjs
  tests/review-runner.test.mjs
  tests/skill-planner.test.mjs
Due: prettier --write

fix(planner): 指摘反映（共通util/設定拡張）
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/planner-utils.mjs
  src/lib/review-runner.mjs
Due: none

v0.3準備: planner切替（off/order/prune）を追加 (#132)
  .github/actions/river-reviewer/action.yml
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/planner-utils.mjs
  src/lib/review-runner.mjs
  src/lib/skill-planner.mjs
  tests/cli.test.mjs
  tests/review-runner.test.mjs
  tests/skill-planner.test.mjs
Due: prettier --write

feat(smart): diffからimpactTags推定して順位付けに反映
  pages/guides/planner-eval-dataset.md
  src/cli.mjs
  src/lib/impact-scope.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/review-runner.mjs
  tests/impact-scope.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(smart): impactTagsのdiff検出を修正
  src/lib/impact-scope.mjs
  tests/impact-scope.test.mjs
Due: none

v0.3準備: impactTags 推定でTop1を改善 (#133)
  pages/guides/planner-eval-dataset.md
  src/cli.mjs
  src/lib/impact-scope.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/review-runner.mjs
  tests/impact-scope.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(dx): river doctor（事前診断）を追加
  pages/guides/troubleshooting.md
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(dx): doctorの重複削減とテスト改善
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli.test.mjs
Due: none

v0.2(DX): river doctor（事前診断）を追加 (#134)
  pages/guides/troubleshooting.md
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(dx): examplesとFAQを追加
  examples/README.md
  examples/example-1-hello-skill/.github/workflows/river-reviewer.yml
  examples/example-1-hello-skill/README.md
  examples/example-1-hello-skill/src/app.js
  examples/example-2-upstream-only/.github/workflows/river-reviewer.yml
  examples/example-2-upstream-only/README.md
  examples/example-2-upstream-only/docs/README.md
  examples/example-3-planner/.github/workflows/river-reviewer.yml
  examples/example-3-planner/README.md
  examples/example-3-planner/src/app.ts
  pages/guides/_meta.json
  pages/guides/faq.md
  pages/guides/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(dx): examples/FAQの指摘反映
  examples/example-1-hello-skill/.github/workflows/river-reviewer.yml
  examples/example-2-upstream-only/.github/workflows/river-reviewer.yml
  examples/example-3-planner/README.md
  pages/guides/faq.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

v0.2(DX): examples 3段階 + FAQ 5本を追加 (#135)
  examples/README.md
  examples/example-1-hello-skill/.github/workflows/river-reviewer.yml
  examples/example-1-hello-skill/README.md
  examples/example-1-hello-skill/src/app.js
  examples/example-2-upstream-only/.github/workflows/river-reviewer.yml
  examples/example-2-upstream-only/README.md
  examples/example-2-upstream-only/docs/README.md
  examples/example-3-planner/.github/workflows/river-reviewer.yml
  examples/example-3-planner/README.md
  examples/example-3-planner/src/app.ts
  pages/guides/_meta.json
  pages/guides/faq.md
  pages/guides/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: detect hardcoded secrets without api key
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

fix: improve secret detection heuristics
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: none

test: expand heuristic secret detection coverage
  tests/heuristic-review.test.mjs
Due: none

v0.3: APIキー無しでも秘密情報直書きを検知して行コメント化 (#136)
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

docs: add add-new-skill guide and stable interfaces
  pages/guides/_meta.json
  pages/guides/add-new-skill.md
  pages/reference/_meta.json
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: lock planner dataset baseline metrics
  tests/planner-dataset-eval.test.mjs
Due: none

DX + Smart: スキル追加ガイド/評価の継続観測/安定I/Fを整備 (#137)
  pages/guides/_meta.json
  pages/guides/add-new-skill.md
  pages/reference/_meta.json
  pages/reference/stable-interfaces.md
  tests/planner-dataset-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add heuristic findings format and review evals
  scripts/validate-skills.mjs
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  src/lib/finding-format.mjs
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/fixtures/review-eval/cases.json
  tests/fixtures/review-eval/diffs/missing-tests-validation-throw.diff
  tests/fixtures/review-eval/diffs/secrets-explicit-patterns.diff
  tests/fixtures/review-eval/diffs/secrets-object-literal.diff
  tests/heuristic-review.test.mjs
  tests/review-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor: switch heuristic comment normalization
  src/lib/review-engine.mjs
Due: none

Skill強化の土台: 出力型/決定論ヒューリスティック/fixtures評価 (#138)
  scripts/validate-skills.mjs
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  src/lib/finding-format.mjs
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/fixtures/review-eval/cases.json
  tests/fixtures/review-eval/diffs/missing-tests-validation-throw.diff
  tests/fixtures/review-eval/diffs/secrets-explicit-patterns.diff
  tests/fixtures/review-eval/diffs/secrets-object-literal.diff
  tests/heuristic-review.test.mjs
  tests/review-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: require evidence in finding format
  src/lib/finding-format.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
  tests/fixtures/review-eval/cases.json
Due: prettier --write

fix: remove duplicated prompt instruction
  src/lib/review-engine.mjs
Due: none

feat: 指摘フォーマットに Evidence を必須化 (#139)
  src/lib/finding-format.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
  tests/fixtures/review-eval/cases.json
Due: prettier --write

chore: update husky hooks for v10
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: update husky hooks for v10 (#140)
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: add issue forms
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/skill_proposal.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: add triage labels to issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/skill_proposal.yml
Due: prettier --write

chore: add issue forms and organize project board (#141)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/skill_proposal.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify docs as internal
  README.md
  docs/README.md
  docs/architecture.md
  docs/issue-management.md
  docs/skills-catalog.md
  pages/guides/_meta.json
  pages/guides/governance/_meta.json
  pages/guides/governance/issue-labels.md
  pages/guides/governance/issue-management.md
  pages/guides/planner-evaluation.md
  pages/guides/skill-planner.md
  pages/index.md
  pages/reference/_meta.json
  pages/reference/review-output-example.md
  pages/reference/riverbed-storage.md
  pages/reference/skill-metadata.md
  pages/reference/skills-catalog.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align nav title for planner evaluation
  pages/guides/_meta.json
Due: prettier --write

docs: fix textlint issues after moving docs
  pages/guides/governance/issue-management.md
  pages/guides/planner-evaluation.md
  pages/guides/skill-planner.md
  pages/reference/review-output-example.md
  pages/reference/riverbed-storage.md
  pages/reference/skill-metadata.md
  pages/reference/skills-catalog.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: strengthen skill authoring guidance
  pages/guides/write-a-skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align skill authoring guide with schema
  pages/guides/write-a-skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify docs/ as internal and consolidate public docs under pages/ (#147)
  README.md
  docs/README.md
  docs/architecture.md
  docs/issue-management.md
  docs/skills-catalog.md
  pages/guides/_meta.json
  pages/guides/governance/_meta.json
  pages/guides/governance/issue-labels.md
  pages/guides/governance/issue-management.md
  pages/guides/planner-evaluation.md
  pages/guides/skill-planner.md
  pages/guides/write-a-skill.md
  pages/index.md
  pages/reference/_meta.json
  pages/reference/review-output-example.md
  pages/reference/riverbed-storage.md
  pages/reference/skill-metadata.md
  pages/reference/skills-catalog.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add fixtures eval and harden core skills
  README.md
  package.json
  scripts/evaluate-review-fixtures.mjs
  skills/downstream/rr-downstream-test-existence-001.md
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  src/cli.mjs
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  src/lib/review-fixtures-eval.mjs
  tests/fixtures/review-eval/cases.json
  tests/fixtures/review-eval/diffs/observability-catch-with-logging.diff
  tests/fixtures/review-eval/diffs/secrets-env-reference.diff
  tests/fixtures/review-eval/diffs/tests-changed-too.diff
  tests/review-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
