Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(gate): review pipeline が deterministic 実行を二重ゲート越しに消費する (#1401)
  runners/github-action/dist/815.index.mjs
  runners/github-action/dist/815.index.mjs.map
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/944.index.mjs
  runners/github-action/dist/944.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
  src/lib/deterministic-command-orchestrator.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/run-gate.mjs
  tests/run-gate.test.mjs
Due: none

fix(gate): deterministic 実行の fail-safe と二重ゲート canary を追加 (#1401)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/deterministic-exec-gate.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  tests/deterministic-exec-gate.test.mjs
Due: none

feat(gate): review pipeline が deterministic 実行を二重ゲート越しに消費する (#1401) (#1434)
  runners/github-action/dist/815.index.mjs
  runners/github-action/dist/815.index.mjs.map
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/944.index.mjs
  runners/github-action/dist/944.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
  src/lib/deterministic-command-orchestrator.mjs
  src/lib/deterministic-exec-gate.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/run-gate.mjs
  tests/deterministic-exec-gate.test.mjs
  tests/run-gate.test.mjs
Due: none

feat(action): deterministic 実行の opt-in を CI に dark-launch 配線する (#1401)
  docs/development/1401-deterministic-command-execution-design.md
  runners/github-action/action.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(action): trusted_tree が PR head と一致したら executor を OFF にする (#1401)
  runners/github-action/action.yml
Due: prettier --write

fix(action): opt-in 入力を env 経由にしシェルインジェクション面を閉じる (#1401)
  docs/development/1401-deterministic-command-execution-design.md
  runners/github-action/action.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(action): deterministic 実行の opt-in を CI に dark-launch 配線する (#1401) (#1435)
  docs/development/1401-deterministic-command-execution-design.md
  runners/github-action/action.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(loop): Claude Code loop 設計と既存契約の対応表を追記する (#1428)
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(loop): Claude Code loop 設計と既存契約の対応表を追記する (#1428) (#1436)
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(loop): verdict 対応を ESCALATE↔needs_review / NO_GO↔fail に訂正する (#1428)
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci(test): test-isolation=none で node:test IPC flake を根治する (#1415)
  .github/workflows/test.yml
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(loop): verdict 対応を ESCALATE↔needs_review / NO_GO↔fail に訂正する (#1428) (#1437)
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: engines を engines.node に正確化する (#1415, gemini 指摘)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci(test): test-isolation=none で node:test IPC flake を根治する (#1415) (#1438)
  .github/workflows/test.yml
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 2026-07-07 retrospective + 承認ゲート/matrix-protection guard を追加する
  CLAUDE.md
  docs/development/retrospectives/2026-07-07.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(hygiene): phantom-dependency 検出を追加し yaml を宣言する (#1401)
  package-lock.json
  package.json
  scripts/check-code-hygiene.mjs
  tests/check-code-hygiene.test.mjs
Due: prettier --write

docs: 2026-07-07 retrospective + 承認ゲート/matrix-protection guard を追加する (#1439)
  CLAUDE.md
  docs/development/retrospectives/2026-07-07.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 承認ゲート guard の head SHA 取得を headRefOid に修正する (gemini #1439)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(deps): regenerate lockfile with Node 22 to sync conventional-commits-parser@6.4.0
  package-lock.json
Due: prettier --write

chore(hygiene): phantom-dependency 検出を追加し yaml を宣言する (#1401) (#1440)
  package-lock.json
  package.json
  scripts/check-code-hygiene.mjs
  tests/check-code-hygiene.test.mjs
Due: prettier --write

docs: 承認ゲート guard の head SHA 取得を headRefOid に修正する (gemini #1439) (#1441)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: plugin アセット登録の checklist と /register-plugin-asset コマンドを追加する
  .claude/commands/README.md
  .claude/commands/register-plugin-asset.md
  docs/development/plugin-asset-registration-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): plugin:validate に command/agent の逆ドリフト検査を追加する
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

fix(command): allowed-tools に plugin:sync を追加する (gemini #1442)
  .claude/commands/register-plugin-asset.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(plugin): checkAssetRegistration を想定外型に対して堅牢化する (gemini #1443)
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

fix(plugin): 逆ドリフト検査を配列要素の非文字列にも堅牢化する
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

docs: レビュー指摘反映（allowed-tools 規約統一・checklist 網羅性補強）
  .claude/commands/register-plugin-asset.md
  docs/development/plugin-asset-registration-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: plugin アセット登録 checklist と /register-plugin-asset コマンドを追加する (#1442)
  .claude/commands/README.md
  .claude/commands/register-plugin-asset.md
  docs/development/plugin-asset-registration-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): plugin:validate に command/agent の逆ドリフト検査を追加する (#1443)
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

docs: register-plugin-asset を CLAUDE.md のコマンド表に追記する
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: register-plugin-asset を CLAUDE.md のコマンド表に追記する (#1445)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: review-team の実行方法を配布方針（npm 未公開）に整合する (#1446)
  commands/review-team.md
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: gemini 指摘対応（absent→存在しない・ロール明示例復活）と manifest 再生成
  commands/review-team.md
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: review-team の実行方法を配布方針（npm 未公開）に整合する (#1447)
  commands/review-team.md
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(ci): scan の HARDCODED_SECRET 誤検出を ignore_paths に追加する
  .plugin-scanner.toml
Due: none

fix(ci): scan の HARDCODED_SECRET 誤検出を ignore_paths に追加する (#1448)
  .plugin-scanner.toml
Due: none

docs: --no-verify が manifest 自動再生成を bypass する学びを記録する
  AGENTS.md
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: verification 表の manifest 行を簡潔化する (gemini #1450)
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: --no-verify が manifest 自動再生成を bypass する学びを記録する (#1450)
  AGENTS.md
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
