Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

feat: add Copilot instructions and agents to integrate with skills
  .github/agents/river-reviewer.agent.md
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/js-ts.instructions.md
  .github/instructions/skills.instructions.md
  .github/prompts/review.prompt.md
  .github/prompts/skill.prompt.md
  .vscode/settings.json
  COMMIT_MESSAGE_DRAFT.txt
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: address review feedback (settings comments, remove draft)
  COMMIT_MESSAGE_DRAFT.txt
Due: none

docs(vscode): add comments about Copilot experimental settings requirements
  .vscode/settings.json
Due: prettier --write

chore: add codex/claude project instructions
  .claude/agents/river-reviewer.md
  .claude/commands/review-local.md
  .claude/commands/skill.md
  .claude/settings.json
  .codex/AGENTS.md
  .codex/config.toml
  .gitignore
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: consolidate instructions to AGENTS.md as Single Source of Truth
  .codex/AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: address review comments on PR #201
  .github/instructions/skills.instructions.md
  .github/prompts/skill.prompt.md
  .vscode/settings.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: improve provider instructions structure
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: simplify Copilot auto-approve commands
  .vscode/settings.json
Due: prettier --write

fix(docs): update project link to repository Projects page to resolve lychee 404 (#198)
  README.en.md
  README.md
  pages/reference/_meta.json
  pages/reference/evaluation-fixture-format.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): update project link to repository Projects page to resolve lychee 404 (#198) (#203)
  README.en.md
  README.md
  pages/reference/_meta.json
  pages/reference/evaluation-fixture-format.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Fix link check failure for user project board URL (#202)
  .lycheeignore
Due: none

chore: harden docs routing and checks
  .github/workflows/link-check.yml
  CONTINUITY.md
  docusaurus.config.js
  pages/guides/deploy-docs-vercel.md
  pages/index.md
  sidebars.js
  src/pages/index.js
  vercel.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: update continuity ledger
  CONTINUITY.md
  docusaurus.config.js
  src/pages/index.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: implement Skill-based Architecture and CLI command
  package-lock.json
  package.json
  src/ai/factory.mjs
  src/cli.mjs
  src/config/default.mjs
  src/config/loader.mjs
  src/config/schema.mjs
  src/core/skill-dispatcher.mjs
  src/prompts/buildSystemPrompt.mjs
  src/types/config.ts
Due: prettier --write

fix: restore backward compatibility and handle empty skills
  src/config/default.mjs
  src/config/loader.mjs
  src/config/schema.mjs
  src/core/skill-dispatcher.mjs
Due: none

fix: remove duplicate schema definitions in src/config/schema.mjs
  src/config/schema.mjs
Due: none

feat(core): implement skill-based architecture support
  src/ai/factory.mjs
  src/cli.mjs
  src/config/default.mjs
  src/config/loader.mjs
  src/core/skill-dispatcher.mjs
Due: none

chore(scripts): add issue closing helper script
  .github/CLOSE_ISSUES.md
  scripts/close-issues.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(skills): improve dispatcher performance and factory key injection
  src/ai/factory.mjs
  src/config/loader.mjs
  src/core/skill-dispatcher.mjs
  src/types/config.ts
Due: prettier --write

docs: address review feedback for /docs routing
  .github/workflows/link-check.yml
  docusaurus.config.js
  pages/guides/deploy-docs-vercel.en.md
  pages/guides/deploy-docs-vercel.md
  pages/index.en.md
  src/pages/index.js
  vercel.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: correct docs home link in English index
  pages/index.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: use absolute docs home link in English index
  pages/index.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Improve docs routing and link quality gates (#204)
  .github/workflows/link-check.yml
  CONTINUITY.md
  docusaurus.config.js
  pages/guides/deploy-docs-vercel.en.md
  pages/guides/deploy-docs-vercel.md
  pages/index.en.md
  pages/index.md
  sidebars.js
  src/pages/index.js
  vercel.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: default siteUrl for Vercel builds
  docusaurus.config.js
Due: prettier --write

fix(prompts): fix indentation in system prompt template
  src/prompts/buildSystemPrompt.mjs
Due: none

chore: set Vercel default domain to river-reviewer
  docusaurus.config.js
Due: prettier --write

refactor: clarify siteUrl resolution for Vercel
  docusaurus.config.js
Due: prettier --write

fix: Vercel siteUrl fallback for ai-review-kit (#206)
  docusaurus.config.js
Due: prettier --write

chore: pin siteUrl to river-reviewer.vercel.app on Vercel
  docusaurus.config.js
Due: prettier --write

chore: pin Vercel siteUrl to river-reviewer.vercel.app
  docusaurus.config.js
Due: prettier --write

chore: use Vercel preview URL when available
  docusaurus.config.js
Due: prettier --write

chore: pin Vercel siteUrl to river-reviewer.vercel.app (#207)
  docusaurus.config.js
Due: prettier --write

fix: use root baseUrl on Vercel
  docusaurus.config.js
Due: prettier --write

feat: implement Skill-based Architecture (#205)
  .github/CLOSE_ISSUES.md
  package-lock.json
  package.json
  scripts/close-issues.sh
  src/ai/factory.mjs
  src/cli.mjs
  src/config/default.mjs
  src/config/loader.mjs
  src/config/schema.mjs
  src/core/skill-dispatcher.mjs
  src/prompts/buildSystemPrompt.mjs
  src/types/config.ts
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: pin engines.node to 20.x for Vercel
  package.json
Due: prettier --write

chore: pin engines.node to 20.x (#208)
  docusaurus.config.js
  package.json
Due: prettier --write

fix: set Vercel baseUrl to root and pin node 20.x
  docusaurus.config.js
Due: prettier --write

feat(docs): enable docs-only mode at root
  docusaurus.config.js
  src/pages/index.js
Due: prettier --write
