Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

feat(feedback): 未一致 findingFingerprint を無言にせず報告する (#1883)
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/shadow-aggregate.schema.json
  src/cli/commands/evolve.mjs
  src/cli/commands/feedback.mjs
  src/lib/finding-factory.mjs
  src/lib/shadow-aggregate.mjs
  tests/feedback-fingerprint-algo-mismatch.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(reference): config-schema の model.provider をレビュー経路の実態へ揃える
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: judgment placement の SSoT 宣言・節冒頭の HITL 明示・関連ページ・evaluationType reference を追加する
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/judgment-placement.en.md
  pages/explanation/judgment-placement.md
  pages/reference/metadata-fields.en.md
  pages/reference/metadata-fields.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(reference): config-schema の model.provider をレビュー経路の実態へ揃える (#1892)
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: judgment placement の SSoT 宣言・節冒頭の HITL 明示・関連ページ・evaluationType reference を追加する (#1893)
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/judgment-placement.en.md
  pages/explanation/judgment-placement.md
  pages/reference/metadata-fields.en.md
  pages/reference/metadata-fields.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review-team): マージ時に scope を fail-safe 合成し in-diff を優先表示する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  src/lib/team-lead-synthesizer.mjs
  tests/merge-findings.test.mjs
  tests/team-lead-synthesizer.test.mjs
Due: none

feat(meta): guard 台帳を期限付きの決定全般へ広げる
  CLAUDE.md
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review-team): マージ時に scope を fail-safe 合成し in-diff を優先表示する (#1894)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  src/lib/team-lead-synthesizer.mjs
  tests/merge-findings.test.mjs
  tests/team-lead-synthesizer.test.mjs
Due: none

feat(meta): guard 台帳を期限付きの決定全般へ広げる (#1895)
  CLAUDE.md
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 転記事故の非頻度属性と不変条件テストの検査対象をチェック観点へ追記する
  docs/development/heuristic-detector-checklist.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 転記事故の非頻度属性と不変条件テストの検査対象をチェック観点へ追記する (#1897)
  docs/development/heuristic-detector-checklist.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): dist に焼き込まれる作業ディレクトリ名を正規化する
  docs/development/dist-check-rebuild-guide.md
  scripts/normalize-dist.mjs
  tests/normalize-dist.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): dist に焼き込まれる作業ディレクトリ名を正規化する (#1898)
  docs/development/dist-check-rebuild-guide.md
  scripts/normalize-dist.mjs
  tests/normalize-dist.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(cli): parseArgs のコマンド別語彙を宣言表へ移す
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

test(cli): eager コマンド集合と成功側ケース件数に pin を足す
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

refactor(cli): parseArgs のコマンド別オプション定義を宣言表へ移す（機能変更なし） (#1901)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

feat(skills): 検査器の検出力をレビューする detector-detection-power を追加
  docs/data/skill-manifest.json
  docs/skills-structure.md
  pages/reference/skills-catalog.md
  skills/midstream/detector-detection-power/SKILL.md
  skills/midstream/detector-detection-power/fixtures/01-unverified-detection-reduction-should-detect.md
  skills/midstream/detector-detection-power/fixtures/02-unproven-guard-detection-power-should-detect.md
  skills/midstream/detector-detection-power/fixtures/03-justified-reduction-and-proven-guard-should-not-detect.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(cli): skills resolve のオプション解析を関数へ抽出する
  src/cli.mjs
Due: none

refactor(cli): evolve のオプション解析を関数へ抽出する
  src/cli.mjs
Due: none

refactor(cli): promote のオプション解析を関数へ抽出する
  src/cli.mjs
Due: none

refactor(cli): feedback のオプション解析を関数へ抽出する
  src/cli.mjs
Due: none

refactor(cli): suppression のオプション解析を関数へ抽出する
  src/cli.mjs
Due: none

chore(action): 抽出後の src/cli.mjs で dist を再ビルドする
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

refactor(cli): parseArgs のコマンド別検証ブロック 5 面を関数へ抽出する（振る舞い不変） (#1905)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

fix(skills): detector-detection-power の委譲境界と根拠源をレビュー指摘どおりに修正
  docs/data/skill-manifest.json
  skills/midstream/detector-detection-power/SKILL.md
  skills/midstream/detector-detection-power/fixtures/01-unverified-detection-reduction-should-detect.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): 検査器そのものの検出力を検証する detector-detection-power を追加 (#1903)
  docs/data/skill-manifest.json
  docs/skills-structure.md
  pages/reference/skills-catalog.md
  skills/midstream/detector-detection-power/SKILL.md
  skills/midstream/detector-detection-power/fixtures/01-unverified-detection-reduction-should-detect.md
  skills/midstream/detector-detection-power/fixtures/02-unproven-guard-detection-power-should-detect.md
  skills/midstream/detector-detection-power/fixtures/03-justified-reduction-and-proven-guard-should-not-detect.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(textlint): docs/** の prh を有効化し語境界を厳格化する (#1786 段階2-a)
  docs/CLI-architecture.md
  tests/prh-rules-canary.test.mjs
  tools/prh-rules/index.yml
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): semantic precision pass の責務境界を ADR-007 として確定する
  docs/adr/007-semantic-precision-pass.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(textlint): docs/** の prh を有効化し語境界を厳格化する (#1786 段階2-a) (#1907)
  docs/CLI-architecture.md
  tests/prh-rules-canary.test.mjs
  tools/prh-rules/index.yml
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): runs diff がオプションを run ID として飲み込む問題を直す (#1759 B2)
  src/cli.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

docs(adr): semantic precision pass の責務境界を ADR-007 として確定する (#1909)
  docs/adr/007-semantic-precision-pass.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): runs diff がオプションを run ID として飲み込む問題を直す (#1910)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none
