Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

fix(deps): bump brace-expansion to 5.0.7 for GHSA advisory (alert #103)
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

docs: review-core が globs 全域一致を使う理由を注記する
  .claude/rules/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(deps): bump brace-expansion to 5.0.7 for GHSA advisory (alert #103) (#1632)
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

docs: review-core が globs 全域一致を使う理由を注記する (#1633)
  .claude/rules/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(riverbed): promotion_candidate の Retire lifecycle 自動遷移 (Phase 3)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion.mjs
  tests/cli-promote-retire.test.mjs
  tests/promotion-retire.test.mjs
Due: none

fix(riverbed): 効果測定を cluster 単位化・fingerprint dedup・needs_review 復帰 (Phase 3)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/promote.mjs
  src/lib/promotion.mjs
  src/lib/riverbed-memory.mjs
  tests/promotion-retire.test.mjs
  tests/riverbed-memory.test.mjs
Due: none

feat(riverbed): promotion_candidate の Retire lifecycle 自動遷移 (Phase 3, #1568-C) (#1641)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion.mjs
  src/lib/riverbed-memory.mjs
  tests/cli-promote-retire.test.mjs
  tests/promotion-retire.test.mjs
  tests/riverbed-memory.test.mjs
Due: none

feat(review): 不可視 Unicode コード注入（GlassWorm型）検出を追加する
  docs/data/skill-manifest.json
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  pages/reference/skills-catalog.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/invisible-unicode-injection/SKILL.md
  skills/midstream/invisible-unicode-injection/eval/promptfoo.yaml
  skills/midstream/invisible-unicode-injection/fixtures/01-glassworm-payload-happy.diff
  skills/midstream/invisible-unicode-injection/fixtures/01-glassworm-payload-happy.md
  skills/midstream/invisible-unicode-injection/fixtures/02-emoji-i18n-false-positive.diff
  skills/midstream/invisible-unicode-injection/fixtures/02-emoji-i18n-false-positive.md
  skills/midstream/invisible-unicode-injection/golden/01-glassworm-payload-happy.md
  skills/midstream/invisible-unicode-injection/golden/02-emoji-i18n-false-positive.md
  skills/midstream/invisible-unicode-injection/prompt/system.md
  skills/midstream/invisible-unicode-injection/prompt/user.md
  skills/registry.yaml
  src/lib/heuristic-review.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(review): 不可視 Unicode 検出にタグ文字・双方向マーク・VS 補助面等を追加する
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/invisible-unicode-injection/SKILL.md
  skills/midstream/invisible-unicode-injection/prompt/system.md
  skills/midstream/invisible-unicode-injection/prompt/user.md
  skills/registry.yaml
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(review): 不可視 Unicode コード注入（GlassWorm型）検出を追加する (#1642)
  docs/data/skill-manifest.json
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  pages/reference/skills-catalog.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/invisible-unicode-injection/SKILL.md
  skills/midstream/invisible-unicode-injection/eval/promptfoo.yaml
  skills/midstream/invisible-unicode-injection/fixtures/01-glassworm-payload-happy.diff
  skills/midstream/invisible-unicode-injection/fixtures/01-glassworm-payload-happy.md
  skills/midstream/invisible-unicode-injection/fixtures/02-emoji-i18n-false-positive.diff
  skills/midstream/invisible-unicode-injection/fixtures/02-emoji-i18n-false-positive.md
  skills/midstream/invisible-unicode-injection/golden/01-glassworm-payload-happy.md
  skills/midstream/invisible-unicode-injection/golden/02-emoji-i18n-false-positive.md
  skills/midstream/invisible-unicode-injection/prompt/system.md
  skills/midstream/invisible-unicode-injection/prompt/user.md
  skills/registry.yaml
  src/lib/heuristic-review.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: ignore codex login artifacts (auth.json ほか) を gitignore に追加する
  .gitignore
Due: none

docs(development): add #1574 review evolution cycle p0 design contract
  docs/development/1574-p0-design-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: ignore codex login artifacts (auth.json ほか) を gitignore に追加する (#1645)
  .gitignore
Due: none

docs(development): add #1574 review evolution cycle p0 design contract (#1646)
  docs/development/1574-p0-design-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): ask-codex の macOS 非互換 timeout 指示と codex login の CODEX_HOME 欠落を修正する
  .claude/skills/ask-codex/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): ask-codex の macOS 非互換 timeout 指示と codex login の CODEX_HOME 欠落を修正する (#1647)
  .claude/skills/ask-codex/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): finding に scope（in-diff / pre-existing）を additive に追加する
  docs/review/output-format.md
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/finding-format.test.mjs
  tests/verifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(promote): river promote propose を追加し candidate ID を content hash 化する
  docs/development/1574-p0-design-contract.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/feedback-rule-candidates.mjs
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion-candidates.mjs
  tests/cli-promote-propose.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(evolve): #1574 P1 の read-only shadow aggregate を追加する
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/shadow-aggregate.schema.json
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/shadow-aggregate.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): scope 機械判定の tolerance を 0 にし誤判定と後方互換破壊を修正する
  docs/review/output-format.md
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/finding-format.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/verifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(promote): propose の入力検証・重複証拠・収束監査を強化する
  docs/development/1574-p0-design-contract.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/riverbed-entry.schema.json
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion-candidates.mjs
  tests/cli-promote-propose.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): finding に scope（in-diff / pre-existing）を additive に追加する (#1648)
  docs/review/output-format.md
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/finding-format.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/verifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(evolve): shadow aggregate の trust 昇格経路と集計の非決定性を塞ぐ
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/shadow-aggregate.schema.json
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/shadow-aggregate.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): main 取り込み後の github-action dist を再ビルドする
  runners/github-action/dist/index.mjs.map
Due: none

feat(promote): river promote propose を追加し candidate ID を content hash 化する (#1649)
  docs/development/1574-p0-design-contract.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/riverbed-entry.schema.json
  scripts/feedback-rule-candidates.mjs
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion-candidates.mjs
  tests/cli-promote-propose.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(evolve): #1574 P1 の read-only shadow aggregate を追加する (#1650)
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/shadow-aggregate.schema.json
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/shadow-aggregate.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(evolve): #1574 range レビュー指摘に対応する（hash 再導出・shadow→propose 接続・命名・CLI 堅牢性）
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/riverbed-entry.schema.json
  schemas/shadow-aggregate.schema.json
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion-candidates.mjs
  src/lib/shadow-aggregate.mjs
  tests/cli-promote-propose.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(evolve): #1574 range レビュー指摘に対応する（hash 再導出・shadow→propose 接続・命名・CLI 堅牢性） (#1652)
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/riverbed-entry.schema.json
  schemas/shadow-aggregate.schema.json
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion-candidates.mjs
  src/lib/shadow-aggregate.mjs
  tests/cli-promote-propose.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): reviewSignals の入力契約を文書化し Lens 写像表の充足度を registry skill 込みで再計算する
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): reviewSignals の入力契約を文書化し Lens 写像表の充足度を registry skill 込みで再計算する (#1655)
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(evolve): paired replay と immutable Experiment Manifest を追加する (#1574 P2)
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/paired-replay.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(evolve): paired replay の vacuous pass と材料欠落を塞ぐ (#1574 P2 レビュー対応)
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/paired-replay.mjs
  src/lib/promotion-candidates.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(evolve): paired replay と immutable Experiment Manifest を追加する (#1574 P2) (#1656)
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/paired-replay.mjs
  src/lib/promotion-candidates.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(evolve): paired replay の clusterKey 正規化を propose と共有し range レビュー指摘を修正する
  docs/development/1574-p1-shadow-aggregate.md
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  schemas/shadow-aggregate.schema.json
  src/lib/paired-replay.mjs
  src/lib/promotion-candidates.mjs
  src/lib/shadow-aggregate.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(evolve): paired replay の clusterKey 正規化を propose と共有し range レビュー指摘を修正する (#1658)
  docs/development/1574-p1-shadow-aggregate.md
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  schemas/shadow-aggregate.schema.json
  src/lib/paired-replay.mjs
  src/lib/promotion-candidates.mjs
  src/lib/shadow-aggregate.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 概念の再実装を禁じる SSoT インポートガードを CLAUDE.md に追加する
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 概念の再実装を禁じる SSoT インポートガードを CLAUDE.md に追加する (#1668)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
