Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(cli): ループ後の検査を src/cli/parse/ へ抽出する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/parse/postprocess.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

refactor(cli): ループ後の検査を src/cli/parse/ へ抽出する (#2181)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/parse/postprocess.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

docs(development): exit code pin の限界と変異の適用確認を規律へ追加する
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): exit code pin の限界と変異の適用確認を規律へ追加する (#2182)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(tests): オプション語彙の走査でコメントを除外する
  tests/cli-parse-args.test.mjs
Due: none

fix(tests): オプション語彙の走査でコメントを除外する (#2183)
  tests/cli-parse-args.test.mjs
Due: none

chore(deps): 依存の脆弱性 alert 5 件を解消する
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

chore(deps): 依存の脆弱性 alert 5 件を解消する (#2185)
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

feat(scripts): heredoc サイズの機械検査を code hygiene へ追加する
  scripts/check-code-hygiene.mjs
  tests/check-code-hygiene.test.mjs
Due: none

feat(scripts): heredoc サイズの機械検査を code hygiene へ追加する (#2186)
  scripts/check-code-hygiene.mjs
  tests/check-code-hygiene.test.mjs
Due: none

docs(agents): 規律還流の編集を Edit Scope の例外として明記する
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(agents): 規律還流の編集を Edit Scope の例外として明記する (#2188)
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(claude): 承認済み計画が個別確認を覆うことを明記する
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(claude): 承認済み計画が個別確認を覆うことを明記する (#2189)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(claude): 停止ガードの散文を判定と入口へ圧縮する
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(claude): 停止ガードの散文を判定と入口へ圧縮する (#2190)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): push 済み commit を amend しない規律を追加する
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): push 済み commit を amend しない規律を追加する (#2191)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
