Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(plugin): treat null as missing in required bundle field check
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

docs: avoid doubled particles in auto-rebuild section
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(pr): add description-vs-actual consistency checks to /pr and pr-description skill (#1379)
  commands/pr.md
  docs/data/skill-manifest.json
  skills/midstream/pr-description/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(lint): bot 頻出指摘を機械化する code hygiene checker を追加
  package.json
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/apply-feedback.mjs
  scripts/check-code-hygiene.mjs
  scripts/evaluate-convergence-efficiency.mjs
  scripts/pack-tier-check.mjs
  scripts/suppression-analytics.mjs
  scripts/validate-promptfoo-configs.mjs
  src/lib/review-engine.mjs
  src/tracing.mjs
  tests/agent-skill-bridge.test.mjs
  tests/check-code-hygiene.test.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-review-plan.test.mjs
  tests/diff-optimizer.test.mjs
  tests/evaluate-all.test.mjs
  tests/git.test.mjs
  tests/result-store.test.mjs
  tests/review-artifact-schema.test.mjs
Due: prettier --write

feat(commands): add /verify-agent-report repo-dev command (#1377)
  .claude/commands/README.md
  .claude/commands/verify-agent-report.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(commands): add /merge-check repo-dev command for pre-merge checklist
  .claude/commands/README.md
  .claude/commands/merge-check.md
  CLAUDE.md
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): add bundle field allowlist and cross-manifest parity checks (#1378)
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

feat(ci): auto-rebuild github-action dist on stale PRs (#1380)
  .github/workflows/auto-rebuild-action-dist.yml
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(validate): mechanize skill fixture/description drift guard (#1381)
  scripts/validate-skills.mjs
  tests/validate-fixture-drift.test.mjs
Due: none

feat(commands): add /merge-check repo-dev command for pre-merge checklist (#1383)
  .claude/commands/README.md
  .claude/commands/merge-check.md
  CLAUDE.md
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

perf(lint): walk を Dirent 化してドットディレクトリを確実に prune
  scripts/check-code-hygiene.mjs
  tests/check-code-hygiene.test.mjs
Due: none

fix(scripts): segment-match agent-skills skip and trim resolved flat-path allowlist
  README.en.md
  README.md
  scripts/check-skill-id-references.mjs
  scripts/validate-skills.mjs
  tests/validate-skills-globs.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(lint): bot 頻出指摘を機械化する code hygiene checker を追加 (#1382)
  package.json
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/apply-feedback.mjs
  scripts/check-code-hygiene.mjs
  scripts/evaluate-convergence-efficiency.mjs
  scripts/pack-tier-check.mjs
  scripts/suppression-analytics.mjs
  scripts/validate-promptfoo-configs.mjs
  src/lib/review-engine.mjs
  src/tracing.mjs
  tests/agent-skill-bridge.test.mjs
  tests/check-code-hygiene.test.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-review-plan.test.mjs
  tests/diff-optimizer.test.mjs
  tests/evaluate-all.test.mjs
  tests/git.test.mjs
  tests/result-store.test.mjs
  tests/review-artifact-schema.test.mjs
Due: prettier --write

fix(scripts): segment-match agent-skills skip and trim resolved flat-path allowlist (#1384)
  README.en.md
  README.md
  scripts/check-skill-id-references.mjs
  scripts/validate-skills.mjs
  tests/validate-skills-globs.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: mark awesome-codex-plugins listing as live and add README badge
  README.en.md
  README.md
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: drop dead #1247 issue links and fix em-dash spacing
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: mark awesome-codex-plugins listing as live and add README badge (#1385)
  README.en.md
  README.md
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: record external-listing submission PRs and their status
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: use full external links for submission PR refs in priority list
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: record external-listing submission PRs and their status (#1386)
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add coordinated launch execution playbook (Phase 8)
  docs/growth/launch-playbook.md
  docs/roadmap/oss-discovery-roadmap.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix JST conversion of PT launch window in playbook
  docs/growth/launch-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add coordinated launch execution playbook (Phase 8) (#1387)
  docs/growth/launch-playbook.md
  docs/roadmap/oss-discovery-roadmap.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add llms.txt for AI/LLM discoverability
  static/llms.txt
Due: none

docs: expand llms.txt with remaining guides and reference specs
  static/llms.txt
Due: none

docs: add llms.txt for AI/LLM discoverability (#1388)
  static/llms.txt
Due: none

fix(dashboard): replace fabricated stats with real, offline-verifiable data
  docs/data/dashboard-stats.json
  docs/data/dogfooding/README.md
  scripts/generate-dashboard-data.js
  src/components/Dashboard/DashboardPage.jsx
  src/components/Dashboard/PhaseDistribution.jsx
  src/components/Dashboard/ReviewStatsCard.jsx
  src/components/Dashboard/SkillHeatmap.jsx
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(dashboard): guard run-artifact parsing and switch skills to findings when runs exist
  scripts/generate-dashboard-data.js
Due: prettier --write

fix(dashboard): replace fabricated stats with real, offline-verifiable data (#1389)
  docs/data/dashboard-stats.json
  docs/data/dogfooding/README.md
  scripts/generate-dashboard-data.js
  src/components/Dashboard/DashboardPage.jsx
  src/components/Dashboard/PhaseDistribution.jsx
  src/components/Dashboard/ReviewStatsCard.jsx
  src/components/Dashboard/SkillHeatmap.jsx
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add honest AI code review tools comparison page (ja+en)
  pages/comparison/ai-code-review-tools.en.md
  pages/comparison/ai-code-review-tools.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(comparison): bring the Japanese page to parity with English
  pages/comparison/ai-code-review-tools.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add honest AI code review tools comparison page (ja+en) (#1390)
  pages/comparison/ai-code-review-tools.en.md
  pages/comparison/ai-code-review-tools.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add reproducible detector evaluation report (ja+en)
  pages/reference/detector-evaluation-report.en.md
  pages/reference/detector-evaluation-report.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: make eval:fixtures exit cleanly and address self-review of the report
  pages/reference/detector-evaluation-report.en.md
  pages/reference/detector-evaluation-report.md
  scripts/evaluate-review-fixtures.mjs
  tests/detector-eval-report-counts.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add reproducible detector evaluation report (ja+en) (#1391)
  pages/reference/detector-evaluation-report.en.md
  pages/reference/detector-evaluation-report.md
  scripts/evaluate-review-fixtures.mjs
  sidebars.js
  tests/detector-eval-report-counts.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add use-case recipe library (ja+en)
  pages/use-cases/enforce-plan-conformance.en.md
  pages/use-cases/enforce-plan-conformance.md
  pages/use-cases/index.en.md
  pages/use-cases/index.md
  pages/use-cases/review-design-adrs-upstream.en.md
  pages/use-cases/review-design-adrs-upstream.md
  pages/use-cases/suppress-flaky-review-comments.en.md
  pages/use-cases/suppress-flaky-review-comments.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(use-cases): correct suppression severity semantics (review)
  pages/use-cases/suppress-flaky-review-comments.en.md
  pages/use-cases/suppress-flaky-review-comments.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add use-case recipe library (ja+en) (#1392)
  pages/use-cases/enforce-plan-conformance.en.md
  pages/use-cases/enforce-plan-conformance.md
  pages/use-cases/index.en.md
  pages/use-cases/index.md
  pages/use-cases/review-design-adrs-upstream.en.md
  pages/use-cases/review-design-adrs-upstream.md
  pages/use-cases/suppress-flaky-review-comments.en.md
  pages/use-cases/suppress-flaky-review-comments.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(growth): add submission drafts for awesome-claude-code, AlternativeTo, awesome-devsecops
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix CITATION.cff metadata and add a how-to-cite page (ja+en)
  CITATION.cff
  pages/reference/how-to-cite.en.md
  pages/reference/how-to-cite.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
