Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor: reorganize root directory — move docs, eval, specs, prh-rules, governance
  .textlintrc.json
  README.md
  docs/README.md
  docs/ai/eos-overview.md
  docs/architecture.md
  docs/development/skill-pack-design.md
  docs/eval/README.md
  docs/eval/rubric.yaml
  docs/governance/README.md
  docs/migration/skill-migration-guide.md
  docs/policy/DOCUMENTATION.md
  docs/specs/skill-yaml-spec.md
  governance/README.md
  index.html
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  pages/guides/use-skill-packs.en.md
  pages/guides/use-skill-packs.md
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  runners/cli/src/commands/create.mjs
  schemas/eval-ledger-entry.schema.json
  schemas/eval-rubric.schema.json
  scripts/create-skill.mjs
  scripts/templates/pack/README.md
  scripts/templates/pack/pack.yaml
  scripts/templates/skill/README.md
  scripts/templates/skill/SKILL.md
  scripts/templates/skill/eval/promptfoo.yaml
  scripts/templates/skill/prompt/system.md
  scripts/templates/skill/prompt/user.md
  scripts/templates/skill/skill.yaml
  skills/README.md
  tests/eval-rubric.test.mjs
  tools/prh-rules/index.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: address review findings for root-dir-cleanup
  docs/ai/eos-overview.md
  docs/eval/README.md
  docs/migration/skill-migration-guide.md
  docs/specs/skill-yaml-spec.md
  pages/guides/use-skill-packs.en.md
  pages/guides/use-skill-packs.md
  scripts/check-doc-placement.mjs
  scripts/templates/pack/README.md
  scripts/templates/skill/README.md
  scripts/templates/skill/skill.yaml
  tests/eval-rubric.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: reorganize root directory (#1253)
  .textlintrc.json
  README.md
  docs/README.md
  docs/ai/eos-overview.md
  docs/architecture.md
  docs/development/skill-pack-design.md
  docs/eval/README.md
  docs/eval/rubric.yaml
  docs/governance/README.md
  docs/migration/skill-migration-guide.md
  docs/policy/DOCUMENTATION.md
  docs/specs/skill-yaml-spec.md
  governance/README.md
  index.html
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  pages/guides/use-skill-packs.en.md
  pages/guides/use-skill-packs.md
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  runners/cli/src/commands/create.mjs
  schemas/eval-ledger-entry.schema.json
  schemas/eval-rubric.schema.json
  scripts/check-doc-placement.mjs
  scripts/create-skill.mjs
  scripts/templates/pack/README.md
  scripts/templates/pack/pack.yaml
  scripts/templates/skill/README.md
  scripts/templates/skill/SKILL.md
  scripts/templates/skill/eval/promptfoo.yaml
  scripts/templates/skill/prompt/system.md
  scripts/templates/skill/prompt/user.md
  scripts/templates/skill/skill.yaml
  skills/README.md
  tests/eval-rubric.test.mjs
  tools/prh-rules/index.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(deps): add npm overrides for serialize-javascript, qs, uuid
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add npm overrides for serialize-javascript, qs, uuid (#1257)
  package-lock.json
  package.json
Due: prettier --write

chore(process): retrospective 2026-06-22-23 + plugin bundle mirror guard
  CLAUDE.md
  docs/development/retrospectives/2026-06-22-23.md
  scripts/validate-plugin-manifest.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(plugin): use fileExists (stat+isFile) for composerIcon asset check
  scripts/validate-plugin-manifest.mjs
Due: none

chore(process): retrospective 2026-06-22-23 + plugin bundle mirror guard (#1259)
  CLAUDE.md
  docs/development/retrospectives/2026-06-22-23.md
  scripts/validate-plugin-manifest.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add security practices and analysis tooling for OpenSSF badge
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add security practices and analysis tooling for OpenSSF badge (#1260)
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: remove npm publish workflow and mark runner packages private
  .github/workflows/npm-publish.yml
  runners/cli/package.json
  runners/core/package.json
  runners/node-api/package.json
Due: prettier --write

chore: remove npm publish workflow and mark runner packages private (#1261)
  .github/workflows/npm-publish.yml
  runners/cli/package.json
  runners/core/package.json
  runners/node-api/package.json
Due: prettier --write

ci: add OpenSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: prettier --write

ci: add OpenSSF Scorecard workflow (#1263)
  .github/workflows/scorecard.yml
Due: prettier --write

fix(ci): update scorecard-action and codeql-action to valid SHAs
  .github/workflows/scorecard.yml
Due: prettier --write

fix(ci): update scorecard-action and codeql-action to valid SHAs (#1264)
  .github/workflows/scorecard.yml
Due: prettier --write

ci: improve OpenSSF Scorecard score
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/codeql.yml
  .github/workflows/hol-plugin-scanner.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please-kick.yml
  .github/workflows/release-please.yml
  .github/workflows/scorecard.yml
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: improve OpenSSF Scorecard score (#1266)
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/codeql.yml
  .github/workflows/hol-plugin-scanner.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please-kick.yml
  .github/workflows/release-please.yml
  .github/workflows/scorecard.yml
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(deps): add npm overrides for http-proxy-middleware and @babel/core
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add npm overrides for http-proxy-middleware and @babel/core (#1267)
  package-lock.json
  package.json
Due: prettier --write

docs: add OpenSSF Best Practices passing badge to README
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add OpenSSF Best Practices passing badge (#1268)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify OpenSSF trust signals and add Scorecard badge
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci(lychee): exclude OpenSSF Scorecard badge API (HEAD returns 405)
  .lychee.toml
Due: none

docs(en): add missing sections for parity with Japanese README
  README.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify OpenSSF trust signals and add Scorecard badge (#1270)
  .lychee.toml
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): add runtime Ajv validation for output.schema.json in formatJsonOutput
  src/cli.mjs
  tests/cli.test.mjs
Due: none

docs: add representative skills showcase page to pages/guides/
  pages/explanation/skills.md
  pages/guides/_meta.json
  pages/guides/representative-skills.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

build(action): regenerate dist after output.schema.json validation
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
Due: prettier --write

feat(cli): add runtime Ajv validation for output.schema.json in formatJsonOutput (#1271)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  src/cli.mjs
  tests/cli.test.mjs
Due: prettier --write

docs: add representative skills showcase page to pages/guides/ (#1272)
  pages/explanation/skills.md
  pages/guides/_meta.json
  pages/guides/representative-skills.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): add design memo for #1255 test-impact routing
  docs/development/1255-test-impact-routing-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add ask-codex skill to delegate reviews to Codex CLI
  .claude/skills/README.md
  .claude/skills/ask-codex/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(gitignore): ignore Codex runtime state from codex:exec
  .gitignore
Due: none

feat(skills): add ask-codex skill to delegate reviews to Codex CLI (#1274)
  .claude/skills/README.md
  .claude/skills/ask-codex/SKILL.md
  .gitignore
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): add design memo for #1255 test-impact routing (#1273)
  docs/development/1255-test-impact-routing-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
