Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): fixtures 第 4 波で S1 免除リストを空にする (#1850)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/downstream/coverage-gap/fixtures/01-retry-failure-path-uncovered-should-detect.md
  skills/downstream/coverage-gap/fixtures/02-failure-paths-already-covered-should-not-detect.md
  skills/downstream/test-existence/fixtures/01-new-handler-without-tests-should-detect.md
  skills/downstream/test-existence/fixtures/02-tests-included-in-diff-should-not-detect.md
  skills/midstream/component-variants-states/fixtures/01-missing-disabled-loading-should-detect.md
  skills/midstream/component-variants-states/fixtures/02-static-display-component-should-not-detect.md
  skills/midstream/cross-file-leakage/fixtures/01-renamed-export-callers-stale-should-detect.md
  skills/midstream/cross-file-leakage/fixtures/02-documented-dual-reference-should-not-detect.md
  skills/midstream/design-source-conformance/fixtures/01-off-scale-spacing-should-detect.md
  skills/midstream/design-source-conformance/fixtures/02-on-scale-values-should-not-detect.md
  skills/midstream/e2e-wiring/fixtures/01-metric-never-persisted-should-detect.md
  skills/midstream/e2e-wiring/fixtures/02-flagged-pause-documented-should-not-detect.md
  skills/midstream/refactor-claim-audit/fixtures/01-full-replacement-claim-refuted-should-detect.md
  skills/midstream/refactor-claim-audit/fixtures/02-documented-compat-alias-should-not-detect.md
  skills/midstream/review-automation-boundary/fixtures/01-lintable-residue-should-detect.md
  skills/midstream/review-automation-boundary/fixtures/02-rule-added-in-same-diff-should-not-detect.md
  skills/midstream/self-contradiction/fixtures/01-declared-rule-broken-in-same-file-should-detect.md
  skills/midstream/self-contradiction/fixtures/02-declared-exception-matched-should-not-detect.md
  skills/midstream/war-game/fixtures/01-idor-on-new-route-should-detect.md
  skills/midstream/war-game/fixtures/02-mitigation-present-in-diff-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(lint): docs textlint で 3 ルールを有効化する（段階 2 の段①）
  README.md
  docs/adr/002-offline-local-review-gate.md
  docs/data/dogfooding/README.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/retrospectives/2026-05-21-25.md
  docs/development/skill-severity-rubric.md
  docs/governance.md
  docs/growth/launch-playbook.md
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(lint): docs textlint で 3 ルールを有効化する（段階 2 の段①） (#1853)
  README.md
  docs/adr/002-offline-local-review-gate.md
  docs/data/dogfooding/README.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/retrospectives/2026-05-21-25.md
  docs/development/skill-severity-rubric.md
  docs/governance.md
  docs/growth/launch-playbook.md
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): 構造検証ゲート自身の無検査緑・SQL コメント誤認・SSoT 未更新を直す
  docs/development/s1-fixture-convention.md
  scripts/validate-skills.mjs
  tests/validate-fixture-diff-structure.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): レビュープロンプトの責務境界と初回導入範囲を ADR-006 に記録する
  docs/adr/006-model-aware-review-prompt-compiler.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(prompt): プロンプトの節生成を src/prompt/sections.mjs へ切り出す
  src/lib/review-engine.mjs
  src/prompt/sections.mjs
  tests/fixtures/prompt-golden/cases.mjs
  tests/fixtures/prompt-golden/full-en.txt
  tests/fixtures/prompt-golden/full-ja.txt
  tests/fixtures/prompt-golden/minimal.txt
  tests/fixtures/prompt-golden/no-skills.txt
  tests/prompt-sections.test.mjs
Due: none

fix(scripts): call site 走査器が正規表現内の引用符で検出漏れする不具合を直す
  scripts/lib/pipeline-call-sites.mjs
  tests/check-doc-enumerations.test.mjs
Due: none

docs(adr): buildPrompt の呼び出し行を実測値 :403 へ訂正する
  docs/adr/006-model-aware-review-prompt-compiler.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): キーワード直後の正規表現が除算と誤読される残穴を塞ぐ
  scripts/lib/pipeline-call-sites.mjs
  tests/check-doc-enumerations.test.mjs
Due: none

docs(adr): レビュープロンプトの責務境界と初回導入範囲を ADR-006 に記録する (#1863)
  docs/adr/006-model-aware-review-prompt-compiler.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): call site 走査器が正規表現内の引用符で検出漏れする不具合を直す (#1864)
  scripts/lib/pipeline-call-sites.mjs
  tests/check-doc-enumerations.test.mjs
Due: none

chore(prompt): 新テストを call site チェックリストへ登録し dist を再ビルドする
  docs/development/pipeline-params-checklist.md
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(prompt): モデル非依存の Review Request IR の骨格を置く
  src/prompt/review-request.mjs
Due: none

refactor(prompt): プロンプトの節生成を src/prompt/sections.mjs へ切り出す (#1866)
  docs/development/pipeline-params-checklist.md
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  src/prompt/sections.mjs
  tests/fixtures/prompt-golden/cases.mjs
  tests/fixtures/prompt-golden/full-en.txt
  tests/fixtures/prompt-golden/full-ja.txt
  tests/fixtures/prompt-golden/minimal.txt
  tests/fixtures/prompt-golden/no-skills.txt
  tests/prompt-sections.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(prompt): モデル非依存の Prompt Compiler を observe モードで導入する
  docs/development/pipeline-params-checklist.md
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/default.mjs
  src/config/schema.mjs
  src/lib/review-engine.mjs
  src/prompt/compiler.mjs
  src/prompt/profile-resolver.mjs
  src/prompt/profiles/generic.mjs
  src/prompt/profiles/openai.mjs
  src/prompt/renderers/generic.mjs
  src/prompt/renderers/openai.mjs
  src/prompt/renderers/shared.mjs
  tests/prompt-compiler-invariants.test.mjs
  tests/prompt-compiler-observe.test.mjs
  tests/prompt-compiler.test.mjs
  tests/prompt-profile-resolver.test.mjs
  tests/prompt-review-request.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(prompt): 不変条件の検査を振る舞いベースへ移し、抜け道を塞ぐ
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  tests/prompt-compiler-invariants.test.mjs
  tests/prompt-compiler-observe.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(prompt): モデル非依存の Prompt Compiler を observe モードで導入する (#1867)
  docs/development/pipeline-params-checklist.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/default.mjs
  src/config/schema.mjs
  src/lib/review-engine.mjs
  src/prompt/compiler.mjs
  src/prompt/profile-resolver.mjs
  src/prompt/profiles/generic.mjs
  src/prompt/profiles/openai.mjs
  src/prompt/renderers/generic.mjs
  src/prompt/renderers/openai.mjs
  src/prompt/renderers/shared.mjs
  src/prompt/review-request.mjs
  tests/prompt-compiler-invariants.test.mjs
  tests/prompt-compiler-observe.test.mjs
  tests/prompt-compiler.test.mjs
  tests/prompt-profile-resolver.test.mjs
  tests/prompt-review-request.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review-plan): replay / exec で engine の debug.execution 観測を引き継ぐ
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  src/lib/review-plan.mjs
  tests/review-plan-execution-observations.test.mjs
Due: none

fix(review-plan): replay / exec で engine の debug.execution 観測を引き継ぐ (#1871)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  src/lib/review-plan.mjs
  tests/review-plan-execution-observations.test.mjs
Due: none

feat(eval): legacy と compiled の paired 比較導線を足す
  docs/development/1860-prompt-compiler-paired.md
  docs/development/pipeline-params-checklist.md
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/90.index.mjs
  runners/github-action/dist/90.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/prompt-compiler-paired.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/prompt-compiler-paired.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eval): legacy と compiled の paired 比較導線を足す (#1873)
  docs/development/1860-prompt-compiler-paired.md
  docs/development/pipeline-params-checklist.md
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/90.index.mjs
  runners/github-action/dist/90.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/evolve.mjs
  src/lib/prompt-compiler-paired.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/prompt-compiler-paired.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): 受入基準を二段に分けて active の着手条件を確定する（ADR-006）
  docs/adr/006-model-aware-review-prompt-compiler.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): plangate-plan-integrity に正規化順序欠陥の fixture を 1 対追加する
  docs/data/skill-manifest.json
  skills/upstream/plangate-plan-integrity/eval/promptfoo.yaml
  skills/upstream/plangate-plan-integrity/fixtures/04-true-positive-normalization-order-conflict.md
  skills/upstream/plangate-plan-integrity/fixtures/05-false-positive-normalization-order-fixed.md
  skills/upstream/plangate-plan-integrity/golden/04-true-positive-normalization-order-conflict.md
  skills/upstream/plangate-plan-integrity/golden/05-false-positive-normalization-order-fixed.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(adr): 受入基準を二段に分けて active の着手条件を確定する（ADR-006） (#1874)
  docs/adr/006-model-aware-review-prompt-compiler.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): plangate-plan-integrity に正規化順序欠陥の fixture を 1 対追加する (#1875)
  docs/data/skill-manifest.json
  skills/upstream/plangate-plan-integrity/eval/promptfoo.yaml
  skills/upstream/plangate-plan-integrity/fixtures/04-true-positive-normalization-order-conflict.md
  skills/upstream/plangate-plan-integrity/fixtures/05-false-positive-normalization-order-fixed.md
  skills/upstream/plangate-plan-integrity/golden/04-true-positive-normalization-order-conflict.md
  skills/upstream/plangate-plan-integrity/golden/05-false-positive-normalization-order-fixed.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): fixture diff パーサの記法・構造カバレッジを広げる
  scripts/validate-skills.mjs
  tests/validate-fixture-diff-structure.test.mjs
Due: none

feat(prompt-compiler): compiled prompt の opt-in active モードを配線する
  docs/adr/006-model-aware-review-prompt-compiler.md
  docs/development/1860-prompt-compiler-paired.md
  docs/development/pipeline-params-checklist.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/90.index.mjs
  runners/github-action/dist/90.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/prompt-compiler-paired.mjs
  src/lib/review-engine.mjs
  tests/prompt-compiler-active.test.mjs
  tests/prompt-compiler-observe.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): fixture diff パーサの記法・構造カバレッジを広げる (#1877)
  scripts/validate-skills.mjs
  tests/validate-fixture-diff-structure.test.mjs
Due: none

feat(prompt-compiler): compiled prompt の opt-in active モードを配線する (#1878)
  docs/adr/006-model-aware-review-prompt-compiler.md
  docs/development/1860-prompt-compiler-paired.md
  docs/development/pipeline-params-checklist.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/90.index.mjs
  runners/github-action/dist/90.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/prompt-compiler-paired.mjs
  src/lib/review-engine.mjs
  tests/prompt-compiler-active.test.mjs
  tests/prompt-compiler-observe.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(pages): 英語版で欠落していた 5 件の節を補う
  pages/guides/governance/skill-policy.en.md
  pages/guides/representative-skills.en.md
  pages/guides/write-a-skill.en.md
  pages/reference/config-schema.en.md
  pages/reference/runner-cli-reference.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(pages): 英語版で欠落していた 5 件の節を補う (#1881)
  pages/guides/governance/skill-policy.en.md
  pages/guides/representative-skills.en.md
  pages/guides/write-a-skill.en.md
  pages/reference/config-schema.en.md
  pages/reference/runner-cli-reference.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(feedback): 未一致 findingFingerprint を無言にせず報告する
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/shadow-aggregate.schema.json
  src/cli/commands/evolve.mjs
  src/cli/commands/feedback.mjs
  src/lib/finding-factory.mjs
  src/lib/shadow-aggregate.mjs
  tests/feedback-fingerprint-algo-mismatch.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
