Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add entry-skill applyTo union learning to AGENT_LEARNINGS.md (#1507)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(validator): agent-skills エントリの applyTo 包含検査を追加する (#1508)
  docs/data/skill-manifest.json
  scripts/lib/applyto-coverage.mjs
  scripts/lib/glob-subset.mjs
  scripts/validate-agent-skills.mjs
  skills/README.md
  skills/agent-skills/river-review-frontend/SKILL.md
  tests/applyto-coverage.test.mjs
  tests/glob-subset.test.mjs
  tests/validate-agent-skills.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(validator): レビュー指摘4件を修正する（隣接 globstar / combo 抽出 / undecidable 可視化 / 単語 ID）
  scripts/lib/applyto-coverage.mjs
  scripts/lib/glob-subset.mjs
  scripts/validate-agent-skills.mjs
  tests/applyto-coverage.test.mjs
  tests/glob-subset.test.mjs
Due: none

feat(validator): agent-skills エントリの applyTo 包含検査を追加する (#1508) (#1509)
  docs/data/skill-manifest.json
  scripts/lib/applyto-coverage.mjs
  scripts/lib/glob-subset.mjs
  scripts/validate-agent-skills.mjs
  skills/README.md
  skills/agent-skills/river-review-frontend/SKILL.md
  tests/applyto-coverage.test.mjs
  tests/glob-subset.test.mjs
  tests/validate-agent-skills.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: zenn 記事ウォッチの検討 runbook を追加する
  docs/runbook/zenn-watch.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): zenn 記事の週次ウォッチ workflow を追加する
  .github/workflows/zenn-watch.yml
Due: prettier --write

fix: 存在しないファイルへの相対リンクを解消する
  docs/runbook/zenn-watch.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Zenn 記事ウォッチの検討 runbook を追加する (#1511)
  docs/runbook/zenn-watch.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): zenn 記事の週次ウォッチ workflow を追加する (#1513)
  .github/workflows/zenn-watch.yml
Due: prettier --write

docs: zenn記事の実証データをreview-automation-boundary/pr-template-qaに参照追記する
  docs/data/skill-manifest.json
  skills/midstream/review-automation-boundary/SKILL.md
  skills/upstream/pr-template-qa/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: zenn記事の実証データをreview-automation-boundary/pr-template-qaに参照追記する (#1518)
  docs/data/skill-manifest.json
  skills/midstream/review-automation-boundary/SKILL.md
  skills/upstream/pr-template-qa/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): unknown-coverage-review に不正状態遷移・隠れた副作用の taxonomy を追記する (#1517)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): fix-scope-integrity 観点で指摘対応ループのスコープ逸脱・前提破壊を検出する (#1516)
  docs/data/skill-manifest.json
  skills/midstream/fix-scope-integrity/SKILL.md
  skills/midstream/fix-scope-integrity/fixtures/01-scope-creep-detect.md
  skills/midstream/fix-scope-integrity/fixtures/02-premise-break-detect.md
  skills/midstream/fix-scope-integrity/fixtures/03-approved-related-fix-canary.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): 既存3類型の委譲先表現を #1470 表の実掲載に合わせて修正する (gemini #1519)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): unknown-coverage-review に不正状態遷移・隠れた副作用の taxonomy を追記する (#1519)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): gemini 指摘対応 — 切り捨て順の文言を保持優先で明確化し fixture の hunk header 行数を実際に合わせる
  docs/data/skill-manifest.json
  skills/midstream/fix-scope-integrity/SKILL.md
  skills/midstream/fix-scope-integrity/fixtures/01-scope-creep-detect.md
  skills/midstream/fix-scope-integrity/fixtures/02-premise-break-detect.md
  skills/midstream/fix-scope-integrity/fixtures/03-approved-related-fix-canary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): 指摘上限の切り捨て順の文言を保持優先の形へ明確化する
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/midstream/impact-evidence-coverage/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): fix-scope-integrity 観点で指摘対応ループのスコープ逸脱・前提破壊を検出する (#1516) (#1520)
  docs/data/skill-manifest.json
  skills/midstream/fix-scope-integrity/SKILL.md
  skills/midstream/fix-scope-integrity/fixtures/01-scope-creep-detect.md
  skills/midstream/fix-scope-integrity/fixtures/02-premise-break-detect.md
  skills/midstream/fix-scope-integrity/fixtures/03-approved-related-fix-canary.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): 指摘上限の切り捨て順の文言を保持優先の形へ明確化する (#1521)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/midstream/impact-evidence-coverage/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(agent-skills): cache-strategy-consistency を performance から exemption 化する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-performance/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): 配布文脈リンクとseverity二重語彙のFP2種をguard+canary化する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-docs/SKILL.md
  skills/midstream/doc-hygiene/SKILL.md
  skills/midstream/doc-hygiene/fixtures/02-distribution-context-docs-link-should-not-detect.md
  skills/midstream/doc-hygiene/fixtures/03-severity-vocabulary-dual-schema-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(agent-skills): cache-strategy-consistency を performance から exemption 化する (#1522)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-performance/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): 配布文脈リンクとseverity二重語彙のFP2種をguard+canary化する (#1523)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-docs/SKILL.md
  skills/midstream/doc-hygiene/SKILL.md
  skills/midstream/doc-hygiene/fixtures/02-distribution-context-docs-link-should-not-detect.md
  skills/midstream/doc-hygiene/fixtures/03-severity-vocabulary-dual-schema-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: /release-kick コマンドとワーカー規律テンプレートを追加する
  .claude/commands/README.md
  .claude/commands/release-kick.md
  CLAUDE.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: node22 パスと gh アカウントの環境前提を明記する
  .claude/commands/release-kick.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: /release-kick コマンドとワーカー規律テンプレートを追加する (#1525)
  .claude/commands/README.md
  .claude/commands/release-kick.md
  CLAUDE.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): river-review LLM レビューを GitHub Models（GITHUB_TOKEN）へ切替える
  .github/workflows/river-review.yml
Due: prettier --write

feat(ci): river-review LLM レビューを GitHub Models（GITHUB_TOKEN）へ切替える (#1526)
  .github/workflows/river-review.yml
Due: prettier --write

feat(skills): scripts/ JSDoc unknown->any 緩和提案のFPをguard+canary化する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/midstream/existing-pattern-conformance/SKILL.md
  skills/midstream/existing-pattern-conformance/fixtures/02-scripts-jsdoc-unknown-to-any-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): レビュー結果のパース失敗を切り分け可能にし追加指示との競合を解消する (T64)
  .river-review.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-engine.mjs
  tests/cli.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write

feat(skills): scripts/ JSDoc unknown->any 緩和提案のFPをguard+canary化する (#1528)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/midstream/existing-pattern-conformance/SKILL.md
  skills/midstream/existing-pattern-conformance/fixtures/02-scripts-jsdoc-unknown-to-any-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(agent-skills): river-review-code の applyTo を app/lib/packages/scripts/runners へ拡張する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(agent-skills): river-review-frontend の applyTo を pages/lib/packages へ拡張する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-frontend/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(agent-skills): river-review-performance の applyTo 拡張と operability-slo exemption を追加する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-performance/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): rawLlmOutput を格納時に redactSecrets でマスクする
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

fix(review): レビュー結果のパース失敗を切り分け可能にし追加指示との競合を解消する (T64) (#1529)
  .river-review.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-engine.mjs
  tests/cli.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write

fix(agent-skills): river-review-code の applyTo を app/lib/packages/scripts/runners へ拡張する (#1530)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
