Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(ci): review run debug JSON を CI artifact として観測可能にする (#1601)
  .github/workflows/river-review.yml
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  src/lib/result-store.mjs
  tests/result-store.test.mjs
Due: prettier --write

fix(review): suppress generated-path (dist/) findings at the output stage (Closes #1597)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
  src/lib/review-engine.mjs
  tests/diff-processor.test.mjs
  tests/review-engine.test.mjs
Due: none

fix(skills): knowledge-to-code 系 2 スキルを diff 中心に再設計し context ガードを追加する
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/midstream/behavior-structure-separation/SKILL.md
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  tests/fixtures/execution-plan-midstream.json
  tests/validate-recommended-context.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): grandfather リストの stale エントリを loud に検出する
  scripts/validate-skills.mjs
  tests/validate-recommended-context.test.mjs
Due: none

fix(review): suppress generated-path (dist/) findings at the output stage (Closes #1597) (#1602)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
  src/lib/review-engine.mjs
  tests/diff-processor.test.mjs
  tests/review-engine.test.mjs
Due: none

fix(test): dist smoke テストの CWD 依存解決と env 引き継ぎを修正する
  tests/integration/dist-schema-smoke.test.mjs
Due: none

fix(cli): output.schema.json のロードが dist でのみ失敗する退行を修正する
  runners/github-action/dist/index.mjs
  src/cli/render.mjs
  tests/integration/dist-schema-smoke.test.mjs
  tests/render-output-schema-validator.test.mjs
Due: none

chore(action): rebase 後に dist を再ビルドする
  runners/github-action/dist/index.mjs.map
Due: none

fix(skills): knowledge-to-code 系 2 スキルを diff 中心に再設計し context ガードを追加する (#1605)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/midstream/behavior-structure-separation/SKILL.md
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  tests/fixtures/execution-plan-midstream.json
  tests/validate-recommended-context.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(cli): output.schema.json のロードが dist でのみ失敗する退行を修正する (#1603)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  tests/integration/dist-schema-smoke.test.mjs
  tests/render-output-schema-validator.test.mjs
Due: none

fix(skills): 冗長な adr を inputContext から外し a-1 の 14 スキルを発火可能にする
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/adr-decision-quality/SKILL.md
  skills/upstream/api-design/SKILL.md
  skills/upstream/architecture-boundaries/SKILL.md
  skills/upstream/architecture-risk-register/SKILL.md
  skills/upstream/architecture-validation-plan/SKILL.md
  skills/upstream/availability-architecture/SKILL.md
  skills/upstream/capacity-cost-design/SKILL.md
  skills/upstream/data-flow-state-ownership/SKILL.md
  skills/upstream/event-driven-semantics/SKILL.md
  skills/upstream/external-dependencies/SKILL.md
  skills/upstream/failure-modes-observability/SKILL.md
  skills/upstream/migration-rollout-rollback/SKILL.md
  skills/upstream/operability-slo/SKILL.md
  skills/upstream/trust-boundaries-authz/SKILL.md
  tests/fixtures/execution-plan-midstream.json
  tests/skill-routing-regression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): 冗長な adr を inputContext から外し a-1 の 14 スキルを発火可能にする (#1607)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/adr-decision-quality/SKILL.md
  skills/upstream/api-design/SKILL.md
  skills/upstream/architecture-boundaries/SKILL.md
  skills/upstream/architecture-risk-register/SKILL.md
  skills/upstream/architecture-validation-plan/SKILL.md
  skills/upstream/availability-architecture/SKILL.md
  skills/upstream/capacity-cost-design/SKILL.md
  skills/upstream/data-flow-state-ownership/SKILL.md
  skills/upstream/event-driven-semantics/SKILL.md
  skills/upstream/external-dependencies/SKILL.md
  skills/upstream/failure-modes-observability/SKILL.md
  skills/upstream/migration-rollout-rollback/SKILL.md
  skills/upstream/operability-slo/SKILL.md
  skills/upstream/trust-boundaries-authz/SKILL.md
  tests/fixtures/execution-plan-midstream.json
  tests/skill-routing-regression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): 自動発火に不向きな4スキルをrecommendedから降格する
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/midstream/independent-review-synthesis/SKILL.md
  skills/midstream/logic-torturing/SKILL.md
  skills/registry.yaml
  skills/upstream/pre-mortem/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): 自動発火に不向きな4スキルをrecommendedから降格する (#1610)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/midstream/independent-review-synthesis/SKILL.md
  skills/midstream/logic-torturing/SKILL.md
  skills/registry.yaml
  skills/upstream/pre-mortem/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(runner): supply fullFile context for changed source files
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-skills.mjs
  src/lib/fullfile-supply.mjs
  src/lib/local-runner.mjs
  tests/fullfile-supply.test.mjs
  tests/validate-recommended-context.test.mjs
Due: none

refactor(runner): share fullFile section computation for declaration/injection parity
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-skills.mjs
  src/lib/fullfile-supply.mjs
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  tests/fullfile-supply.test.mjs
Due: none

feat(runner): supply fullFile context for changed source files (Refs #1606) (#1609)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-skills.mjs
  src/lib/fullfile-supply.mjs
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  tests/fullfile-supply.test.mjs
  tests/validate-recommended-context.test.mjs
Due: none

fix(deps): regenerate lockfile for @anthropic-ai/sdk bump
  package-lock.json
  runners/github-action/dist/157.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

fix(deps): regenerate lockfile for openai bump
  package-lock.json
Due: prettier --write

fix(deps): regenerate lockfile for lint-staged bump
  package-lock.json
Due: prettier --write

fix(deps): regenerate lockfile for markdownlint-cli bump
  package-lock.json
Due: prettier --write

fix(skills): a-2/a-4 の 6 スキルを diff/fullFile 供給集合内に収め発火可能にする
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/api-versioning-compat/SKILL.md
  skills/upstream/architecture-traceability/SKILL.md
  skills/upstream/data-model-db-design/SKILL.md
  skills/upstream/integration-contracts/SKILL.md
  skills/upstream/multitenancy-isolation/SKILL.md
  skills/upstream/openapi-contract/SKILL.md
  tests/skill-routing-regression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(deps): regenerate package-lock.json for markdownlint-cli merge
  package-lock.json
Due: prettier --write

fix(skills): a-2/a-4 の 6 スキルを diff/fullFile 供給集合内に収め発火可能にする (#1618)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/api-versioning-compat/SKILL.md
  skills/upstream/architecture-traceability/SKILL.md
  skills/upstream/data-model-db-design/SKILL.md
  skills/upstream/integration-contracts/SKILL.md
  skills/upstream/multitenancy-isolation/SKILL.md
  skills/upstream/openapi-contract/SKILL.md
  tests/skill-routing-regression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(deps): rebuild action dist for openai merge
  runners/github-action/dist/index.mjs.map
Due: none

chore(ci): setup-node の v6 コメント残存と composite action の未 pin を v7 に統一する
  .github/actions/setup-node-deps/action.yml
  .github/workflows/auto-rebuild-action-dist.yml
  .github/workflows/promptfoo-eval.yml
  .github/workflows/test.yml
Due: prettier --write

chore(ci): setup-node の v6 コメント残存と composite action の未 pin を v7 に統一する (#1620)
  .github/actions/setup-node-deps/action.yml
  .github/workflows/auto-rebuild-action-dist.yml
  .github/workflows/promptfoo-eval.yml
  .github/workflows/test.yml
Due: prettier --write

docs(skills): coverage-gap / test-existence の既定 CI 非発火理由を明記する
  docs/data/skill-manifest.json
  skills/downstream/coverage-gap/SKILL.md
  skills/downstream/test-existence/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(cli): observe-mode phase inference recorded on plan snapshot
  runners/core/review-runner.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/phase-inference.mjs
  tests/phase-inference.test.mjs
  tests/review-runner-inferred-phase.test.mjs
Due: none

feat(riverbed): add promotion_candidate schema and structured候補生成 (Phase 1)
  schemas/riverbed-entry.schema.json
  scripts/feedback-rule-candidates.mjs
  tests/feedback-rule-candidates.test.mjs
  tests/riverbed-index-schema.test.mjs
Due: prettier --write

docs(skills): coverage-gap / test-existence の既定 CI 非発火理由を明記する (#1625)
  docs/data/skill-manifest.json
  skills/downstream/coverage-gap/SKILL.md
  skills/downstream/test-existence/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(cli): observe-mode phase inference recorded on plan snapshot (#1626)
  runners/core/review-runner.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/phase-inference.mjs
  tests/phase-inference.test.mjs
  tests/review-runner-inferred-phase.test.mjs
Due: none

feat(riverbed): add promotion_candidate schema and structured候補生成 (Phase 1) (#1627)
  schemas/riverbed-entry.schema.json
  scripts/feedback-rule-candidates.mjs
  tests/feedback-rule-candidates.test.mjs
  tests/riverbed-index-schema.test.mjs
Due: prettier --write

feat(cli): promotion_candidate の承認 CLI と PR 雛形生成 (Phase 2)
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion.mjs
  src/lib/riverbed-memory.mjs
  tests/cli-promote.test.mjs
  tests/promotion.test.mjs
Due: none

fix(cli): 敵対的レビュー指摘対応（security 判定・承認履歴・入力健全化）
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion.mjs
  tests/cli-promote.test.mjs
  tests/promotion.test.mjs
Due: none

feat(cli): promotion_candidate の承認 CLI と PR 雛形生成 (Phase 2, #1568-B) (#1629)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/promote.mjs
  src/lib/promotion.mjs
  src/lib/riverbed-memory.mjs
  tests/cli-promote.test.mjs
  tests/promotion.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
