Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(cli): 環境変数 RIVER_PHASE を --phase と同じ検証・語彙で受理する (#1759 C2)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  src/cli.mjs
  tests/cli-river-phase-env-validation.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(finding-factory): classifyFindings を prefilter / adjudicate / rank へ分離する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  tests/finding-classifier.test.mjs
Due: none

refactor(finding-factory): classifyFindings を prefilter / adjudicate / rank へ分離する (#1912)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  tests/finding-classifier.test.mjs
Due: none

fix(cli): RIVER_PHASE を --phase と同じ検証・語彙で受理する (#1759 C2) (#1911)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-river-phase-env-validation.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(output): finding の scope を YAML / HTML / Markdown へ届ける
  commands/review-team.md
  docs/data/skill-manifest.json
  docs/review/output-format.md
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  skills/agent-skills/review-team/SKILL.md
  src/cli/render.mjs
  src/lib/output-formatters/html.mjs
  src/lib/output-formatters/yaml.mjs
  tests/finding-scope-output-surfaces.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(docs): enable no-doubled-joshi in docs textlint config (#1786 stage 2-b)
  .textlintignore
  README.md
  docs/adr/001-eval-driven-improvement-loop.md
  docs/adr/002-offline-local-review-gate.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/adr/006-model-aware-review-prompt-compiler.md
  docs/adr/007-semantic-precision-pass.md
  docs/ai/eos-overview.md
  docs/development/1255-test-impact-routing-design.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/improvement-flow.md
  docs/development/pipeline-params-checklist.md
  docs/development/skill-severity-rubric.md
  docs/development/worker-discipline-template.md
  docs/governance.md
  docs/governance/README.md
  docs/growth/communication-materials.md
  docs/growth/external-listings.md
  docs/growth/launch-playbook.md
  docs/migration/migration-guide-agent-skills.md
  docs/review/output-format.md
  docs/vision.md
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(output): scope 表示の敵対的レビュー指摘 3 件に対応する
  commands/review-team.md
  docs/review/output-format.md
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  src/lib/output-formatters/html.mjs
  src/lib/output-formatters/yaml.mjs
  tests/finding-scope-output-surfaces.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): enable no-doubled-joshi in docs textlint config (#1786 stage 2-b) (#1916)
  .textlintignore
  README.md
  docs/adr/001-eval-driven-improvement-loop.md
  docs/adr/002-offline-local-review-gate.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/adr/006-model-aware-review-prompt-compiler.md
  docs/adr/007-semantic-precision-pass.md
  docs/ai/eos-overview.md
  docs/development/1255-test-impact-routing-design.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/improvement-flow.md
  docs/development/pipeline-params-checklist.md
  docs/development/skill-severity-rubric.md
  docs/development/worker-discipline-template.md
  docs/governance.md
  docs/governance/README.md
  docs/growth/communication-materials.md
  docs/growth/external-listings.md
  docs/growth/launch-playbook.md
  docs/migration/migration-guide-agent-skills.md
  docs/review/output-format.md
  docs/vision.md
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(output): finding の scope を YAML / HTML / Markdown へ届ける (#1914)
  commands/review-team.md
  docs/data/skill-manifest.json
  docs/review/output-format.md
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  skills/agent-skills/review-team/SKILL.md
  src/cli/render.mjs
  src/lib/output-formatters/html.mjs
  src/lib/output-formatters/yaml.mjs
  tests/finding-scope-output-surfaces.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(action): pre-existing の finding を PR コメントで折りたたむ
  docs/review/output-format.md
  runners/github-action/post-inline-comments.cjs
  tests/action-inline-comments-scope.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): sentence-length を docs textlint config で有効化する (#1786 段階2-c)
  README.md
  docs/CLI-architecture.md
  docs/adr/001-eval-driven-improvement-loop.md
  docs/adr/006-model-aware-review-prompt-compiler.md
  docs/adr/007-semantic-precision-pass.md
  docs/development/1255-test-impact-routing-design.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/doc-enumeration-checks.md
  docs/development/improvement-flow.md
  docs/development/pipeline-params-checklist.md
  docs/development/skill-severity-rubric.md
  docs/governance.md
  docs/governance/README.md
  docs/implementation-plan.md
  docs/runbook/dev.md
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): sentence-length を docs textlint config で有効化する (#1786 段階2-c) (#1919)
  README.md
  docs/CLI-architecture.md
  docs/adr/001-eval-driven-improvement-loop.md
  docs/adr/006-model-aware-review-prompt-compiler.md
  docs/adr/007-semantic-precision-pass.md
  docs/development/1255-test-impact-routing-design.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/doc-enumeration-checks.md
  docs/development/improvement-flow.md
  docs/development/pipeline-params-checklist.md
  docs/development/skill-severity-rubric.md
  docs/governance.md
  docs/governance/README.md
  docs/implementation-plan.md
  docs/runbook/dev.md
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(action): 件数 0 の成果物でも pre-existing を落とさない
  runners/github-action/post-inline-comments.cjs
  tests/action-inline-comments-scope.test.mjs
Due: none

feat(action): pre-existing の finding を PR コメントで折りたたむ (#1918)
  docs/review/output-format.md
  runners/github-action/post-inline-comments.cjs
  tests/action-inline-comments-scope.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): actionability 軸を新設せず disposition へ吸収する判断を記録する
  docs/adr/008-actionability-axis-absorbed-into-disposition.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: evolve aggregate --month の月として不正な値を拒否する (#1759 C4)
  src/cli.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

fix(docs): no-mix-dearu-desumasu を有効化し textlint config を統合する (#1786 段階2-d)
  .lintstagedrc.json
  CLAUDE.md
  README.md
  docs/README.md
  docs/adr/002-offline-local-review-gate.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/adr/007-semantic-precision-pass.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/distributed-commands.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  docs/development/s1-fixture-convention.md
  docs/eval/README.md
  docs/governance.md
  docs/growth/communication-materials.md
  docs/growth/launch-playbook.md
  docs/migration/migration-guide-agent-skills.md
  docs/policy/DOCUMENTATION.md
  docs/runbook/dev.md
  docs/vision.md
  package.json
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(output): 自己申告 Scope ラベルを解決済み scope の描画時に落とす
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/output-formatters/html.mjs
  tests/finding-scope-output-surfaces.test.mjs
  tests/render-markdown-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review-team): scope の用語と並び順の優先関係をコマンド側にも書く
  commands/review-team.md
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(action): サマリーの「指摘なし」判定を counts でなく finding 実体から行う
  runners/github-action/post-inline-comments.cjs
  tests/action-inline-comments-scope.test.mjs
Due: none

fix(docs): no-mix-dearu-desumasu を有効化し textlint config を統合する (#1786 段階2-d) (#1924)
  .lintstagedrc.json
  CLAUDE.md
  README.md
  docs/README.md
  docs/adr/002-offline-local-review-gate.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/adr/007-semantic-precision-pass.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/distributed-commands.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  docs/development/s1-fixture-convention.md
  docs/eval/README.md
  docs/governance.md
  docs/growth/communication-materials.md
  docs/growth/launch-playbook.md
  docs/migration/migration-guide-agent-skills.md
  docs/policy/DOCUMENTATION.md
  docs/runbook/dev.md
  docs/vision.md
  package.json
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(output): 自己申告 Scope ラベルを解決済み scope の描画時に落とす (#1925)
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/output-formatters/html.mjs
  tests/finding-scope-output-surfaces.test.mjs
  tests/render-markdown-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review-team): scope の用語と並び順の優先関係をコマンド側にも書く (#1926)
  commands/review-team.md
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(action): サマリーの「指摘なし」判定を counts でなく finding 実体から行う (#1927)
  runners/github-action/post-inline-comments.cjs
  tests/action-inline-comments-scope.test.mjs
Due: none

docs(adr): actionability 軸を新設せず disposition へ吸収する判断を記録する (#1922)
  docs/adr/008-actionability-axis-absorbed-into-disposition.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: evolve aggregate --month の月として不正な値を拒否する (#1759 C4) (#1923)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

fix: 依存スタブ有効時に custom: 依存がスキップされる問題を直す (#1921)
  README.en.md
  README.md
  docs/review/troubleshooting.md
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/utils.mjs
  tests/local-runner-internals.test.mjs
  tests/skill-routing-regression.test.mjs
  tests/skill-schema-parity.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: 依存スタブ有効時に custom: 依存がスキップされる問題を直す (#1921) (#1931)
  README.en.md
  README.md
  docs/review/troubleshooting.md
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/utils.mjs
  tests/local-runner-internals.test.mjs
  tests/skill-routing-regression.test.mjs
  tests/skill-schema-parity.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: evolve のサブコマンド語がディレクトリ名と衝突すると語順で意味が変わる問題を直す
  src/cli.mjs
  tests/cli-evolve-subcommand-dir-collision.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

refactor(verifier): 自己申告 Scope ラベルの正規表現を finding-factory から import する
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  src/lib/verifier.mjs
  tests/finding-scope-label-grammar-ssot.test.mjs
Due: none

refactor(verifier): 自己申告 Scope ラベルの正規表現を finding-factory から import する (#1933)
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  src/lib/verifier.mjs
  tests/finding-scope-label-grammar-ssot.test.mjs
Due: none

fix: evolve のサブコマンド語がディレクトリ名と衝突すると語順で意味が変わる問題を直す (#1759 B1) (#1932)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-evolve-subcommand-dir-collision.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

fix(action): サマリーの自己申告 Scope ラベルを SSoT 経由で除去する
  runners/github-action/post-inline-comments.cjs
  tests/action-esm-require-canary.test.mjs
  tests/action-inline-comments-scope.test.mjs
Due: none

test(action): github-script の版が v8 以上であることを canary で固定する
  runners/github-action/post-inline-comments.cjs
  tests/action-esm-require-canary.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
