Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(guards): reviewAfter 到来 13 件の退役判定を台帳へ反映する (#1825)
  docs/development/guard-ledger.yaml
Due: prettier --write

test(skills): upstream skill 5 件に S1 fixtures を追加し免除を外す (#1826)
  docs/data/skill-manifest.json
  docs/development/s1-fixture-convention.md
  scripts/validate-skills.mjs
  skills/upstream/adr-decision-quality/fixtures/01-no-alternatives-no-followups-should-detect.md
  skills/upstream/adr-decision-quality/fixtures/02-superseding-reference-only-should-not-detect.md
  skills/upstream/api-design/fixtures/01-verb-path-inconsistent-errors-should-detect.md
  skills/upstream/api-design/fixtures/02-generated-spec-refresh-should-not-detect.md
  skills/upstream/api-versioning-compat/fixtures/01-required-field-added-no-migration-should-detect.md
  skills/upstream/api-versioning-compat/fixtures/02-additive-optional-field-should-not-detect.md
  skills/upstream/architecture-boundaries/fixtures/01-reversed-dependency-should-detect.md
  skills/upstream/architecture-boundaries/fixtures/02-boundary-defined-elsewhere-should-not-detect.md
  skills/upstream/failure-modes-observability/fixtures/01-external-call-no-timeout-should-detect.md
  skills/upstream/failure-modes-observability/fixtures/02-adr-referenced-policy-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(scripts): clean tree で件数を計測する count-in-clean-tree.sh を追加
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  scripts/count-in-clean-tree.sh
  tests/count-in-clean-tree.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): clean tree で件数を計測する count-in-clean-tree.sh を追加 (#1828)
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  scripts/count-in-clean-tree.sh
  tests/count-in-clean-tree.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 判断配置の語彙位置づけと崖との関係を明示する
  pages/explanation/concept.en.md
  pages/explanation/concept.md
  pages/explanation/judgment-placement.en.md
  pages/explanation/judgment-placement.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(meta): pipeline call site チェックリストを機械照合する
  docs/development/guard-ledger.yaml
  docs/development/pipeline-params-checklist.md
  scripts/check-doc-enumerations.mjs
  scripts/lib/pipeline-call-sites.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Judgment Placement を設計原則として導入する (#1815)
  pages/explanation/concept.en.md
  pages/explanation/concept.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/judgment-placement.en.md
  pages/explanation/judgment-placement.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(meta): pipeline call site チェックリストを機械照合する (#1831)
  docs/development/guard-ledger.yaml
  docs/development/pipeline-params-checklist.md
  scripts/check-doc-enumerations.mjs
  scripts/lib/pipeline-call-sites.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(ci): skill の LLM eval は CI ゲートではないと是正する
  .github/workflows/README.md
  .github/workflows/skill-eval.yml
  docs/runbook/community-skill-eval.md
  docs/skills-structure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(ci): skill の LLM eval は CI ゲートではないと是正する (#1832)
  .github/workflows/README.md
  .github/workflows/skill-eval.yml
  docs/runbook/community-skill-eval.md
  docs/skills-structure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): レビューコメントの未 disposition 検出を機械化する
  .claude/commands/merge-check.md
  docs/development/guard-ledger.yaml
  package.json
  scripts/check-comment-disposition.mjs
  tests/check-comment-disposition.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(skills): upstream skill 8 件に S1 fixtures を追加し免除を外す
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/architecture-traceability/fixtures/01-decision-contradicts-adr-should-detect.md
  skills/upstream/architecture-traceability/fixtures/02-adr-reference-added-only-should-not-detect.md
  skills/upstream/data-model-db-design/fixtures/01-missing-constraints-and-backfill-should-detect.md
  skills/upstream/data-model-db-design/fixtures/02-constraints-agreed-in-adr-should-not-detect.md
  skills/upstream/event-driven-semantics/fixtures/01-no-delivery-guarantee-no-idempotency-should-detect.md
  skills/upstream/event-driven-semantics/fixtures/02-guarantees-in-referenced-asyncapi-should-not-detect.md
  skills/upstream/external-dependencies/fixtures/01-vendor-without-quota-or-degradation-should-detect.md
  skills/upstream/external-dependencies/fixtures/02-vendor-terms-in-referenced-doc-should-not-detect.md
  skills/upstream/integration-contracts/fixtures/01-no-owner-no-failure-policy-should-detect.md
  skills/upstream/integration-contracts/fixtures/02-reference-update-only-should-not-detect.md
  skills/upstream/migration-safety/fixtures/01-not-null-and-locking-index-should-detect.md
  skills/upstream/migration-safety/fixtures/02-new-table-and-contract-phase-should-not-detect.md
  skills/upstream/openapi-contract/fixtures/01-breaking-response-change-should-detect.md
  skills/upstream/openapi-contract/fixtures/02-additive-field-with-referenced-contract-should-not-detect.md
  skills/upstream/pre-mortem/fixtures/01-unbounded-cache-assumption-should-detect.md
  skills/upstream/pre-mortem/fixtures/02-risks-and-mitigations-in-adr-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(scripts): レビューコメントの未 disposition 検出を機械化する (#1833)
  .claude/commands/merge-check.md
  docs/development/guard-ledger.yaml
  package.json
  scripts/check-comment-disposition.mjs
  tests/check-comment-disposition.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(skills): upstream skill 8 件に S1 fixtures を追加し免除を外す (#1834)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/architecture-traceability/fixtures/01-decision-contradicts-adr-should-detect.md
  skills/upstream/architecture-traceability/fixtures/02-adr-reference-added-only-should-not-detect.md
  skills/upstream/data-model-db-design/fixtures/01-missing-constraints-and-backfill-should-detect.md
  skills/upstream/data-model-db-design/fixtures/02-constraints-agreed-in-adr-should-not-detect.md
  skills/upstream/event-driven-semantics/fixtures/01-no-delivery-guarantee-no-idempotency-should-detect.md
  skills/upstream/event-driven-semantics/fixtures/02-guarantees-in-referenced-asyncapi-should-not-detect.md
  skills/upstream/external-dependencies/fixtures/01-vendor-without-quota-or-degradation-should-detect.md
  skills/upstream/external-dependencies/fixtures/02-vendor-terms-in-referenced-doc-should-not-detect.md
  skills/upstream/integration-contracts/fixtures/01-no-owner-no-failure-policy-should-detect.md
  skills/upstream/integration-contracts/fixtures/02-reference-update-only-should-not-detect.md
  skills/upstream/migration-safety/fixtures/01-not-null-and-locking-index-should-detect.md
  skills/upstream/migration-safety/fixtures/02-new-table-and-contract-phase-should-not-detect.md
  skills/upstream/openapi-contract/fixtures/01-breaking-response-change-should-detect.md
  skills/upstream/openapi-contract/fixtures/02-additive-field-with-referenced-contract-should-not-detect.md
  skills/upstream/pre-mortem/fixtures/01-unbounded-cache-assumption-should-detect.md
  skills/upstream/pre-mortem/fixtures/02-risks-and-mitigations-in-adr-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: 2026-08-12 の振り返りを記録し学び 3 件を codify する
  .claude/commands/propose-issue.md
  docs/development/doc-enumeration-checks.md
  docs/development/improvement-flow.md
  docs/development/retrospectives/2026-08-12.md
  scripts/count-in-clean-tree.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 振り返りにオーガナイザーの誤り 5 件目と issue 件数の定義差を追記する
  docs/development/guard-ledger.yaml
  docs/development/retrospectives/2026-08-12.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 2026-08-12 の振り返りを記録し学び 3 件を codify する (#1836)
  .claude/commands/propose-issue.md
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  docs/development/retrospectives/2026-08-12.md
  scripts/count-in-clean-tree.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(merge-check): マージ前手順に PR 本文の closing keyword 確認を追加する
  .claude/commands/merge-check.md
  .claude/commands/release-kick.md
  docs/development/guard-ledger.yaml
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(merge-check): マージ前手順に PR 本文の closing keyword 確認を追加する (#1837)
  .claude/commands/merge-check.md
  .claude/commands/release-kick.md
  docs/development/guard-ledger.yaml
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(skills): upstream skill 8 件に S1 fixtures を追加し免除を外す
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/architecture-risk-register/fixtures/01-unowned-assumptions-and-open-questions-should-detect.md
  skills/upstream/architecture-risk-register/fixtures/02-risks-tracked-in-referenced-register-should-not-detect.md
  skills/upstream/availability-architecture/fixtures/01-no-slo-no-failover-should-detect.md
  skills/upstream/availability-architecture/fixtures/02-poc-scope-declared-should-not-detect.md
  skills/upstream/capacity-cost-design/fixtures/01-no-traffic-assumption-retry-amplification-should-detect.md
  skills/upstream/capacity-cost-design/fixtures/02-poc-out-of-operation-should-not-detect.md
  skills/upstream/data-flow-state-ownership/fixtures/01-dual-write-no-sot-should-detect.md
  skills/upstream/data-flow-state-ownership/fixtures/02-ownership-declared-in-referenced-doc-should-not-detect.md
  skills/upstream/migration-rollout-rollback/fixtures/01-irreversible-cutover-no-rollback-should-detect.md
  skills/upstream/migration-rollout-rollback/fixtures/02-experiment-only-no-production-impact-should-not-detect.md
  skills/upstream/operability-slo/fixtures/01-no-slo-no-runbook-should-detect.md
  skills/upstream/operability-slo/fixtures/02-local-only-tool-should-not-detect.md
  skills/upstream/requirements-acceptance/fixtures/01-vague-scope-no-acceptance-criteria-should-detect.md
  skills/upstream/requirements-acceptance/fixtures/02-existing-spec-outside-diff-should-not-detect.md
  skills/upstream/trust-boundaries-authz/fixtures/01-unverified-claims-across-boundary-should-detect.md
  skills/upstream/trust-boundaries-authz/fixtures/02-reference-update-only-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(scripts): count-in-clean-tree.sh の SIGPIPE 失敗を中間ファイルで解消する
  docs/development/doc-enumeration-checks.md
  scripts/count-in-clean-tree.sh
  tests/count-in-clean-tree.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(skills): upstream skill 8 件に S1 fixtures を追加し免除を外す (#1838)
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/architecture-risk-register/fixtures/01-unowned-assumptions-and-open-questions-should-detect.md
  skills/upstream/architecture-risk-register/fixtures/02-risks-tracked-in-referenced-register-should-not-detect.md
  skills/upstream/availability-architecture/fixtures/01-no-slo-no-failover-should-detect.md
  skills/upstream/availability-architecture/fixtures/02-poc-scope-declared-should-not-detect.md
  skills/upstream/capacity-cost-design/fixtures/01-no-traffic-assumption-retry-amplification-should-detect.md
  skills/upstream/capacity-cost-design/fixtures/02-poc-out-of-operation-should-not-detect.md
  skills/upstream/data-flow-state-ownership/fixtures/01-dual-write-no-sot-should-detect.md
  skills/upstream/data-flow-state-ownership/fixtures/02-ownership-declared-in-referenced-doc-should-not-detect.md
  skills/upstream/migration-rollout-rollback/fixtures/01-irreversible-cutover-no-rollback-should-detect.md
  skills/upstream/migration-rollout-rollback/fixtures/02-experiment-only-no-production-impact-should-not-detect.md
  skills/upstream/operability-slo/fixtures/01-no-slo-no-runbook-should-detect.md
  skills/upstream/operability-slo/fixtures/02-local-only-tool-should-not-detect.md
  skills/upstream/requirements-acceptance/fixtures/01-vague-scope-no-acceptance-criteria-should-detect.md
  skills/upstream/requirements-acceptance/fixtures/02-existing-spec-outside-diff-should-not-detect.md
  skills/upstream/trust-boundaries-authz/fixtures/01-unverified-claims-across-boundary-should-detect.md
  skills/upstream/trust-boundaries-authz/fixtures/02-reference-update-only-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(scripts): 失敗が間欠的である旨へ SIGPIPE の記述を訂正する
  docs/development/doc-enumeration-checks.md
  scripts/count-in-clean-tree.sh
  tests/count-in-clean-tree.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): count-in-clean-tree.sh の SIGPIPE 失敗を中間ファイルで解消する (#1839)
  docs/development/doc-enumeration-checks.md
  scripts/count-in-clean-tree.sh
  tests/count-in-clean-tree.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 頻度修飾語の検証義務と gate の検出力実測を規律へ追記する
  docs/development/improvement-flow.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 頻度修飾語の検証義務と gate の検出力実測を規律へ追記する (#1841)
  docs/development/improvement-flow.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(suppression): suppression の有効期限（--expires）を利用者向けドキュメントへ追記
  README.en.md
  README.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/use-cases/suppress-flaky-review-comments.en.md
  pages/use-cases/suppress-flaky-review-comments.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 2026-08-13 監査で見つかった実測とのドリフト 9 件を修正する
  .github/workflows/README.md
  CLAUDE.md
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  ROADMAP.md
  docs/development/doc-enumeration-checks.md
  docs/development/improvement-flow.md
  docs/development/s1-fixture-convention.md
  docs/development/skill-eval-kpi.md
  docs/governance.md
  docs/governance/README.md
  scripts/check-doc-enumerations.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(suppression): suppression の有効期限（--expires）を利用者向けドキュメントへ追記 (#1844)
  README.en.md
  README.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/use-cases/suppress-flaky-review-comments.en.md
  pages/use-cases/suppress-flaky-review-comments.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 2026-08-13 監査で見つかった実測とのドリフト 9 件を修正する (#1845)
  .github/workflows/README.md
  CLAUDE.md
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  ROADMAP.md
  docs/development/doc-enumeration-checks.md
  docs/development/improvement-flow.md
  docs/development/s1-fixture-convention.md
  docs/development/skill-eval-kpi.md
  docs/governance.md
  docs/governance/README.md
  scripts/check-doc-enumerations.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): 複数フェーズのスキルがカタログから無言で落ちる不具合を修正する
  package.json
  pages/reference/skills-catalog.md
  scripts/generate-skill-catalog.mjs
  tests/generate-skill-catalog.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): 配布サーフェスの README 列挙を実測へ合わせ機械検証を足す
  README.en.md
  README.md
  docs/development/doc-enumeration-checks.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): 複数フェーズのスキルがカタログから無言で落ちる不具合を修正する (#1846)
  package.json
  pages/reference/skills-catalog.md
  scripts/generate-skill-catalog.mjs
  tests/generate-skill-catalog.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): 配布サーフェスの README 列挙を実測へ合わせ機械検証を足す (#1847)
  README.en.md
  README.md
  docs/development/doc-enumeration-checks.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(plugin): wire the official claude plugin validator into repo checks
  commands/README.md
  docs/development/plugin-asset-registration-checklist.md
  package.json
  scripts/validate-plugin-official.mjs
  tests/validate-plugin-official.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(plugin): move the distributed-command index out of commands/
  .claude/commands/README.md
  .claude/commands/register-plugin-asset.md
  docs/development/distributed-commands.md
  docs/development/doc-enumeration-checks.md
  docs/development/plugin-asset-registration-checklist.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(plugin): 公式 validator を 2 系統まとめて実行する検証スクリプトを足す (#1849)
  .claude/commands/README.md
  .claude/commands/register-plugin-asset.md
  docs/development/distributed-commands.md
  docs/development/doc-enumeration-checks.md
  docs/development/plugin-asset-registration-checklist.md
  package.json
  scripts/check-doc-enumerations.mjs
  scripts/validate-plugin-official.mjs
  tests/check-doc-enumerations.test.mjs
  tests/validate-plugin-official.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): 第 4 波の S1 fixtures 追加で免除リストを空にする
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/downstream/coverage-gap/fixtures/01-retry-failure-path-uncovered-should-detect.md
  skills/downstream/coverage-gap/fixtures/02-failure-paths-already-covered-should-not-detect.md
  skills/downstream/test-existence/fixtures/01-new-handler-without-tests-should-detect.md
  skills/downstream/test-existence/fixtures/02-tests-included-in-diff-should-not-detect.md
  skills/midstream/component-variants-states/fixtures/01-missing-disabled-loading-should-detect.md
  skills/midstream/component-variants-states/fixtures/02-static-display-component-should-not-detect.md
  skills/midstream/cross-file-leakage/fixtures/01-renamed-export-callers-stale-should-detect.md
  skills/midstream/cross-file-leakage/fixtures/02-documented-dual-reference-should-not-detect.md
  skills/midstream/design-source-conformance/fixtures/01-off-scale-spacing-should-detect.md
  skills/midstream/design-source-conformance/fixtures/02-on-scale-values-should-not-detect.md
  skills/midstream/e2e-wiring/fixtures/01-metric-never-persisted-should-detect.md
  skills/midstream/e2e-wiring/fixtures/02-flagged-pause-documented-should-not-detect.md
  skills/midstream/refactor-claim-audit/fixtures/01-full-replacement-claim-refuted-should-detect.md
  skills/midstream/refactor-claim-audit/fixtures/02-documented-compat-alias-should-not-detect.md
  skills/midstream/review-automation-boundary/fixtures/01-lintable-residue-should-detect.md
  skills/midstream/review-automation-boundary/fixtures/02-rule-added-in-same-diff-should-not-detect.md
  skills/midstream/self-contradiction/fixtures/01-declared-rule-broken-in-same-file-should-detect.md
  skills/midstream/self-contradiction/fixtures/02-declared-exception-matched-should-not-detect.md
  skills/midstream/war-game/fixtures/01-idor-on-new-route-should-detect.md
  skills/midstream/war-game/fixtures/02-mitigation-present-in-diff-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): 敵対的レビュー指摘に沿って fixture の参照例を実態へ合わせる
  docs/data/skill-manifest.json
  skills/downstream/coverage-gap/fixtures/01-retry-failure-path-uncovered-should-detect.md
  skills/downstream/coverage-gap/fixtures/02-failure-paths-already-covered-should-not-detect.md
  skills/downstream/test-existence/fixtures/01-new-handler-without-tests-should-detect.md
  skills/downstream/test-existence/fixtures/02-tests-included-in-diff-should-not-detect.md
  skills/midstream/component-variants-states/fixtures/01-missing-disabled-loading-should-detect.md
  skills/midstream/component-variants-states/fixtures/02-static-display-component-should-not-detect.md
  skills/midstream/cross-file-leakage/fixtures/01-renamed-export-callers-stale-should-detect.md
  skills/midstream/cross-file-leakage/fixtures/02-documented-dual-reference-should-not-detect.md
  skills/midstream/design-source-conformance/fixtures/02-on-scale-values-should-not-detect.md
  skills/midstream/e2e-wiring/fixtures/01-metric-never-persisted-should-detect.md
  skills/midstream/e2e-wiring/fixtures/02-flagged-pause-documented-should-not-detect.md
  skills/midstream/refactor-claim-audit/fixtures/01-full-replacement-claim-refuted-should-detect.md
  skills/midstream/refactor-claim-audit/fixtures/02-documented-compat-alias-should-not-detect.md
  skills/midstream/review-automation-boundary/fixtures/01-lintable-residue-should-detect.md
  skills/midstream/review-automation-boundary/fixtures/02-rule-added-in-same-diff-should-not-detect.md
  skills/midstream/self-contradiction/fixtures/01-declared-rule-broken-in-same-file-should-detect.md
  skills/midstream/self-contradiction/fixtures/02-declared-exception-matched-should-not-detect.md
  skills/midstream/war-game/fixtures/01-idor-on-new-route-should-detect.md
  skills/midstream/war-game/fixtures/02-mitigation-present-in-diff-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
