Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

fix(agent-skills): river-review-frontend の applyTo を pages/lib/packages へ拡張する (#1531)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-frontend/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(agent-skills): river-review-performance の applyTo 拡張と operability-slo exemption を追加する (#1532)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-performance/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): maxTokensの引き上げと不正findingの部分許容で切り詰め由来のfallbackを防ぐ
  .river-review.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write

fix(review): 検出なし応答をfallback扱いする回帰を修正する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

fix(review): maxTokens引き上げと不正findingの部分許容でCI LLMレビューのfallbackを局所化する (#1533)
  .river-review.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write

docs: 本番化で得た学び3件をAGENT_LEARNINGS.mdに追記する(#1526/#1529/#1533)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 本番化で得た学び3件をAGENT_LEARNINGS.mdに追記する(#1526/#1529/#1533) (#1535)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): logging-observabilityにdebug出力のredaction迂回観点を追加する
  docs/data/skill-manifest.json
  skills/midstream/logging-observability/README.md
  skills/midstream/logging-observability/SKILL.md
  skills/midstream/logging-observability/eval/promptfoo.yaml
  skills/midstream/logging-observability/fixtures/04-debug-output-bypasses-redaction-should-detect.diff
  skills/midstream/logging-observability/fixtures/04-debug-output-bypasses-redaction-should-detect.md
  skills/midstream/logging-observability/fixtures/05-debug-output-redacted-at-storage-should-not-detect.diff
  skills/midstream/logging-observability/fixtures/05-debug-output-redacted-at-storage-should-not-detect.md
  skills/midstream/logging-observability/golden/04-debug-output-bypasses-redaction-should-detect.md
  skills/midstream/logging-observability/golden/05-debug-output-redacted-at-storage-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): guard文言をプロパティ代入も含む表現へ拡張する (gemini指摘対応)
  docs/data/skill-manifest.json
  skills/midstream/logging-observability/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): logging-observability に debug 出力の redaction 迂回観点を追加する (#1536)
  docs/data/skill-manifest.json
  skills/midstream/logging-observability/README.md
  skills/midstream/logging-observability/SKILL.md
  skills/midstream/logging-observability/eval/promptfoo.yaml
  skills/midstream/logging-observability/fixtures/04-debug-output-bypasses-redaction-should-detect.diff
  skills/midstream/logging-observability/fixtures/04-debug-output-bypasses-redaction-should-detect.md
  skills/midstream/logging-observability/fixtures/05-debug-output-redacted-at-storage-should-not-detect.diff
  skills/midstream/logging-observability/fixtures/05-debug-output-redacted-at-storage-should-not-detect.md
  skills/midstream/logging-observability/golden/04-debug-output-bypasses-redaction-should-detect.md
  skills/midstream/logging-observability/golden/05-debug-output-redacted-at-storage-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: regenerate package-lock.json for npm ci consistency
  package-lock.json
Due: prettier --write

docs: reviewer lens taxonomy の写像 explanation doc を追加する (#1545)
  pages/explanation/_meta.json
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): selectRolesAuto に stage/risk/artifact signal を形式化する (#1545)
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/review-team/SKILL.md
  src/lib/local-runner.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: reviewer-lens-taxonomy.en の doc id 衝突を解消する (#1545)
  pages/explanation/reviewer-lens-taxonomy.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: align @docusaurus/preset-classic and theme-mermaid to 3.10.2
  package-lock.json
  package.json
Due: prettier --write

docs: reviewer lens taxonomy の写像 explanation doc を追加する (#1545) (#1546)
  pages/explanation/_meta.json
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: reviewer-lens-taxonomy の artifact-input-contract リンクを修正する (#1546 追補)
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): selectRolesAuto に stage/risk/artifact signal を形式化する (#1545) (#1547)
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/review-team/SKILL.md
  src/lib/local-runner.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: reviewer-lens-taxonomy の artifact-input-contract リンクを修正する (#1546 追補) (#1548)
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): lychee 0.24 の include_fragments 型変更に .lychee.toml を追随させる
  .lychee.toml
Due: none

fix(ci): lychee 0.24 の include_fragments 型変更に .lychee.toml を追随させる (#1550)
  .lychee.toml
Due: none

docs: marketplace clone stale による /plugin update 無反応の診断節を追加する
  docs/runbook/plugin-cache-purge.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: marketplace clone stale による /plugin update 無反応の診断節を追加する (#1551)
  docs/runbook/plugin-cache-purge.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): proto スキーマに一切マッチしない dead glob を修正する
  docs/data/skill-manifest.json
  skills/upstream/event-driven-semantics/SKILL.md
  skills/upstream/integration-contracts/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): プロセス補助スキル 2 件の severity を info に再分類する
  docs/data/skill-manifest.json
  skills/midstream/gh-address-comments/SKILL.md
  skills/midstream/review-comment-triage/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): registry の severity を SKILL.md（実行時 SSoT）に同期する（major 3 件）
  skills/registry.yaml
Due: prettier --write

chore(skills): eval 整備済みスキルを grandfathered リストから削除する
  scripts/validate-skills.mjs
Due: none

fix(skills): 実装成果物を対象とするスキルの phase を複数指定に修正する
  docs/data/skill-manifest.json
  skills/downstream/gha-workflow-security/SKILL.md
  skills/registry.yaml
  skills/upstream/data-model-db-design/SKILL.md
  skills/upstream/laravel-migration-safety/SKILL.md
  skills/upstream/migration-safety/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): loader から恒久除外されていた agent タグ 4 スキルを削除する
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  pages/use-cases/review-design-adrs-upstream.en.md
  pages/use-cases/review-design-adrs-upstream.md
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
  skills/registry.yaml
  skills/upstream/agent-architecture-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): registry と SKILL.md の id ドリフトを解消し一致ガードを追加する
  docs/data/skill-manifest.json
  docs/development/skill-pack-design.md
  examples/selection/tdd.yaml
  pages/reference/skills-catalog.md
  scripts/validate-skills.mjs
  skills/registry.yaml
  skills/upstream/plangate-tdd-evidence/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(schema): applyToExemptions 未定義と inputContext 値ズレによる strict loader 脱落を解消する
  docs/data/skill-manifest.json
  schemas/skill.schema.json
  scripts/validate-agent-skills.mjs
  skills/agent-skills/unknown-coverage-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): サンプルスキル 3 件を examples/ へ移設し本番レビューでの発火を止める
  README.en.md
  README.md
  docs/data/skill-manifest.json
  examples/skills/README.md
  examples/skills/architecture-sample/SKILL.md
  examples/skills/code-quality-sample/SKILL.md
  examples/skills/test-review-sample/SKILL.md
  pages/reference/skills-catalog.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
  tests/review-runner.test.mjs
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix
