Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

fix(action): サマリーの自己申告 Scope ラベルを SSoT 経由で除去する (#1937)
  runners/github-action/post-inline-comments.cjs
  tests/action-esm-require-canary.test.mjs
  tests/action-inline-comments-scope.test.mjs
Due: none

docs(learnings): 2026-08-20 セッションの再発防止知見を 5 件追記する
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(reference): skill-metadata を設計検討時点の記録として明示する
  pages/reference/skill-metadata.en.md
  pages/reference/skill-metadata.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(reference): skill-metadata を設計検討時点の記録として明示する (#1939)
  pages/reference/skill-metadata.en.md
  pages/reference/skill-metadata.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(learnings): 既存実装の判定で skills/ だけを見ると誤ることを追記する
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(types): inputContext / outputKind の TypeScript 宣言を schema に揃える
  runners/core/review-runner.d.ts
  runners/core/skill-loader.d.ts
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/node-api/dist/types.d.ts
  runners/node-api/dist/types.d.ts.map
  runners/node-api/src/types.ts
  src/types/skill.ts
  tests/skill-schema-parity.test.mjs
Due: prettier --write

chore(node-api): types.d.ts.map を整形後の types.ts に合わせて再生成する
  runners/node-api/dist/types.d.ts.map
Due: none

fix(types): inputContext / outputKind の TypeScript 宣言を schema に揃え parity canary を広げる (#1941)
  runners/core/review-runner.d.ts
  runners/core/skill-loader.d.ts
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/node-api/dist/types.d.ts
  runners/node-api/dist/types.d.ts.map
  runners/node-api/src/types.ts
  src/types/skill.ts
  tests/skill-schema-parity.test.mjs
Due: prettier --write

docs(learnings): 網羅性を測る検索に head を付けない知見を追記する
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(learnings): 2026-08-20 セッションの再発防止知見を 5 件追記する (#1938)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: generateReview の Prompt Compiler ブロックを compiler-stage へ抽出する
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  src/prompt/compiler-stage.mjs
Due: none

refactor: generateReview の Prompt Compiler ブロックを compiler-stage へ抽出する (#1942)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  src/prompt/compiler-stage.mjs
Due: none

refactor: generateReview の Verifier 段を runVerifierStage へ抽出する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
Due: none

refactor: generateReview の Verifier 段を runVerifierStage へ抽出する (#1943)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
Due: none

test: verifier の機械判定 scope が findings[].scope へ伝播することを pin する
  docs/development/pipeline-params-checklist.md
  tests/finding-scope-propagation.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: verifier の機械判定 scope が findings[].scope へ伝播することを pin する (#1944)
  docs/development/pipeline-params-checklist.md
  tests/finding-scope-propagation.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): 存在しない対象を黙って受理する経路に警告を出す
  src/cli/commands/evolve.mjs
  src/cli/commands/run.mjs
  tests/cli-missing-target-warning.test.mjs
Due: none

fix(cli): 存在しない対象を黙って受理する経路に警告を出す (#1945)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/evolve.mjs
  src/cli/commands/run.mjs
  tests/cli-missing-target-warning.test.mjs
Due: none

fix(cli): evolve prompt-compare で存在しないパスと観測ゼロを区別する
  src/cli/commands/evolve.mjs
  tests/cli-missing-target-warning.test.mjs
Due: none

fix(cli): evolve prompt-compare で存在しないパスと観測ゼロを区別する (#1948)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/evolve.mjs
  tests/cli-missing-target-warning.test.mjs
Due: none

fix(scripts): 512B 超の heredoc を排除しテストの孤児プロセスを止める
  .claude/hooks/no-force-push.sh
  scripts/count-in-clean-tree.sh
  scripts/setup_river_review.sh
  tests/count-in-clean-tree.test.mjs
  tests/helpers/README.md
  tests/helpers/spawn-guard.mjs
  tests/no-force-push-hook.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): 512B 超の heredoc を排除しテストの孤児プロセスを止める (#1951)
  .claude/hooks/no-force-push.sh
  scripts/count-in-clean-tree.sh
  scripts/setup_river_review.sh
  tests/count-in-clean-tree.test.mjs
  tests/helpers/README.md
  tests/helpers/spawn-guard.mjs
  tests/no-force-push-hook.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): --context の未知語彙を stderr で警告する (#1759 C3)
  docs/review/troubleshooting.md
  src/cli.mjs
  tests/cli-unknown-context-warning.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): --context 警告が bundled dist で永久に沈黙するのを直す
  docs/review/troubleshooting.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-unknown-context-warning.test.mjs
  tests/integration/dist-unknown-context-warning.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): --context の未知語彙を stderr で警告する (#1759 C3) (#1958)
  docs/review/troubleshooting.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/skill.schema.json
  src/cli.mjs
  tests/cli-unknown-context-warning.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/integration/dist-unknown-context-warning.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(finding-factory): 重複と表示上限超過を別々の出力へ割る
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/result-store.mjs
  tests/finding-classifier.test.mjs
  tests/render-markdown-digest.test.mjs
  tests/result-store.test.mjs
Due: none

refactor(cli): runRunCommand の出力段を renderRunResult へ 1 段だけ抽出する
  src/cli/commands/run.mjs
Due: none

refactor(cli): runRunCommand から出力レンダリング段を抽出する (step 1) (#1961)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
Due: none

fix(overflow): 表示上限の溢れを偽の非表示表示から観測経路へ移す
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
  src/cli/commands/runs.mjs
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/result-store.mjs
  src/lib/review-engine.mjs
  tests/finding-classifier.test.mjs
  tests/render-markdown-digest.test.mjs
  tests/result-store.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(findings): 表示上限の超過を disposition から分離する (#1857 ADR-007 条件3) (#1960)
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/runs.mjs
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/result-store.mjs
  src/lib/review-engine.mjs
  tests/finding-classifier.test.mjs
  tests/render-markdown-digest.test.mjs
  tests/result-store.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): --output yaml / html / json / text の成果物を CLI 経由で検証する (#1962)
  tests/cli-structured-output-artifacts.test.mjs
Due: none

test(cli): river run の --output 成果物を CLI 経由で pin する
  tests/cli-run-output-artifact.test.mjs
Due: none
