Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

chore(skills): fixtures 保有の dead entry も grandfathered リストから削除する
  scripts/validate-skills.mjs
Due: none

fix(skills): proto スキーマに一切マッチしない dead glob を修正する (#1554)
  docs/data/skill-manifest.json
  skills/upstream/event-driven-semantics/SKILL.md
  skills/upstream/integration-contracts/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(validate): strict schema 乖離チェックをブロッキング（エラー）に変更する
  scripts/validate-agent-skills.mjs
Due: none

fix(skills): 実装成果物を対象とするスキルの phase を複数指定に修正する (#1556)
  docs/data/skill-manifest.json
  skills/downstream/gha-workflow-security/SKILL.md
  skills/registry.yaml
  skills/upstream/data-model-db-design/SKILL.md
  skills/upstream/laravel-migration-safety/SKILL.md
  skills/upstream/migration-safety/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): registry の severity を SKILL.md（実行時 SSoT）に同期する（major 3 件） (#1553)
  skills/registry.yaml
Due: prettier --write

fix(skills): プロセス補助スキル 2 件の severity を info に再分類する (#1552)
  docs/data/skill-manifest.json
  skills/midstream/gh-address-comments/SKILL.md
  skills/midstream/review-comment-triage/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): eval 整備済みスキルを grandfathered リストから削除する (#1555)
  scripts/validate-skills.mjs
Due: none

fix(skills): registry と SKILL.md の id ドリフトを解消し一致ガードを追加する (#1558)
  docs/data/skill-manifest.json
  docs/development/skill-pack-design.md
  examples/selection/tdd.yaml
  pages/reference/skills-catalog.md
  scripts/validate-skills.mjs
  skills/registry.yaml
  skills/upstream/plangate-tdd-evidence/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(schema): applyToExemptions 未定義と inputContext 値ズレによる strict loader 脱落を解消する (#1559)
  docs/data/skill-manifest.json
  schemas/skill.schema.json
  scripts/validate-agent-skills.mjs
  skills/agent-skills/unknown-coverage-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): サンプルスキル 3 件を examples/ へ移設し本番レビューでの発火を止める (#1560)
  README.en.md
  README.md
  docs/data/skill-manifest.json
  examples/skills/README.md
  examples/skills/architecture-sample/SKILL.md
  examples/skills/code-quality-sample/SKILL.md
  examples/skills/test-review-sample/SKILL.md
  pages/reference/skills-catalog.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
  tests/review-runner.test.mjs
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(skills): loader から恒久除外されていた agent タグ 4 スキルを削除する (#1557)
  docs/data/skill-manifest.json
  pages/use-cases/review-design-adrs-upstream.en.md
  pages/use-cases/review-design-adrs-upstream.md
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
  skills/registry.yaml
  skills/upstream/agent-architecture-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(verifier): 配列 phase スキルで finding が Phase mismatch 破棄されるのを修正する
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

chore(scripts): validator のローダー経路再利用とテスト追加（棚卸しウェーブのレビューフォローアップ）
  schemas/skill.schema.json
  scripts/validate-agent-skills.mjs
  tests/validate-registry-id-match.test.mjs
Due: prettier --write

fix(verifier): 配列 phase スキルで finding が Phase mismatch 破棄されるのを修正する (#1566)
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

chore(scripts): validator のローダー経路再利用とテスト追加（棚卸しウェーブのレビューフォローアップ） (#1567)
  schemas/skill.schema.json
  scripts/validate-agent-skills.mjs
  tests/validate-registry-id-match.test.mjs
Due: prettier --write

fix(diff): dist バンドル生成物を LLM プロンプト向け diff から除外する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
  tests/diff-optimizer.test.mjs
Due: none

fix(deps): regenerate lockfile for websocket-driver bump
  package-lock.json
Due: prettier --write

fix(diff): dist 除外を LLM プロンプト整形の共通地点へ集約する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
  src/lib/review-engine.mjs
  tests/diff-optimizer.test.mjs
  tests/review-engine.test.mjs
Due: none

fix(diff): dist バンドル生成物を LLM プロンプト向け diff から除外する (#1570)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
  src/lib/review-engine.mjs
  tests/diff-optimizer.test.mjs
  tests/review-engine.test.mjs
Due: none

fix(review): verifier 全滅時も fallback に落として空レビューを防ぐ
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

fix(review): finding 検証を Severity/Confidence 必須に緩和しモデル実出力に合わせる
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
  tests/review-engine.test.mjs
Due: none

chore(action): rebase 後に dist を node@22 で再生成する
  runners/github-action/dist/index.mjs.map
Due: none

fix(review): finding 検証を Severity/Confidence 必須に緩和しモデル実出力に合わせる (#1571)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
  tests/review-engine.test.mjs
Due: none

docs(skills): loose/strict 二重 schema の契約を明文化する
  docs/skills-structure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): strict schema 検証失敗時はスキル全体が脱落する旨へ記述を修正する
  docs/skills-structure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): loose/strict 二重 schema の契約を明文化する (#1575)
  docs/skills-structure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schema): zod InputContextEnum を JSON Schema の inputContext enum と一致させる
  src/lib/skillYamlSchema.mjs
  tests/skill-schema-parity.test.mjs
Due: none

fix(schema): zod InputContextEnum を JSON Schema の inputContext enum と一致させる (#1576)
  src/lib/skillYamlSchema.mjs
  tests/skill-schema-parity.test.mjs
Due: none

fix(deps): bump transitive js-yaml to patched versions for DoS advisory
  package-lock.json
Due: prettier --write

feat(skills): 知識反映と振る舞い維持をレビューする2スキルを追加する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/midstream/behavior-structure-separation/SKILL.md
  skills/midstream/behavior-structure-separation/fixtures/01-behavior-structure-mixed.md
  skills/midstream/behavior-structure-separation/fixtures/02-structural-change-no-tests.md
  skills/midstream/behavior-structure-separation/fixtures/03-safe-preparatory-refactor.md
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  skills/midstream/knowledge-to-code-alignment/fixtures/01-knowledge-not-reflected-naming.md
  skills/midstream/knowledge-to-code-alignment/fixtures/02-design-constraint-removed.md
  skills/midstream/knowledge-to-code-alignment/fixtures/03-knowledge-reflected-clean.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(deps): bump js-yaml to patched versions for DoS advisory (#1578)
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

feat(skills): 知識反映と振る舞い維持をレビューする2スキルを追加する (#1579)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/midstream/behavior-structure-separation/SKILL.md
  skills/midstream/behavior-structure-separation/fixtures/01-behavior-structure-mixed.md
  skills/midstream/behavior-structure-separation/fixtures/02-structural-change-no-tests.md
  skills/midstream/behavior-structure-separation/fixtures/03-safe-preparatory-refactor.md
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  skills/midstream/knowledge-to-code-alignment/fixtures/01-knowledge-not-reflected-naming.md
  skills/midstream/knowledge-to-code-alignment/fixtures/02-design-constraint-removed.md
  skills/midstream/knowledge-to-code-alignment/fixtures/03-knowledge-reflected-clean.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(skills): registry の構造フィールドを frontmatter から自動生成し single-source 化する
  .github/workflows/test.yml
  .lintstagedrc.json
  package.json
  scripts/generate-registry-fields.mjs
  skills/registry.yaml
  tests/generate-registry-fields.test.mjs
Due: prettier --write

fix(skills): registry の折り返し flow 値ドリフトの検出漏れ(W1)を塞ぐ
  scripts/generate-registry-fields.mjs
  tests/generate-registry-fields.test.mjs
Due: none

fix(skills): registry field 同期の id 先頭フィールド/CRLF/不正 YAML の穴を塞ぐ
  scripts/generate-registry-fields.mjs
  tests/generate-registry-fields.test.mjs
Due: none

refactor(skills): registry の構造フィールドを frontmatter から自動生成し single-source 化する (#1580)
  .github/workflows/test.yml
  .lintstagedrc.json
  package.json
  scripts/generate-registry-fields.mjs
  skills/registry.yaml
  tests/generate-registry-fields.test.mjs
Due: prettier --write

chore(repo): リポジトリ衛生の小整理（未使用スクリプト・重複テスト・scratch lint 除外）
  tests/diff.test.mjs
Due: none

chore(repo): scratch lint 除外・dead script 削除・重複テストの移植を追加する
  .markdownlintignore
  .prettierignore
  package.json
  tests/diff-processor.test.mjs
Due: prettier --write
