Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

docs: 配布コマンド表に review-team/setup-team を追記し plugin.json と同期する
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 配布コマンド表に review-team/setup-team を追記し plugin.json と同期する (#1451)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): river-review-code に simplify 品質クリーンアップ観点を追加する (#1452)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-code/references/SIMPLIFY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): simplify 観点を P2 実地検証のフィードバックで精緻化する (#1452)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/references/SIMPLIFY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): simplify 観点の SKILL.md 参照を相対リンク化する (gemini #1453)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/references/SIMPLIFY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(skills): simplify 観点 docs を /simplify セルフ適用で簡素化する (#1452)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-code/references/SIMPLIFY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): river-review-code に simplify 品質クリーンアップ観点を追加する (#1453)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-code/references/SIMPLIFY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(review): レビューポリシーに UX 観点・欠落指摘のアンカー規則・設計思想を追加する (#1455)
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): 幻覚的参照の実在確認スキル hallucinated-reference を追加する (#1455)
  docs/data/skill-manifest.json
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/midstream/hallucinated-reference/SKILL.md
  skills/midstream/hallucinated-reference/fixtures/01-nonexistent-helper-happy.md
  skills/midstream/hallucinated-reference/fixtures/02-same-pr-definition-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): 非同期処理の正しさ検証スキル async-correctness を追加する (#1455)
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/midstream/async-correctness/SKILL.md
  skills/midstream/async-correctness/fixtures/01-unawaited-condition-happy.md
  skills/midstream/async-correctness/fixtures/02-intentional-fire-and-forget-false-positive.md
  skills/midstream/nullability-contract/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): river-review-code に UX-SAFEGUARD 操作安全装置観点を追加する (#1455)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-code/references/UX-SAFEGUARD.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(adr): diff ベース静的検証の境界と視覚評価系レビュー不採用を記録する (#1455)
  docs/adr/004-diff-based-static-review-boundary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add skill naming rules (Q0-Q5 import framework) to skills/README (#1463)
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(skills): simplify 指摘を反映し registry 要約短縮と出力形式表記を修正する (#1455)
  docs/data/skill-manifest.json
  skills/midstream/async-correctness/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(skills): simplify 指摘を反映し registry カタログ要約を短縮する (#1455)
  skills/registry.yaml
Due: prettier --write

refactor(skills): simplify 指摘を反映し UX-SAFEGUARD の routing キーワードを絞る (#1455)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(review): 欠落指摘アンカーのプレースホルダー表記を file:line に統一する (#1455)
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): レビュー指摘を反映し async-correctness の検出範囲を拡充する (#1455)
  docs/data/skill-manifest.json
  skills/midstream/async-correctness/SKILL.md
  skills/midstream/nullability-contract/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): レビュー指摘を反映し UX-SAFEGUARD の code_search キーワードを拡充する (#1455)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/references/UX-SAFEGUARD.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(adr): レビュー指摘を反映しファイル参照を相対リンク化して §3.4 を併記する (#1455)
  docs/adr/004-diff-based-static-review-boundary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): diff ベース静的検証の境界と視覚評価系レビュー不採用を記録する (#1461)
  docs/adr/004-diff-based-static-review-boundary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): レビューポリシーに UX 観点・欠落指摘のアンカー規則・設計思想を追加する (#1456)
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add skill naming rules (Q0-Q5 import framework) to skills/README (#1463) (#1464)
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): 幻覚的参照の実在確認スキル hallucinated-reference を追加する (#1457)
  docs/data/skill-manifest.json
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/midstream/hallucinated-reference/SKILL.md
  skills/midstream/hallucinated-reference/fixtures/01-nonexistent-helper-happy.md
  skills/midstream/hallucinated-reference/fixtures/02-same-pr-definition-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(heuristic): gemini レビュー指摘の recall/FP 欠陥を detector 2本で修正する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(skills): 非同期処理の正しさ検証スキル async-correctness を追加する (#1458)
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/midstream/async-correctness/SKILL.md
  skills/midstream/async-correctness/fixtures/01-unawaited-condition-happy.md
  skills/midstream/async-correctness/fixtures/02-intentional-fire-and-forget-false-positive.md
  skills/midstream/nullability-contract/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): river-review-code に UX-SAFEGUARD 操作安全装置観点を追加する (#1460)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-code/references/UX-SAFEGUARD.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(deps): node 22 の npm で lockfile を再生成し optional peer の欠落を解消する
  package-lock.json
Due: prettier --write

docs(skills): review-team の description に発見性を担保する英語趣旨と使用場面を追記する
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(scripts): skill 命名規則の validator と canary を追加する
  scripts/validate-agent-skills.mjs
  scripts/validate-plugin-manifest.mjs
  scripts/validate-skills.mjs
  tests/naming-validator-canary.test.mjs
Due: none

docs(skills): review-team の description に発見性を担保する英語趣旨と使用場面を追記する (#1467)
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(scripts): 命名衝突検査の cross-kind 検出漏れと大文字混入を修正する (gemini #1468)
  scripts/validate-agent-skills.mjs
  scripts/validate-skills.mjs
  tests/naming-validator-canary.test.mjs
Due: none

feat(scripts): skill 命名規則の validator と canary を追加する (#1468)
  scripts/validate-agent-skills.mjs
  scripts/validate-plugin-manifest.mjs
  scripts/validate-skills.mjs
  tests/naming-validator-canary.test.mjs
Due: none

docs: prefix 呼び出しガイドと plugin cache purge runbook を追加する (#1463)
  CLAUDE.md
  docs/runbook/plugin-cache-purge.md
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate
