Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

docs(growth): add submission drafts for awesome-claude-code, AlternativeTo, awesome-devsecops (#1393)
  docs/growth/external-listings.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix CITATION.cff metadata and add a how-to-cite page (ja+en) (#1394)
  CITATION.cff
  pages/reference/how-to-cite.en.md
  pages/reference/how-to-cite.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add schema.org SoftwareApplication JSON-LD for AI/search discovery
  docusaurus.config.js
Due: prettier --write

docs: use numeric price in schema.org Offer (review)
  docusaurus.config.js
Due: prettier --write

docs: add schema.org SoftwareApplication JSON-LD for AI/search discovery (#1395)
  docusaurus.config.js
Due: prettier --write

docs: add robots.txt referencing the sitemap for crawlability
  static/robots.txt
Due: none

docs: add a security-model page (ja+en)
  pages/explanation/security-model.en.md
  pages/explanation/security-model.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add robots.txt referencing the sitemap for crawlability (#1396)
  static/robots.txt
Due: none

docs(security-model): fix 'redaction' mistranslation (review)
  pages/explanation/security-model.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add a security-model page (ja+en) (#1397)
  pages/explanation/security-model.en.md
  pages/explanation/security-model.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(metrics): context lift メトリクス + schema parity canary + SKIPPED_BY_POLICY (#1350)
  runners/core/review-runner.mjs
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/518.index.mjs
  runners/github-action/dist/518.index.mjs.map
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  schemas/skill.schema.json
  src/lib/gate-decision.mjs
  src/lib/review-plan.mjs
  src/lib/run-gate.mjs
  src/lib/runs-digest.mjs
  tests/gate-decision.test.mjs
  tests/skill-schema-parity.test.mjs
Due: prettier --write

fix: レビュー minor — liftRatio を [0,1] にクランプ
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

build: rebuild dist after merging main
  runners/github-action/dist/index.mjs.map
Due: none

feat(metrics): context lift + schema parity canary + SKIPPED_BY_POLICY (#1398)
  runners/core/review-runner.mjs
  runners/github-action/dist/518.index.mjs
  runners/github-action/dist/518.index.mjs.map
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  schemas/skill.schema.json
  src/lib/gate-decision.mjs
  src/lib/review-plan.mjs
  src/lib/run-gate.mjs
  src/lib/runs-digest.mjs
  tests/gate-decision.test.mjs
  tests/skill-schema-parity.test.mjs
Due: prettier --write

feat(loop): reference loop に gate 消費を実装する (#1351)
  examples/loop-reference-agent/README.md
  examples/loop-reference-agent/reference-loop.mjs
  tests/loop-reference-agent.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: レビュー対応 — observation 契約の伝播 + README の enforcement 記述訂正 + action マップ単一ソース化
  examples/loop-reference-agent/README.md
  examples/loop-reference-agent/reference-loop.mjs
  tests/loop-reference-agent.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: GO_WITH_OBSERVATION の deadline 欠落時を fail-safe で escalate する
  examples/loop-reference-agent/reference-loop.mjs
  tests/loop-reference-agent.test.mjs
Due: none

feat(loop): reference loop に gate 消費を実装する (#1400)
  examples/loop-reference-agent/README.md
  examples/loop-reference-agent/reference-loop.mjs
  tests/loop-reference-agent.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(gate): deterministic strict_block を gate が消費する (#1351)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/deterministic-gate.mjs
  src/lib/gate-decision.mjs
  src/lib/local-runner.mjs
  src/lib/run-gate.mjs
  tests/deterministic-gate.test.mjs
  tests/gate-decision.test.mjs
  tests/run-gate.test.mjs
Due: none

fix(gate): strict_block を exec-execute 経路にも執行 + fail-safe 強化
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/deterministic-gate.mjs
  src/lib/review-plan.mjs
  tests/deterministic-gate.test.mjs
Due: none

feat(gate): deterministic strict_block を gate が消費する (#1351) (#1403)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/deterministic-gate.mjs
  src/lib/gate-decision.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/run-gate.mjs
  tests/deterministic-gate.test.mjs
  tests/gate-decision.test.mjs
  tests/run-gate.test.mjs
Due: none

feat(cli): --gate で gate 判定を exit code に写像する (#1351)
  runners/github-action/action.yml
  runners/github-action/dist/39.index.mjs
  runners/github-action/dist/39.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/gate-exit.mjs
  tests/cli-parse-args.test.mjs
  tests/cli.test.mjs
  tests/gate-exit.test.mjs
Due: prettier --write

fix(cli): 自己レビュー対応 — 冗長 import 削除 + action 警告文言 + test 拡充
  runners/github-action/action.yml
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli.test.mjs
Due: prettier --write

fix(gate): combineExitCodes の未知コード比較バグ + --gate/--plan ガード
  runners/github-action/dist/39.index.mjs
  runners/github-action/dist/39.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/gate-exit.mjs
  tests/cli.test.mjs
  tests/gate-exit.test.mjs
Due: none

feat(cli): --gate で gate 判定を exit code に写像する (#1351) (#1404)
  runners/github-action/action.yml
  runners/github-action/dist/39.index.mjs
  runners/github-action/dist/39.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/gate-exit.mjs
  tests/cli-parse-args.test.mjs
  tests/cli.test.mjs
  tests/gate-exit.test.mjs
Due: prettier --write

docs: 「HITL 既定」→「リスク階層型の人間監督」へ看板を更新する (#1352)
  README.en.md
  README.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/vision.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/upstream-midstream-downstream.en.md
  pages/explanation/upstream-midstream-downstream.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix site-external ADR link and cliff-first wording order
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(scanner): suppress HARDCODED_SECRET false positive on the ADR slug
  .plugin-scanner.toml
Due: none

docs: 「HITL 既定」→「リスク階層型の人間監督」へ看板を更新する (#1352) (#1405)
  .plugin-scanner.toml
  README.en.md
  README.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/vision.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/upstream-midstream-downstream.en.md
  pages/explanation/upstream-midstream-downstream.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: use namespace imports for js-yaml (v5 readiness)
  runners/core/skill-loader.mjs
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-agents.mjs
  scripts/validate-skills.mjs
  src/config/loader.mjs
  src/lib/agent-skill-bridge.mjs
  src/lib/risk-map.mjs
  tests/eval-rubric.test.mjs
Due: none

chore: use namespace imports for js-yaml (v5 readiness) (#1413)
  runners/core/skill-loader.mjs
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-agents.mjs
  scripts/validate-skills.mjs
  src/config/loader.mjs
  src/lib/agent-skill-bridge.mjs
  src/lib/risk-map.mjs
  tests/eval-rubric.test.mjs
Due: none

chore: rebuild action dist with js-yaml 5.2.1
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore: repair lockfile sync for @commitlint/cli 21.2.0
  package-lock.json
Due: prettier --write

chore: auto-sync CITATION.cff version via release-please
  CITATION.cff
  pages/reference/how-to-cite.en.md
  pages/reference/how-to-cite.md
  release-please-config.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(how-to-cite): restore date/year placeholders in citation examples
  pages/reference/how-to-cite.en.md
  pages/reference/how-to-cite.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: auto-sync CITATION.cff version via release-please (#1414)
  CITATION.cff
  pages/reference/how-to-cite.en.md
  pages/reference/how-to-cite.md
  release-please-config.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 却下代替案の記録欄とレビュー残リスク節を追加する
  docs/CONTINUITY.md
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
