Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: expand upstream architecture review skills
  pages/reference/skills-catalog.md
  prh-rules/index.yml
  scripts/generate-skill-catalog.mjs
  skills/upstream/rr-upstream-adr-decision-quality-001.md
  skills/upstream/rr-upstream-architecture-boundaries-001.md
  skills/upstream/rr-upstream-architecture-diagrams-001.md
  skills/upstream/rr-upstream-architecture-risk-register-001.md
  skills/upstream/rr-upstream-architecture-traceability-001.md
  skills/upstream/rr-upstream-bounded-context-language-001.md
  skills/upstream/rr-upstream-capacity-cost-design-001.md
  skills/upstream/rr-upstream-data-flow-state-ownership-001.md
  skills/upstream/rr-upstream-data-model-db-design-001.md
  skills/upstream/rr-upstream-event-driven-semantics-001.md
  skills/upstream/rr-upstream-external-dependencies-001.md
  skills/upstream/rr-upstream-integration-contracts-001.md
  skills/upstream/rr-upstream-migration-rollout-rollback-001.md
  skills/upstream/rr-upstream-openapi-contract-001.md
  skills/upstream/rr-upstream-operability-slo-001.md
  skills/upstream/rr-upstream-requirements-acceptance-001.md
  skills/upstream/rr-upstream-security-privacy-design-001.md
  skills/upstream/rr-upstream-trust-boundaries-authz-001.md
  tests/fixtures/execution-plan-midstream.json
  tests/review-runner.snapshot.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: add availability and communication skills
  pages/reference/skills-catalog.md
  skills/upstream/rr-upstream-availability-architecture-001.md
  skills/upstream/rr-upstream-change-communication-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Update skills/upstream/rr-upstream-availability-architecture-001.md
  skills/upstream/rr-upstream-availability-architecture-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: add availability and communication skills
  skills/upstream/rr-upstream-change-communication-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: add upstream api versioning compatibility skill
  pages/reference/skills-catalog.md
  skills/upstream/rr-upstream-api-versioning-compat-001.md
  skills/upstream/rr-upstream-change-communication-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Update skills/upstream/rr-upstream-api-versioning-compat-001.md
  skills/upstream/rr-upstream-api-versioning-compat-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: add agent skills for code quality and testing
  skills/agent-skills/code-documentation/SKILL.md
  skills/agent-skills/code-documentation/references/.gitkeep
  skills/agent-skills/code-refactoring/SKILL.md
  skills/agent-skills/code-refactoring/references/.gitkeep
  skills/agent-skills/code-review/SKILL.md
  skills/agent-skills/code-review/references/.gitkeep
  skills/agent-skills/qa-regression/SKILL.md
  skills/agent-skills/qa-regression/references/.gitkeep
  skills/agent-skills/webapp-testing/SKILL.md
  skills/agent-skills/webapp-testing/references/.gitkeep
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: localize agent skill checklists
  skills/agent-skills/README.md
  skills/agent-skills/architecture-review/references/architecture-checklist.md
  skills/agent-skills/code-documentation/SKILL.md
  skills/agent-skills/code-documentation/references/documentation-checklist.md
  skills/agent-skills/code-quality/references/code-quality-checklist.md
  skills/agent-skills/code-refactoring/SKILL.md
  skills/agent-skills/code-refactoring/references/refactoring-checklist.md
  skills/agent-skills/code-review/SKILL.md
  skills/agent-skills/code-review/references/review-checklist.md
  skills/agent-skills/qa-regression/SKILL.md
  skills/agent-skills/qa-regression/references/regression-checklist.md
  skills/agent-skills/test-coverage/references/test-coverage-checklist.md
  skills/agent-skills/webapp-testing/references/.gitkeep
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: support skipping by PR labels and document config
  package-lock.json
  package.json
  pages/reference/config-schema.md
  src/cli.mjs
  src/config/default.mjs
  src/config/default.ts
  src/config/loader.mjs
  src/config/loader.ts
  src/config/schema.mjs
  src/config/schema.ts
  src/lib/diff-optimizer.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/rules.mjs
  tests/cli.test.mjs
  tests/config-loader.test.mjs
  tests/review-engine.test.mjs
  types/config.ts
Due: prettier --write, npm run check:dashes, markdownlint --fix

code-quality-checklist.md を更新
  skills/agent-skills/code-quality/references/code-quality-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

architecture-checklist.md を更新
  skills/agent-skills/architecture-review/references/architecture-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

test-coverage-checklist.md を更新
  skills/agent-skills/test-coverage/references/test-coverage-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

README.md を更新
  skills/agent-skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

SKILL.md を更新
  skills/agent-skills/code-documentation/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: localize agent skills and fix frontmatter
  skills/agent-skills/README.md
  skills/agent-skills/code-documentation/SKILL.md
  skills/agent-skills/code-refactoring/SKILL.md
  skills/agent-skills/code-review/SKILL.md
  skills/agent-skills/qa-regression/SKILL.md
  skills/agent-skills/webapp-testing/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Update skills/agent-skills/architecture-review/references/architecture-checklist.md
  skills/agent-skills/architecture-review/references/architecture-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: fix zod version and error chaining
  package-lock.json
  package.json
  src/config/loader.mjs
  src/lib/review-engine.mjs
Due: prettier --write

fix: avoid merging arrays and objects in config merge
  src/config/loader.mjs
Due: none

chore: export merge error and tidy runner rules
  src/config/loader.mjs
  src/config/loader.ts
  src/lib/local-runner.mjs
  src/lib/rules.mjs
Due: prettier --write

docs: clarify provider support in config schema
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add upstream dr multiregion skill
  pages/reference/skills-catalog.md
  skills/upstream/rr-upstream-dr-multiregion-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: tidy dr and api versioning skill applyTo
  pages/reference/skills-catalog.md
  skills/upstream/rr-upstream-api-versioning-compat-001.md
  skills/upstream/rr-upstream-dr-multiregion-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: add references for webapp testing skill
  pages/guides/_meta.json
  pages/guides/pr-review-agent-skills.md
  skills/agent-skills/README.md
  skills/agent-skills/agentcheck-code-review/SKILL.md
  skills/agent-skills/agentcheck-code-review/references/agentcheck-setup.md
  skills/agent-skills/pr-agent-review/SKILL.md
  skills/agent-skills/pr-agent-review/references/pr-agent-actions.md
  skills/agent-skills/webapp-testing/SKILL.md
  skills/agent-skills/webapp-testing/references/playwright-setup.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Update skills/agent-skills/agentcheck-code-review/references/agentcheck-setup.md
  skills/agent-skills/agentcheck-code-review/references/agentcheck-setup.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Update skills/agent-skills/pr-agent-review/SKILL.md
  skills/agent-skills/pr-agent-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: align agent skill docs and drop pr-agent package
  pages/guides/pr-review-agent-skills.md
  skills/agent-skills/README.md
  skills/agent-skills/agentcheck-code-review/SKILL.md
  skills/agent-skills/agentcheck-code-review/references/agentcheck-setup.md
  skills/agent-skills/pr-agent-review/SKILL.md
  skills/agent-skills/pr-agent-review/references/pr-agent-actions.md
  skills/agent-skills/webapp-testing/references/playwright-setup.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: add scheduled validation and issue creation
  .github/workflows/link-check.yml
  .github/workflows/skill-validation.yml
Due: prettier --write

chore: expand upstream workflow triggers
  .github/workflows/river-reviewer-upstream.yml
  .river-reviewer.json
  tests/integration/local-review.test.mjs
Due: prettier --write

feat(skills): add test scaffolding skills for Laravel, Next.js, React, Remix, and Vue.js
  skills/upstream/rr-test-code-nextjs-001.md
  skills/upstream/rr-test-code-php-laravel-001.md
  skills/upstream/rr-test-code-react-001.md
  skills/upstream/rr-test-code-remix-001.md
  skills/upstream/rr-test-code-unit-python-pytest-001.md
  skills/upstream/rr-test-code-unit-ts-jest-001.md
  skills/upstream/rr-test-code-vue-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: address Copilot review comments for scheduled validation workflows
  .github/workflows/link-check.yml
  .github/workflows/skill-validation.yml
Due: prettier --write

fix: update GitHub Actions versions to v6 for consistency
  .github/workflows/skill-validation.yml
Due: prettier --write

Update .github/workflows/skill-validation.yml
  .github/workflows/skill-validation.yml
Due: prettier --write

chore(skills): align upstream test scaffolding files
  skills/upstream/rr-test-code-nextjs-001.md
  skills/upstream/rr-test-code-php-laravel-001.md
  skills/upstream/rr-test-code-react-001.md
  skills/upstream/rr-test-code-remix-001.md
  skills/upstream/rr-test-code-unit-python-pytest-001.md
  skills/upstream/rr-test-code-unit-ts-jest-001.md
  skills/upstream/rr-test-code-vue-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): normalize test scaffold metadata and guards
  skills/upstream/rr-test-code-nextjs-001.md
  skills/upstream/rr-test-code-php-laravel-001.md
  skills/upstream/rr-test-code-react-001.md
  skills/upstream/rr-test-code-remix-001.md
  skills/upstream/rr-test-code-unit-python-pytest-001.md
  skills/upstream/rr-test-code-unit-ts-jest-001.md
  skills/upstream/rr-test-code-vue-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Update .river-reviewer.json
  .river-reviewer.json
Due: prettier --write

fix: harden config loader validation
  CONTINUITY.md
  README.md
  package-lock.json
  package.json
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: apply review feedback - remove redundant code and add comprehensive tests
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: none

fix: regenerate corrupted package-lock.json to fix CI failures
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
