Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(scripts): hook command の実行対象が plugin root を脱出したら検証で落とす
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

test: outcome 集合の期待値をリテラル化して enum 改変を検出できるようにする
  tests/cli-review-exec-entry.test.mjs
  tests/flow-runner.test.mjs
Due: none

test(scripts): 実在しない root 外 target を pin して包含検査を独立に固定する
  tests/validate-plugin-manifest.test.mjs
Due: none

fix(scripts): hook command の実行対象が plugin root を脱出したら検証で落とす (#2136)
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

test: outcome 集合の期待値をリテラル化して enum 改変を検出できるようにする (#2137)
  tests/cli-review-exec-entry.test.mjs
  tests/flow-runner.test.mjs
Due: none

docs(development): hook target が plugin root 配下に収まる必要があることを明記する
  docs/development/plugin-asset-registration-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): hook target が plugin root 配下に収まる必要があることを明記する (#2140)
  docs/development/plugin-asset-registration-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): 2026-09-06..07 wave H〜K の振り返りと委託規律 3 件を追加する
  docs/development/retrospectives/2026-09-06-07-wave-hijk.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): checkpoint hook の剪定で SIGPIPE により 141 終了するのを止める
  scripts/plugin-task-checkpoint-hook.sh
Due: none

fix(scripts): checkpoint hook の剪定で SIGPIPE により 141 終了するのを止める (#2142)
  scripts/plugin-task-checkpoint-hook.sh
Due: none

docs(development): 2026-09-06..07 wave H〜K の振り返りと委託規律 3 件を追加する (#2141)
  docs/development/retrospectives/2026-09-06-07-wave-hijk.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): hook command の実行対象を引用状態を追って抽出する
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

fix(scripts): コメント判定を語の境界に限定しエスケープを解釈する
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

fix(scripts): 語の内側の # をパスの区切りにしない
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

docs(development): コメント内の参照が検査対象外であることを明記する
  docs/development/plugin-asset-registration-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): hook command の実行対象を引用状態を追って抽出する (#2145)
  docs/development/plugin-asset-registration-checklist.md
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: macOS のユニットテストを任意チェックとして追加する
  .github/workflows/test.yml
Due: prettier --write

fix(scripts): merge-chain が最後の PR をマージした直後に落ちるのを止める
  scripts/merge-chain.sh
Due: none

fix(scripts): merge-chain が最後の PR をマージした直後に落ちるのを止める (#2148)
  scripts/merge-chain.sh
Due: none

ci: macOS のユニットテストを任意チェックとして追加する (#2147)
  .github/workflows/test.yml
Due: prettier --write

test(helpers): spawnSyncGuarded のタイムアウトに診断情報を付ける
  tests/helpers/__tests__/spawn-guard.test.mjs
  tests/helpers/spawn-guard.mjs
Due: none

test(helpers): spawnSyncGuarded のタイムアウトに診断情報を付ける (#2150)
  tests/helpers/__tests__/spawn-guard.test.mjs
  tests/helpers/spawn-guard.mjs
Due: none

docs(development): 新規ファイルの置き場所を既存の慣習に合わせる規律を足す
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): 新規ファイルの置き場所を既存の慣習に合わせる規律を足す (#2151)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: plugin scanner の除外設定の変更を PR コメントで可視化する
  .github/workflows/README.md
  .github/workflows/plugin-scanner-ignore-paths-notice.yml
  scripts/report-plugin-scanner-ignore-paths.mjs
  tests/scripts-plugin-scanner-ignore-paths.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: plugin scanner の除外設定の変更を PR コメントで可視化する (#2152)
  .github/workflows/README.md
  .github/workflows/plugin-scanner-ignore-paths-notice.yml
  scripts/report-plugin-scanner-ignore-paths.mjs
  tests/scripts-plugin-scanner-ignore-paths.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: 通知ワークフローの発火を確かめる一時変更
  .plugin-scanner.toml
Due: none

docs(development): ワークフロー新設時は README の一覧も同じ PR で更新する
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): ワークフロー新設時は README の一覧も同じ PR で更新する (#2154)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): #2011 AC7 P3-1 Flow 入力の解決を --debug から切り離す
  src/cli/commands/review.mjs
  src/lib/review-plan.mjs
  tests/cli-review-exec-entry.test.mjs
Due: none

test(cli): 汎用 artifact ID の供給を pin する
  tests/cli-review-exec-entry.test.mjs
Due: none

docs(reference): --debug が入力解決の条件でないことを反映する
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): #2011 AC7 P3-1 Flow 入力の解決を --debug から切り離す (#2155)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/review.mjs
  src/lib/review-plan.mjs
  tests/cli-review-exec-entry.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): #2011 AC7 P3-2 標準 artifact ID を Flow 入力へ結ぶ既定値を入れる
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/review.mjs
  src/lib/flow-input-bindings.mjs
  tests/cli-review-exec-entry.test.mjs
  tests/fixtures/plangate-review-artifacts/pbi-input.md
  tests/flow-input-bindings.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): 入力供給の 3 者の優先順を pin する
  tests/flow-input-bindings.test.mjs
Due: none

fix(cli): 必須入力への既定束縛を撤回する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/flow-input-bindings.mjs
  tests/cli-review-exec-entry.test.mjs
  tests/flow-input-bindings.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
