Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

feat(gate): gateDecision 契約 — 決定論純関数 + fail-safe + 監査ブロック (#1364)
  runners/github-action/dist/320.index.mjs
  runners/github-action/dist/320.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/config/schema.mjs
  src/lib/gate-decision.mjs
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/cli-review-plan.test.mjs
  tests/gate-decision.test.mjs
Due: prettier --write

feat(gate): evaluationType スキーマ + executionOrder/estimatedCost + river run 配線 (#1349)
  runners/core/review-runner.mjs
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  schemas/skill.schema.json
  src/cli.mjs
  src/lib/review-plan.mjs
  src/lib/skillYamlSchema.mjs
  tests/cli-review-plan.test.mjs
  tests/gate-decision.test.mjs
Due: prettier --write

feat(gate): evaluationType スキーマ + executionOrder/estimatedCost + river run 配線 (#1349) (#1366)
  runners/core/review-runner.mjs
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  schemas/skill.schema.json
  src/cli.mjs
  src/lib/review-plan.mjs
  src/lib/skillYamlSchema.mjs
  tests/cli-review-plan.test.mjs
  tests/gate-decision.test.mjs
Due: prettier --write

feat(gate): 契約 doc の gate 節 + conformance fixture + approval-scan 抽出 (#1349, #1363)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  runners/core/review-runner.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/skill.schema.json
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/plan-review/approval-scan.mjs
  src/lib/review-plan.mjs
  src/lib/skillYamlSchema.mjs
  tests/fixtures/gate-conformance/01-go-converged.json
  tests/fixtures/gate-conformance/02-hill-minor-findings.json
  tests/fixtures/gate-conformance/03-nogo-blocking.json
  tests/fixtures/gate-conformance/04-escalate-gate-config.json
  tests/fixtures/gate-conformance/05-nogo-not-executed.json
  tests/gate-conformance.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: dry-run の gate NOT_EXECUTED を E2E で検証 (M1 配線テスト)
  tests/cli.test.mjs
Due: none

docs: レビュー F1 — reasonCode の代表例に authoritative enum への参照を補足
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test/docs: レビュー minor 対応 — m1 単離テスト + NOT_EXECUTED 厳密化 + tier 注記 + fixture 補足
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  tests/cli.test.mjs
  tests/fixtures/gate-conformance/02-hill-minor-findings.json
  tests/gate-decision.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

style: prettier 適用（--no-verify コミット分の是正）
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  tests/fixtures/gate-conformance/02-hill-minor-findings.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(gate): 契約 doc の gate 節 + conformance fixture + approval-scan 抽出 (#1367)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  runners/core/review-runner.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/skill.schema.json
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/plan-review/approval-scan.mjs
  src/lib/review-plan.mjs
  src/lib/skillYamlSchema.mjs
  tests/cli.test.mjs
  tests/fixtures/gate-conformance/01-go-converged.json
  tests/fixtures/gate-conformance/02-hill-minor-findings.json
  tests/fixtures/gate-conformance/03-nogo-blocking.json
  tests/fixtures/gate-conformance/04-escalate-gate-config.json
  tests/fixtures/gate-conformance/05-nogo-not-executed.json
  tests/gate-conformance.test.mjs
  tests/gate-decision.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

build: rebuild dist (prettier-reformatted output.schema.json copy)
  runners/github-action/dist/output.schema.json
Due: prettier --write

wip: design-philosophy.en.md への判断分担追記（セッション外由来の未コミット作業を退避。ja 未対訳・S5 #1352 と重複スコープのため保留）
  pages/explanation/design-philosophy.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

wip: design-philosophy.md の HITL→HOTL 節ドラフト（セッション外由来）も同 branch に退避
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 設計哲学に HITL→HOTL への進化方針を追記
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: レビュー指摘対応 — Non-Goalsとの関係明示 / Loop表記統一 / 前提の具体化
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: copilotレビュー指摘対応、HITL/HOTL略語展開とimprovement-loop表記統一
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 設計哲学に HITL→HOTL への進化方針を追記 (#1368)
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plan-review): adjudicator 堅牢化 + regex recall の ratchet 実測 (#1350)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  tests/fixtures/plan-review/recall-variants/README.md
  tests/fixtures/plan-review/recall-variants/v01-ja-vocab-shobun.json
  tests/fixtures/plan-review/recall-variants/v02-ja-vocab-katazuke.json
  tests/fixtures/plan-review/recall-variants/v03-ja-order.json
  tests/fixtures/plan-review/recall-variants/v04-en-synonym-scrub.json
  tests/fixtures/plan-review/recall-variants/v05-en-order.json
  tests/fixtures/plan-review/recall-variants/v06-ja-vocab-sara.json
  tests/fixtures/plan-review/recall-variants/v07-en-synonym-flush.json
  tests/fixtures/plan-review/recall-variants/v08-ja-honban-alt.json
  tests/fixtures/plan-review/recall-variants/v09-en-euphemism-reset.json
  tests/fixtures/plan-review/recall-variants/v10-ja-mixed.json
  tests/llm-adjudicator.test.mjs
  tests/plan-review-recall-variants.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: redact を抜粋後に適用 — offset ずらし攻撃の遮断 + 回帰テスト
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  src/lib/plan-review/llm-adjudicator.mjs
  tests/llm-adjudicator.test.mjs
Due: none

fix: レビュー対応 — snippet redact/neutralize (M1) + 抜粋境界/budget/precision 修正
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  tests/fixtures/plan-review/recall-variants/v11-en-reset-inflection.json
Due: prettier --write

feat(plan-review): adjudicator 堅牢化 + regex recall の ratchet 実測 (#1370)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  tests/fixtures/plan-review/recall-variants/README.md
  tests/fixtures/plan-review/recall-variants/v01-ja-vocab-shobun.json
  tests/fixtures/plan-review/recall-variants/v02-ja-vocab-katazuke.json
  tests/fixtures/plan-review/recall-variants/v03-ja-order.json
  tests/fixtures/plan-review/recall-variants/v04-en-synonym-scrub.json
  tests/fixtures/plan-review/recall-variants/v05-en-order.json
  tests/fixtures/plan-review/recall-variants/v06-ja-vocab-sara.json
  tests/fixtures/plan-review/recall-variants/v07-en-synonym-flush.json
  tests/fixtures/plan-review/recall-variants/v08-ja-honban-alt.json
  tests/fixtures/plan-review/recall-variants/v09-en-euphemism-reset.json
  tests/fixtures/plan-review/recall-variants/v10-ja-mixed.json
  tests/fixtures/plan-review/recall-variants/v11-en-reset-inflection.json
  tests/llm-adjudicator.test.mjs
  tests/plan-review-recall-variants.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(supervision): 監査証跡の蓄積 + runs digest + Action 強制表示点 (#1350)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/518.index.mjs
  runners/github-action/dist/518.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/result-store.mjs
  src/lib/run-gate.mjs
  src/lib/runs-digest.mjs
  tests/cli.test.mjs
  tests/result-store.test.mjs
  tests/runs-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: レビュー対応 — job summary の full record 読込 (C1)・auto-save opt-out (M1)・末尾 streak 判定 (M2) ほか
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/518.index.mjs
  runners/github-action/dist/518.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/result-store.mjs
  src/lib/runs-digest.mjs
  tests/cli.test.mjs
  tests/runs-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(supervision): 監査証跡の蓄積 + runs digest + Action 強制表示点 (#1372)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/518.index.mjs
  runners/github-action/dist/518.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/result-store.mjs
  src/lib/run-gate.mjs
  src/lib/runs-digest.mjs
  tests/cli.test.mjs
  tests/result-store.test.mjs
  tests/runs-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(lint): add textlint --no-cache to lint-staged for pages markdown
  .lintstagedrc.json
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(hooks): add gh account guard as a deterministic pre-tool-use hook
  .claude/hooks/README.md
  .claude/hooks/gh-account-guard.sh
  .claude/settings.json
  CLAUDE.md
  tests/gh-account-guard-hook.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): repair registry path drift and add registry path validation
  scripts/validate-skills.mjs
  skills/README.md
  skills/registry.yaml
  tests/validate-registry-paths.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(hooks): handle gh global options and quoted api methods in guard
  .claude/hooks/gh-account-guard.sh
  tests/gh-account-guard-hook.test.mjs
Due: none

chore(lint): serialize lint-staged globs with --concurrent false
  .husky/pre-commit
Due: none

fix(skills): harden reverse-check path matching in validateRegistryPaths
  scripts/validate-skills.mjs
  tests/validate-registry-paths.test.mjs
Due: none

feat(hooks): add gh account guard as a PreToolUse hook (#1375)
  .claude/hooks/README.md
  .claude/hooks/gh-account-guard.sh
  .claude/settings.json
  CLAUDE.md
  tests/gh-account-guard-hook.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): repair registry path drift and add registry path validation (#1376)
  scripts/validate-skills.mjs
  skills/README.md
  skills/registry.yaml
  tests/validate-registry-paths.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(lint): add textlint --no-cache to lint-staged for pages markdown (#1374)
  .husky/pre-commit
  .lintstagedrc.json
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(commands): add /verify-agent-report repo-dev command
  .claude/commands/README.md
  .claude/commands/verify-agent-report.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): add bundle field allowlist and cross-manifest parity checks
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: none

feat(pr): add description-vs-actual consistency checks to /pr and pr-description skill
  commands/pr.md
  docs/data/skill-manifest.json
  skills/midstream/pr-description/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(ci): auto-rebuild github-action dist on stale PRs
  .github/workflows/auto-rebuild-action-dist.yml
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(validate): mechanize skill fixture/description drift guard
  scripts/validate-skills.mjs
  tests/validate-fixture-drift.test.mjs
Due: none

fix(commands): address review comments on /verify-agent-report
  .claude/commands/verify-agent-report.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): scope issue cross-check guidance to available input context
  docs/data/skill-manifest.json
  skills/midstream/pr-description/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate
