Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

feat(schemas): #2020 cross-runtime conformance case schema を追加する
  schemas/cross-runtime-conformance.schema.json
Due: prettier --write

feat(schemas): #2019 Completion / Convergence の契約と検証を追加する (#2043)
  schemas/completion-assessment.schema.json
  tests/completion-assessment.test.mjs
  tests/fixtures/completion/blocked.json
  tests/fixtures/completion/evidence-missing-unverified.json
  tests/fixtures/completion/false-complete-task-exhaustion-guard.json
  tests/fixtures/completion/final-happy.json
  tests/fixtures/completion/gate-vocabulary-guard.json
  tests/fixtures/completion/human-judgment.json
  tests/fixtures/completion/merge-authority-guard.json
  tests/fixtures/completion/minimal-happy.json
  tests/fixtures/completion/task-scope-validation-guard.json
  tests/fixtures/completion/unsupported-claim-guard.json
  tests/helpers/schema-validator.mjs
Due: prettier --write

feat(tests): #2020 cross-runtime conformance の比較器を追加する
  tests/helpers/cross-runtime-conformance.mjs
Due: none

test(cross-runtime): #2020 conformance fixture 15 本と検証スイートを追加する
  tests/cross-runtime-conformance.test.mjs
  tests/fixtures/cross-runtime/clean-positive-plan.json
  tests/fixtures/cross-runtime/final-false-convergence.json
  tests/fixtures/cross-runtime/missing-artifact-design.json
  tests/fixtures/cross-runtime/neg-adapter-redefines-gate.json
  tests/fixtures/cross-runtime/neg-critical-recall-gap.json
  tests/fixtures/cross-runtime/neg-human-authority-drift.json
  tests/fixtures/cross-runtime/neg-manifest-incomplete-under-capability-gap.json
  tests/fixtures/cross-runtime/neg-unpinned-inputs.json
  tests/fixtures/cross-runtime/neg-unsupported-adapter-claim.json
  tests/fixtures/cross-runtime/replan-semantic-drift.json
  tests/fixtures/cross-runtime/requirement-contradiction.json
  tests/fixtures/cross-runtime/security-human-handoff.json
  tests/fixtures/cross-runtime/should-detect-technical.json
  tests/fixtures/cross-runtime/should-not-detect-clean-plan.json
  tests/fixtures/cross-runtime/task-false-complete.json
  tests/helpers/cross-runtime-conformance.mjs
Due: prettier --write

test(cross-runtime): #2020 manifest 完全性の status 検査と pin 検査を別 fixture で分離する
  tests/fixtures/cross-runtime/neg-manifest-block-unresolved.json
  tests/fixtures/cross-runtime/neg-manifest-pin-missing.json
Due: prettier --write

docs(development): #2020 cross-runtime conformance の手順と dogfood 記録を追加する
  docs/development/cross-runtime-conformance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schemas): #2020 cross-runtime ケースの schema と fixture の抜けを塞ぐ
  docs/development/cross-runtime-conformance.md
  schemas/cross-runtime-conformance.schema.json
  tests/cross-runtime-conformance.test.mjs
  tests/fixtures/cross-runtime/clean-positive-plan.json
  tests/fixtures/cross-runtime/final-false-convergence.json
  tests/fixtures/cross-runtime/missing-artifact-design.json
  tests/fixtures/cross-runtime/neg-adapter-redefines-gate.json
  tests/fixtures/cross-runtime/neg-completion-state-divergence.json
  tests/fixtures/cross-runtime/neg-critical-severity-downgrade.json
  tests/fixtures/cross-runtime/neg-human-authority-drift.json
  tests/fixtures/cross-runtime/neg-human-authority-gate-drift.json
  tests/fixtures/cross-runtime/neg-manifest-block-unresolved.json
  tests/fixtures/cross-runtime/neg-manifest-pin-missing.json
  tests/fixtures/cross-runtime/neg-unpinned-inputs.json
  tests/fixtures/cross-runtime/neg-unsupported-adapter-claim.json
  tests/fixtures/cross-runtime/replan-semantic-drift.json
  tests/fixtures/cross-runtime/requirement-contradiction.json
  tests/fixtures/cross-runtime/security-human-handoff.json
  tests/fixtures/cross-runtime/should-detect-technical.json
  tests/fixtures/cross-runtime/should-not-detect-clean-plan.json
  tests/fixtures/cross-runtime/task-false-complete.json
  tests/helpers/cross-runtime-conformance.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: #2020 cross-runtime conformance kit を追加する (#2045)
  docs/development/cross-runtime-conformance.md
  schemas/cross-runtime-conformance.schema.json
  tests/cross-runtime-conformance.test.mjs
  tests/fixtures/cross-runtime/clean-positive-plan.json
  tests/fixtures/cross-runtime/final-false-convergence.json
  tests/fixtures/cross-runtime/missing-artifact-design.json
  tests/fixtures/cross-runtime/neg-adapter-redefines-gate.json
  tests/fixtures/cross-runtime/neg-completion-state-divergence.json
  tests/fixtures/cross-runtime/neg-critical-recall-gap.json
  tests/fixtures/cross-runtime/neg-critical-severity-downgrade.json
  tests/fixtures/cross-runtime/neg-human-authority-drift.json
  tests/fixtures/cross-runtime/neg-human-authority-gate-drift.json
  tests/fixtures/cross-runtime/neg-manifest-block-unresolved.json
  tests/fixtures/cross-runtime/neg-manifest-pin-missing.json
  tests/fixtures/cross-runtime/neg-unpinned-inputs.json
  tests/fixtures/cross-runtime/neg-unsupported-adapter-claim.json
  tests/fixtures/cross-runtime/replan-semantic-drift.json
  tests/fixtures/cross-runtime/requirement-contradiction.json
  tests/fixtures/cross-runtime/security-human-handoff.json
  tests/fixtures/cross-runtime/should-detect-technical.json
  tests/fixtures/cross-runtime/should-not-detect-clean-plan.json
  tests/fixtures/cross-runtime/task-false-complete.json
  tests/helpers/cross-runtime-conformance.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(manifest): #2037 flow ブロックの resolve 経路を決めて deterministic replay を成立させる
  schemas/execution-manifest.schema.json
  src/lib/execution-manifest.mjs
  tests/execution-manifest.test.mjs
  tests/fixtures/execution-manifest/flow-document-unversioned.json
  tests/fixtures/execution-manifest/flow-document.json
Due: prettier --write

fix(cli): #2046 review plan が --base を route と同じ経路で解決する
  docs/development/cross-runtime-conformance.md
  src/cli.mjs
  src/cli/commands/review.mjs
  src/lib/review-plan.mjs
  tests/cli-review-base-range.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): #2027 Runtime Adapter Invariants RA-1 / RA-2 を機械検査へ落とす
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/compliant-pointer-only.md
  tests/fixtures/runtime-adapter-invariants/violating-gate-condition.md
  tests/fixtures/runtime-adapter-invariants/violating-severity-map.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(manifest): #2037 doc の計測スナップショットを更新し expectedVersion の fail-open を塞ぐ
  docs/development/execution-manifest.md
  src/lib/execution-manifest.mjs
  tests/execution-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(manifest): #2037 flow 文書の id 重複をテストが握り潰さないようにする
  tests/execution-manifest.test.mjs
Due: none

docs(guards): 既存ガード 2 件へ origin 一致確認と並行セッション確認を追記する
  CLAUDE.md
  docs/development/guard-ledger.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(manifest): #2037 flow ブロックの resolve 経路を決めて deterministic replay を成立させる (#2048)
  docs/development/execution-manifest.md
  schemas/execution-manifest.schema.json
  src/lib/execution-manifest.mjs
  tests/execution-manifest.test.mjs
  tests/fixtures/execution-manifest/flow-document-unversioned.json
  tests/fixtures/execution-manifest/flow-document.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): #2046 --base の優先順位・ref 検証・範囲の可観測性をレビュー指摘に沿って直す
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  src/cli/commands/review.mjs
  src/lib/git.mjs
  src/lib/review-mode-router.mjs
  src/lib/review-plan.mjs
  tests/cli-review-base-range.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2027 RA-1 の除外条件と検出範囲を修正し gate 語彙を製品 gate に絞る
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/compliant-screaming-headings.md
  tests/fixtures/runtime-adapter-invariants/violating-evaded-forms.md
  tests/fixtures/runtime-adapter-invariants/violating-gate-condition.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(rules): #2027 severity 語彙の出典に finding-factory を加える
  .claude/rules/review-core.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(guards): 既存ガード 2 件へ origin 一致確認と並行セッション確認を追記する (#2052)
  CLAUDE.md
  docs/development/guard-ledger.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2027 RA-1 を active 化し 指摘 の CJK 検出と自己整合テストを直す
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/violating-gate-condition.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): #2046 --dry-run replay の --base 無警告破棄と context の空集合断定を直す
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  src/cli/commands/review.mjs
  src/lib/git.mjs
  src/lib/review-plan.mjs
  tests/cli-review-base-range.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2027 validate-plugin-manifest.mjs から生の NUL バイトを除去する
  scripts/validate-plugin-manifest.mjs
Due: none

fix(cli): #2046 review plan が --base を route と同じ経路で解決する (#2049)
  docs/development/cross-runtime-conformance.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/709.index.mjs
  runners/github-action/dist/709.index.mjs.map
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/cli/commands/review.mjs
  src/lib/git.mjs
  src/lib/review-mode-router.mjs
  src/lib/review-plan.mjs
  tests/cli-review-base-range.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): #2027 Runtime Adapter Invariants RA-1 / RA-2 を機械検査へ落とす (#2050)
  .claude/rules/review-core.md
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/compliant-pointer-only.md
  tests/fixtures/runtime-adapter-invariants/compliant-screaming-headings.md
  tests/fixtures/runtime-adapter-invariants/violating-evaded-forms.md
  tests/fixtures/runtime-adapter-invariants/violating-gate-condition.md
  tests/fixtures/runtime-adapter-invariants/violating-severity-map.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2050 RA-1 の SSoT 参照 traversal と証跡規則の ReDoS を塞ぐ
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  schemas/review-artifact.schema.json
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/attack-evidence-redos.md
  tests/fixtures/runtime-adapter-invariants/attack-ssot-path-traversal.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): #2050 ADR-009 Context 節の行番号も実測値へ追随させる
  docs/adr/009-plugin-first-product-and-runtime-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2050 RA-1 の SSoT 参照 traversal と証跡規則の ReDoS を塞ぐ (#2060)
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  schemas/review-artifact.schema.json
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/attack-evidence-redos.md
  tests/fixtures/runtime-adapter-invariants/attack-ssot-path-traversal.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(retrospective): 2026-09-03..04 の振り返りと規律 4 件の codify
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-09-03-04.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): #2055 ソースへの C0 制御文字混入を機械検査する
  package.json
  scripts/check-control-characters.mjs
  tests/check-control-characters.test.mjs
  tests/cli-promote-propose.test.mjs
Due: prettier --write

fix(scripts): #2058 #2059 RA-1 の severity 対応表を向きまで照合し ADR-009 D7-4 の矛盾を解消する
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  scripts/validate-plugin-manifest.mjs
  tests/fixtures/runtime-adapter-invariants/compliant-severity-map-derived.md
  tests/fixtures/runtime-adapter-invariants/violating-severity-map-mismapped.md
  tests/fixtures/runtime-adapter-invariants/violating-severity-map-reversed.md
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(retrospective): 偽 red の原因を Node 版差から node_modules ズレへ訂正する
  docs/development/retrospectives/2026-09-03-04.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): #2051 #2057 --base を skills / run でも review と同じ経路で解決する
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/25.index.mjs
  runners/github-action/dist/25.index.mjs.map
  runners/github-action/dist/252.index.mjs
  runners/github-action/dist/252.index.mjs.map
  runners/github-action/dist/343.index.mjs
  runners/github-action/dist/343.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/85.index.mjs
  runners/github-action/dist/85.index.mjs.map
  runners/github-action/dist/904.index.mjs
  runners/github-action/dist/904.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/review.mjs
  src/cli/commands/skills.mjs
  src/lib/git.mjs
  src/lib/local-runner.mjs
  tests/cli-base-ref-consistency.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(scripts): #2055 検査対象の件数をコメントから外し出典ドリフトを断つ
  scripts/check-control-characters.mjs
Due: none

fix(docs): #2059 RA-1 が変えたのは verdict 語彙であり対象パス集合ではないと明記する
  docs/adr/009-plugin-first-product-and-runtime-contract.md
  docs/development/ra1-runtime-adapter-inventory.md
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): #2055 検査対象を全追跡ファイルへ広げ配線を pin する
  scripts/check-control-characters.mjs
  tests/check-control-characters.test.mjs
  tests/meta-validate-wiring.test.mjs
Due: none

docs(cli): #2051 #2057 --base の reference 記述の矛盾を解消し移行文を足す
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
