Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: add suggestedLoopSignal to review artifact and runs diff output
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/cli.mjs
  src/lib/loop-signal.mjs
  src/lib/review-plan.mjs
  tests/loop-signal.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

build: rebuild action dist after rebase (loop-signal)
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/index.mjs.map
Due: none

fix(loop-signal): guard findings + pass latest run to runs-diff signal (gemini)
  src/cli.mjs
  src/lib/loop-signal.mjs
  tests/loop-signal.test.mjs
Due: none

build: rebuild action dist after loop-signal gemini fixes
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat: suggestedLoopSignal 3-layer loop metadata (#1171 item3) (#1176)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/cli.mjs
  src/lib/loop-signal.mjs
  src/lib/review-plan.mjs
  tests/loop-signal.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: single-source verdict in formatters via resolveVerdict (#1170 F3)
  src/cli.mjs
  src/lib/output-formatters/html.mjs
  src/lib/output-formatters/yaml.mjs
  src/lib/scoring/engine.mjs
  tests/output-formatters/yaml.test.mjs
  tests/output-html.test.mjs
  tests/scoring/engine.test.mjs
Due: none

fix(cli): propagate canonical decision to yaml/html output (#1170 F3, gemini)
  src/cli.mjs
Due: none

build: rebuild action dist after F3 verdict single-source
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix: single-source verdict in formatters via resolveVerdict (#1170 F3) (#1182)
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/output-formatters/html.mjs
  src/lib/output-formatters/yaml.mjs
  src/lib/scoring/engine.mjs
  tests/output-formatters/yaml.test.mjs
  tests/output-html.test.mjs
  tests/scoring/engine.test.mjs
Due: none

build: rebuild action dist for js-yaml 4.2.0
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(adversarial-review): add 3 claim-vs-actual detection skills (#1177)
  docs/data/skill-manifest.json
  skills/agent-skills/adversarial-review/SKILL.md
  skills/midstream/rr-midstream-cross-file-leakage-001/SKILL.md
  skills/midstream/rr-midstream-refactor-claim-audit-001/SKILL.md
  skills/midstream/rr-midstream-self-contradiction-001/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(adversarial-review): unify cross-file-leakage tags/description + placeholder consistency (#1177, gemini)
  docs/data/skill-manifest.json
  skills/agent-skills/adversarial-review/SKILL.md
  skills/midstream/rr-midstream-cross-file-leakage-001/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(adversarial-review): add 3 claim-vs-actual detection skills (#1177) (#1184)
  docs/data/skill-manifest.json
  skills/agent-skills/adversarial-review/SKILL.md
  skills/midstream/rr-midstream-cross-file-leakage-001/SKILL.md
  skills/midstream/rr-midstream-refactor-claim-audit-001/SKILL.md
  skills/midstream/rr-midstream-self-contradiction-001/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(examples): loop reference agent + contract test (#1171 item2)
  examples/loop-reference-agent/README.md
  examples/loop-reference-agent/reference-loop.mjs
  tests/fixtures/loop-reference-agent/artifact-converged.json
  tests/fixtures/loop-reference-agent/artifact-escalate.json
  tests/fixtures/loop-reference-agent/artifact-revise.json
  tests/fixtures/loop-reference-agent/runs-diff-oscillated.json
  tests/loop-reference-agent.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(examples): guard maxIterations + make loop driver async (#1171 item2, gemini)
  examples/loop-reference-agent/README.md
  examples/loop-reference-agent/reference-loop.mjs
  tests/loop-reference-agent.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(examples): loop reference agent + contract test (#1171 item2) (#1186)
  examples/loop-reference-agent/README.md
  examples/loop-reference-agent/reference-loop.mjs
  tests/fixtures/loop-reference-agent/artifact-converged.json
  tests/fixtures/loop-reference-agent/artifact-escalate.json
  tests/fixtures/loop-reference-agent/artifact-revise.json
  tests/fixtures/loop-reference-agent/runs-diff-oscillated.json
  tests/loop-reference-agent.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eval): convergence efficiency evaluator (#1171 item4)
  package.json
  scripts/evaluate-convergence-efficiency.mjs
  tests/convergence-efficiency.test.mjs
  tests/fixtures/convergence-efficiency/cases.json
Due: prettier --write

fix(eval): sort runs chronologically + guard isDirectRun (#1171 item4, gemini)
  scripts/evaluate-convergence-efficiency.mjs
  tests/convergence-efficiency.test.mjs
Due: none

feat(eval): convergence efficiency evaluator (#1171 item4) (#1188)
  package.json
  scripts/evaluate-convergence-efficiency.mjs
  tests/convergence-efficiency.test.mjs
  tests/fixtures/convergence-efficiency/cases.json
Due: prettier --write

test(merge): adversarial set for mergeFindings (#1171 item5)
  tests/fixtures/review-team-adversarial/cases.json
  tests/merge-findings.test.mjs
Due: prettier --write

test(merge): assert order-independent union + guard find() results (#1171 item5, gemini)
  tests/merge-findings.test.mjs
Due: none

test(merge): adversarial set for mergeFindings (#1171 item5) (#1190)
  tests/fixtures/review-team-adversarial/cases.json
  tests/merge-findings.test.mjs
Due: prettier --write

feat(html): loop dashboard for runs diff --output html (#1191)
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/output-formatters/html.mjs
  tests/output-html.test.mjs
Due: none

fix(html): unwrap ComparedFinding in loop dashboard new/resolved (#1191, gemini critical)
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  src/lib/output-formatters/html.mjs
  tests/output-html.test.mjs
Due: none

feat(html): loop dashboard for runs diff --output html (#1191) (#1192)
  runners/github-action/dist/980.index.mjs
  runners/github-action/dist/980.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/output-formatters/html.mjs
  tests/output-html.test.mjs
Due: none

docs: freshness audit fixes — stale action pins, required fields, schema enums
  pages/explanation/framework/checklist.en.md
  pages/explanation/framework/checklist.md
  pages/explanation/framework/principles.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/guides/validate-skill-schema.en.md
  pages/guides/validate-skill-schema.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/metadata-fields.en.md
  pages/reference/metadata-fields.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema-reference.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/creating-your-first-skill.en.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): relative add-new-skill link (lychee) + trigger props + metadata-fields.en category parity (gemini)
  pages/explanation/framework/checklist.en.md
  pages/explanation/framework/checklist.md
  pages/reference/metadata-fields.en.md
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema-reference.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: freshness audit fixes — stale action pins, required fields, schema enums (#1194)
  pages/explanation/framework/checklist.en.md
  pages/explanation/framework/checklist.md
  pages/explanation/framework/principles.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/guides/validate-skill-schema.en.md
  pages/guides/validate-skill-schema.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/metadata-fields.en.md
  pages/reference/metadata-fields.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema-reference.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/creating-your-first-skill.en.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: audit minor fixes — phase enum example, redundant phase, checkout version
  pages/guides/debug-skill-routing.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.md
  pages/guides/repo-wide-review.md
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  pages/tutorials/getting-started.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: audit minor fixes — phase enum example, redundant phase, checkout version (#1195)
  pages/guides/debug-skill-routing.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.md
  pages/guides/repo-wide-review.md
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  pages/tutorials/getting-started.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): add Operations viewpoint + optional output sections (#1196 S1+S2)
  docs/review/output-format.md
  docs/review/viewpoints.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): sync SSoT review-policy with Operations viewpoint + optional sections (#1196, gemini)
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): Operations viewpoint + optional output sections (#1196 S1+S2) (#1197)
  docs/review/output-format.md
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(orchestrator): risk-router granularity — dependency/frontend/ci-cd roles (#1196 S3)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
