Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

chore: allow auto-milestone for closed milestones
  .github/workflows/auto-milestone.yml
Due: prettier --write

chore: allow auto-milestone for closed milestones (#118)
  .github/workflows/auto-milestone.yml
Due: prettier --write

docs: align ops docs with SemVer milestones
  ROADMAP.md
  docs/issue-management.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: add skill routing regression checks
  tests/skill-routing-regression.test.mjs
Due: none

docs: align ops docs with SemVer milestones (#119)
  ROADMAP.md
  docs/issue-management.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: add skill routing regression checks (#120)
  tests/skill-routing-regression.test.mjs
Due: none

feat(skills): add observability and failure-mode skills
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/upstream/rr-upstream-failure-modes-observability-001.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add observability and failure-mode skills (#121)
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/upstream/rr-upstream-failure-modes-observability-001.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: clarify skip reasons for missing inputContext
  src/lib/review-runner.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/skill-routing-regression.test.mjs
Due: prettier --write

chore: clarify skip reasons for missing inputContext (#122)
  src/lib/review-runner.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/skill-routing-regression.test.mjs
Due: prettier --write

docs: align label examples with current ops
  docs/issue-management.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align label examples with current ops (#123)
  docs/issue-management.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add pr commenting and hello skill
  .github/actions/river-reviewer/action.yml
  .github/workflows/river-reviewer.yml
  README.en.md
  README.md
  ROADMAP.md
  docs/implementation-plan.md
  docs/issue-management.md
  examples/minimal-js/.github/workflows/river-reviewer.yml
  pages/guides/github-actions.md
  skills/midstream/rr-midstream-hello-skill-001.md
  src/cli.mjs
  tests/cli.test.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: japanese pr output
  src/cli.mjs
  src/lib/review-engine.mjs
  tests/cli.test.mjs
Due: none

fix: action ci and milestone titles
  .github/actions/river-reviewer/action.yml
  .github/actions/river-reviewer/post-comment.cjs
  docs/implementation-plan.md
  docs/issue-management.md
  scripts/fix-dashes.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: ActionからPRコメント投稿（v0.1） (#124)
  .github/actions/river-reviewer/action.yml
  .github/actions/river-reviewer/post-comment.cjs
  .github/workflows/river-reviewer.yml
  README.en.md
  README.md
  ROADMAP.md
  docs/implementation-plan.md
  docs/issue-management.md
  examples/minimal-js/.github/workflows/river-reviewer.yml
  pages/guides/github-actions.md
  scripts/fix-dashes.mjs
  skills/midstream/rr-midstream-hello-skill-001.md
  src/cli.mjs
  src/lib/review-engine.mjs
  tests/cli.test.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: prepare v0.1.1 release
  CHANGELOG.md
  README.en.md
  README.md
  pages/guides/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add skill authoring guide and policy
  .github/pull_request_template.md
  pages/guides/_meta.json
  pages/guides/governance/_meta.json
  pages/guides/governance/skill-policy.md
  pages/guides/write-a-skill.md
  skill_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: refine skill template and terminology
  pages/guides/write-a-skill.md
  skill_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

スキル作成ガイドと運用ルール（Skill Policy）を追加 (#125)
  .github/pull_request_template.md
  pages/guides/_meta.json
  pages/guides/governance/_meta.json
  pages/guides/governance/skill-policy.md
  pages/guides/write-a-skill.md
  skill_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): align existing skills with authoring guide
  skills/downstream/review-policy-standard.md
  skills/downstream/sample-test-review.md
  skills/midstream/review-policy-standard.md
  skills/midstream/rr-midstream-review-comment-triage-001.md
  skills/midstream/sample-code-quality.md
  skills/upstream/review-policy-standard.md
  skills/upstream/sample-architecture-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

test: relax sample skill body assertion
  tests/skill-loader.test.mjs
Due: none

docs(skills): fix triage severity wording and output labels
  skills/midstream/rr-midstream-review-comment-triage-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): clarify placeholder line for summary comments
  skills/midstream/rr-midstream-review-comment-triage-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

既存スキルを作成ガイドに合わせて整備
  skills/downstream/review-policy-standard.md
  skills/downstream/sample-test-review.md
  skills/midstream/review-policy-standard.md
  skills/midstream/rr-midstream-review-comment-triage-001.md
  skills/midstream/sample-code-quality.md
  skills/upstream/review-policy-standard.md
  skills/upstream/sample-architecture-review.md
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: clarify acceptance bar and stable contract
  pages/guides/governance/skill-policy.md
  pages/guides/write-a-skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add Japanese translation for acceptance bar
  pages/guides/write-a-skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

スキル作成ガイド/Skill Policy の改善（最低合格ライン・Stable Contract 追記） (#127)
  pages/guides/governance/skill-policy.md
  pages/guides/write-a-skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add offline planner evaluation dataset
  package.json
  scripts/evaluate-planner-dataset.mjs
  src/lib/planner-dataset-eval.mjs
  tests/fixtures/planner-dataset/README.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/downstream-coverage-missing-branch.diff
  tests/fixtures/planner-dataset/diffs/downstream-flaky-test-time-random.diff
  tests/fixtures/planner-dataset/diffs/downstream-new-behavior-no-tests.diff
  tests/fixtures/planner-dataset/diffs/downstream-test-naming-works.diff
  tests/fixtures/planner-dataset/diffs/midstream-generic-refactor.diff
  tests/fixtures/planner-dataset/diffs/midstream-observability-silent-catch.diff
  tests/fixtures/planner-dataset/diffs/midstream-security-xss-sqli.diff
  tests/fixtures/planner-dataset/diffs/midstream-typescript-null-assertions.diff
  tests/fixtures/planner-dataset/diffs/upstream-api-verb-endpoint.diff
  tests/fixtures/planner-dataset/diffs/upstream-auth-flow-docs.diff
  tests/fixtures/planner-dataset/diffs/upstream-design-missing-failure-modes.diff
  tests/fixtures/planner-dataset/diffs/upstream-route-change-without-contract.diff
  tests/planner-dataset-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

perf: parallelize planner dataset eval and use async fs
  src/lib/planner-dataset-eval.mjs
Due: none

Planner評価セット（代表PR差分）とオフライン評価スクリプトを追加 (#128)
  package.json
  scripts/evaluate-planner-dataset.mjs
  src/lib/planner-dataset-eval.mjs
  tests/fixtures/planner-dataset/README.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/downstream-coverage-missing-branch.diff
  tests/fixtures/planner-dataset/diffs/downstream-flaky-test-time-random.diff
  tests/fixtures/planner-dataset/diffs/downstream-new-behavior-no-tests.diff
  tests/fixtures/planner-dataset/diffs/downstream-test-naming-works.diff
  tests/fixtures/planner-dataset/diffs/midstream-generic-refactor.diff
  tests/fixtures/planner-dataset/diffs/midstream-observability-silent-catch.diff
  tests/fixtures/planner-dataset/diffs/midstream-security-xss-sqli.diff
  tests/fixtures/planner-dataset/diffs/midstream-typescript-null-assertions.diff
  tests/fixtures/planner-dataset/diffs/upstream-api-verb-endpoint.diff
  tests/fixtures/planner-dataset/diffs/upstream-auth-flow-docs.diff
  tests/fixtures/planner-dataset/diffs/upstream-design-missing-failure-modes.diff
  tests/fixtures/planner-dataset/diffs/upstream-route-change-without-contract.diff
  tests/planner-dataset-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: improve planner dataset eval and expand cases
  scripts/evaluate-planner-dataset.mjs
  tests/fixtures/planner-dataset/README.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/downstream-input-size-guard-no-tests.diff
  tests/fixtures/planner-dataset/diffs/downstream-validator-missing-error-tests.diff
  tests/fixtures/planner-dataset/diffs/midstream-observability-silent-catch-return.diff
  tests/fixtures/planner-dataset/diffs/midstream-security-hardcoded-token.diff
  tests/fixtures/planner-dataset/diffs/midstream-typescript-introduce-any.diff
  tests/fixtures/planner-dataset/diffs/upstream-api-error-response-inconsistent.diff
  tests/fixtures/planner-dataset/diffs/upstream-design-payments-missing-timeouts.diff
  tests/fixtures/planner-dataset/diffs/upstream-new-verb-route.diff
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: validate CLI flag values in planner dataset eval
  scripts/evaluate-planner-dataset.mjs
Due: none

docs: explain GitHub diff prefix in dataset fixtures
  tests/fixtures/planner-dataset/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Planner評価セットを20件に拡充し、評価結果のJSON出力を追加 (#129)
  scripts/evaluate-planner-dataset.mjs
  tests/fixtures/planner-dataset/README.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/downstream-input-size-guard-no-tests.diff
  tests/fixtures/planner-dataset/diffs/downstream-validator-missing-error-tests.diff
  tests/fixtures/planner-dataset/diffs/midstream-observability-silent-catch-return.diff
  tests/fixtures/planner-dataset/diffs/midstream-security-hardcoded-token.diff
  tests/fixtures/planner-dataset/diffs/midstream-typescript-introduce-any.diff
  tests/fixtures/planner-dataset/diffs/upstream-api-error-response-inconsistent.diff
  tests/fixtures/planner-dataset/diffs/upstream-design-payments-missing-timeouts.diff
  tests/fixtures/planner-dataset/diffs/upstream-new-verb-route.diff
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add planner eval compare/report and document dataset rules
  pages/guides/_meta.json
  pages/guides/planner-eval-dataset.md
  scripts/evaluate-planner-dataset.mjs
  skills/downstream/sample-test-review.md
  skills/midstream/sample-code-quality.md
  skills/upstream/sample-architecture-review.md
  tests/fixtures/planner-dataset/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: improve compare robustness and baseline read errors
  scripts/evaluate-planner-dataset.mjs
Due: none

v0.3準備: Planner評価セットの比較/レポート機能と運用ガイドを追加 (#130)
  pages/guides/_meta.json
  pages/guides/planner-eval-dataset.md
  scripts/evaluate-planner-dataset.mjs
  skills/downstream/sample-test-review.md
  skills/midstream/sample-code-quality.md
  skills/upstream/sample-architecture-review.md
  tests/fixtures/planner-dataset/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate
