Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

fix(scripts): #1982 draft-07 meta-schema をモジュール解決経由で取得する
  scripts/validate-agents.mjs
  tests/validate-agents-no-node-modules-canary.test.mjs
Due: none

fix(scripts): #1982 draft-07 meta-schema をモジュール解決経由で取得する (#1985)
  scripts/validate-agents.mjs
  tests/validate-agents-no-node-modules-canary.test.mjs
Due: none

docs(runbook): #1986 v1.89.1 の実績と run 0 件の誤診防止を追記する
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): #1978 phase ノート 2 本を Phase 1b 着地後の現況へ更新する
  docs/development/1978-phase0-gap-analysis.md
  docs/development/1978-phase1a-deterministic-skeleton.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): #1986 run 0 件の原因を省略 SHA に訂正する
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): #1978 phase ノート 2 本を Phase 1b 着地後の現況へ更新する (#1988)
  docs/development/1978-phase0-gap-analysis.md
  docs/development/1978-phase1a-deterministic-skeleton.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): #1986 v1.89.1 の実績と run 0 件の誤診防止を追記する (#1987)
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: gh アカウントガードの射程を read 操作まで広げる
  CLAUDE.md
  docs/development/guard-ledger.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(meta): gh アカウントガードの mechanized を partial へ訂正する
  docs/development/guard-ledger.yaml
Due: prettier --write

docs: gh アカウントガードの射程を read 操作まで広げる (#1989)
  CLAUDE.md
  docs/development/guard-ledger.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: post-merge の run 残存と短縮 SHA を実測に合わせる
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: post-merge の run 残存と短縮 SHA を実測に合わせる (#2000)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): 委託テンプレートに update-branch 422 時の競合実体測定を追記する
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): #1997 Weekly GC のテスト実行を単一プロセス分離にそろえる
  .github/workflows/weekly-gc.yml
Due: prettier --write

test(agent-skill-bridge): serializeToSkillMd の出力バイト列を golden で固定する
  tests/agent-skill-bridge.test.mjs
Due: none

fix(ci): #1997 skill-validation のテスト実行も単一プロセス分離にそろえる
  .github/workflows/skill-validation.yml
Due: prettier --write

docs: dist 競合の例示をフルパスへ揃える
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): #1997 Weekly GC のテスト実行を単一プロセス分離にそろえる (#2002)
  .github/workflows/skill-validation.yml
  .github/workflows/weekly-gc.yml
Due: prettier --write

test(agent-skill-bridge): serializeToSkillMd の出力バイト列を golden で固定する (#2003)
  tests/agent-skill-bridge.test.mjs
Due: none

docs(dev): 委託テンプレートに update-branch 422 時の競合実体測定を追記する (#2001)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): #1415 test isolation フラグを npm script へ集約する
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/weekly-gc.yml
  docs/runbook/dev.md
  package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): #1962 --phase の成果物への伝播を CLI 経由で pin する
  tests/cli-run-output-phase-propagation.test.mjs
Due: none

docs: 残る node --test の実行例を npm test へ揃える
  .claude/hooks/README.md
  .github/workflows/README.md
  docs/development/doc-enumeration-checks.md
  docs/development/heuristic-detector-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: fixture を共通ヘルパーへ寄せる
  tests/cli-run-output-phase-propagation.test.mjs
Due: none

style: workflows/README の表を prettier 整形に合わせる
  .github/workflows/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): #1415 test isolation フラグを npm script へ集約する (#2005)
  .claude/hooks/README.md
  .github/workflows/README.md
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/weekly-gc.yml
  docs/development/doc-enumeration-checks.md
  docs/development/heuristic-detector-checklist.md
  docs/runbook/dev.md
  package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): #1962 --phase の成果物への伝播を CLI 経由で pin する (#2006)
  tests/cli-run-output-phase-propagation.test.mjs
Due: none

docs(skills): #1998 Zenn 採用 3 件を外部実証節へ合流する
  skills/README.md
  skills/midstream/independent-review-synthesis/SKILL.md
  skills/upstream/pr-template-qa/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: skill manifest を再生成し評価条件を明示する
  docs/data/skill-manifest.json
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): #1998 Zenn 採用記事 3 件を既存スキルの外部実証節へ合流する (#2010)
  docs/data/skill-manifest.json
  skills/README.md
  skills/midstream/independent-review-synthesis/SKILL.md
  skills/upstream/pr-template-qa/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(critic): #1978 決定論の状態機械へ応答を供給する薄い runner を追加する
  src/lib/finding-critic-runner.mjs
  src/prompt/sections.mjs
  tests/finding-critic-runner.test.mjs
Due: none

docs(adr): #2012 Plugin-first Product Boundary と Runtime Adapter 不変条件を ADR-009 として記録する
  docs/CLI-architecture.md
  docs/adr/009-plugin-first-product-and-runtime-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(critic): #1978 Copilot 指摘 3 件（preview 上限 / 語彙リテラル / 不正 JSON テンプレ）に対応する
  src/lib/finding-critic-runner.mjs
  src/lib/review-engine.mjs
  src/prompt/sections.mjs
  tests/finding-critic-runner.test.mjs
Due: none

feat(critic): #1978 決定論の状態機械へ応答を供給する薄い runner を追加する (#2021)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-critic-runner.mjs
  src/lib/review-engine.mjs
  src/prompt/sections.mjs
  tests/finding-critic-runner.test.mjs
Due: none

docs(adr): #2012 ADR-009 のレビュー指摘 7 件を反映する
  docs/adr/009-plugin-first-product-and-runtime-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
