Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: add Review Mode Router for risk-based review depth selection
  docs/development/review-mode-router-design.md
  src/cli.mjs
  src/lib/review-mode-router.mjs
  tests/review-mode-router.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: cli route handler path parsing, riskMap error handling, format validation
  src/cli.mjs
  src/lib/diff-meta.mjs
  src/lib/review-mode-router.mjs
  tests/review-mode-router.test.mjs
Due: none

docs: sync review-policy.md SSoT with Review Mode Router vocabulary
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review-mode-router): address second review cycle findings
  docs/development/review-mode-router-design.md
  pages/reference/review-policy.en.md
  src/cli.mjs
  src/lib/review-mode-router.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

build: rebuild action dist after cli.mjs changes
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/709.index.mjs
  runners/github-action/dist/709.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(review-mode-router): address CodeQL and Gemini bot review findings
  runners/github-action/dist/709.index.mjs
  runners/github-action/dist/709.index.mjs.map
  src/lib/review-mode-router.mjs
  tests/review-mode-router.test.mjs
Due: none

feat: add Review Mode Router for risk-based review depth selection (#1324)
  docs/development/review-mode-router-design.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/709.index.mjs
  runners/github-action/dist/709.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/diff-meta.mjs
  src/lib/review-mode-router.mjs
  tests/review-mode-router.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skill): add ai-agent-review-readiness upstream skill (#1325 S1)
  docs/data/skill-manifest.json
  skills/registry.yaml
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/fixtures/01-missing-readiness.md
  skills/upstream/ai-agent-review-readiness/fixtures/02-complete-readiness.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skill): address review findings for ai-agent-review-readiness
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  skills/registry.yaml
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/fixtures/01-missing-readiness.md
  skills/upstream/ai-agent-review-readiness/fixtures/02-complete-readiness.md
  skills/upstream/ai-agent-review-readiness/fixtures/03-partial-readiness.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skill): address Gemini and Copilot review comments on PR #1328
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/fixtures/03-partial-readiness.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skill-loader): respect explicit multi-phase array when category is a stream
  runners/core/skill-loader.mjs
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-ai-agent-review-readiness-no-loop.diff
  tests/fixtures/planner-dataset/diffs/upstream-ai-agent-review-readiness-missing.diff
Due: prettier --write

build(action): rebuild dist for multi-phase skill-loader fix
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(skill): add ai-agent-review-readiness upstream skill (#1325 S1) (#1328)
  docs/data/skill-manifest.json
  docs/review/viewpoints.md
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/registry.yaml
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/fixtures/01-missing-readiness.md
  skills/upstream/ai-agent-review-readiness/fixtures/02-complete-readiness.md
  skills/upstream/ai-agent-review-readiness/fixtures/03-partial-readiness.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-ai-agent-review-readiness-no-loop.diff
  tests/fixtures/planner-dataset/diffs/upstream-ai-agent-review-readiness-missing.diff
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(manifest): regenerate skill-manifest.json for skill ID reference normalization
  docs/data/skill-manifest.json
Due: prettier --write

feat(skill): add Check 5 feedback capture + promptfoo eval (#1325 S4)
  docs/data/skill-manifest.json
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/eval/promptfoo.yaml
  skills/upstream/ai-agent-review-readiness/prompt/system.md
  skills/upstream/ai-agent-review-readiness/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skill): add feedback capture to fixture-02 and fix promptfoo comment
  docs/data/skill-manifest.json
  skills/upstream/ai-agent-review-readiness/eval/promptfoo.yaml
  skills/upstream/ai-agent-review-readiness/fixtures/02-complete-readiness.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skill): address Gemini/Copilot review comments on PR #1331
  docs/data/skill-manifest.json
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/eval/promptfoo.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add Check 5 feedback capture + promptfoo eval for ai-agent-review-readiness (#1325 S4) (#1331)
  docs/data/skill-manifest.json
  skills/upstream/ai-agent-review-readiness/SKILL.md
  skills/upstream/ai-agent-review-readiness/eval/promptfoo.yaml
  skills/upstream/ai-agent-review-readiness/fixtures/02-complete-readiness.md
  skills/upstream/ai-agent-review-readiness/prompt/system.md
  skills/upstream/ai-agent-review-readiness/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

test(skill-loader): add coverage for category:stream + phase:array combination
  tests/skill-loader.test.mjs
Due: none

test(skill-loader): add coverage for category:stream + phase:array combination (#1333)
  tests/skill-loader.test.mjs
Due: none

docs(claude): add guard for skill-check fixture/description drift
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): extend skill-id checker to catch path errors in README.md + fix dangling refs (#1332)
  docs/data/skill-manifest.json
  scripts/check-skill-id-references.mjs
  skills/midstream/logging-observability/README.md
  skills/midstream/security-basic/README.md
  skills/upstream/architecture-validation-plan/README.md
  skills/upstream/cache-strategy-consistency/README.md
  skills/upstream/multitenancy-isolation/README.md
  skills/upstream/security-privacy-design/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(docs): scope skill-check drift guard to ai-agent-review-readiness (#1334 review)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): extend skill-id checker to README.md path errors and fix dangling refs (#1332) (#1334)
  CLAUDE.md
  docs/data/skill-manifest.json
  scripts/check-skill-id-references.mjs
  skills/midstream/logging-observability/README.md
  skills/midstream/security-basic/README.md
  skills/upstream/architecture-validation-plan/README.md
  skills/upstream/cache-strategy-consistency/README.md
  skills/upstream/multitenancy-isolation/README.md
  skills/upstream/security-privacy-design/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): レビュー指摘対応 — allowlist 誤登録の修正 + ガード拡張 + test 追加
  examples/selection/tdd.yaml
  scripts/check-skill-id-references.mjs
  tests/check-skill-id-references.test.mjs
Due: prettier --write

fix(test): harden check-skill-id-references test (#1335 review)
  tests/check-skill-id-references.test.mjs
Due: none

fix(ci): allowlist 例示パス + 実在スキルの旧パス修正 (#1335 pages/ CI fix)
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  scripts/check-skill-id-references.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): #1329 レビュー指摘の follow-up — allowlist 誤登録の修正 + ガード拡張 + test (#1335)
  examples/selection/tdd.yaml
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  scripts/check-skill-id-references.mjs
  tests/check-skill-id-references.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: consolidate finding-format/classifier/fingerprint into finding-factory
  src/cli.mjs
  src/lib/finding-classifier.mjs
  src/lib/finding-factory.mjs
  src/lib/finding-fingerprint.mjs
  src/lib/finding-format.mjs
  src/lib/local-runner.mjs
  src/lib/review-differ.mjs
  src/lib/review-engine.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/finding-classifier.test.mjs
  tests/finding-fingerprint.test.mjs
  tests/finding-format.test.mjs
  tests/local-runner-suppression.test.mjs
  tests/repo-context.test.mjs
Due: none

refactor: consolidate diff/diff-optimizer/diff-meta into diff-processor
  runners/core/review-runner.mjs
  src/cli.mjs
  src/lib/diff-meta.mjs
  src/lib/diff-optimizer.mjs
  src/lib/diff-processor.mjs
  src/lib/diff.mjs
  src/lib/local-runner.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  src/lib/review-fixtures-eval.mjs
  src/lib/review-mode-router.mjs
  src/lib/review-plan.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/diff-meta.test.mjs
  tests/diff-optimizer.test.mjs
  tests/diff.test.mjs
  tests/finding-format.test.mjs
  tests/heuristic-review.test.mjs
  tests/review-eval.test.mjs
Due: none

refactor: add skill-cache.mjs in-process memoization for loadSkills
  runners/core/skill-cache.mjs
  src/core/skill-dispatcher.mjs
  src/lib/agent-skill-bridge.mjs
  tests/skill-cache.test.mjs
Due: none

chore: rebuild action dist for diff-processor consolidation
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/709.index.mjs
  runners/github-action/dist/709.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(skill-cache): bypass cache for custom validator, cache promise, fix JSDoc
  runners/core/skill-cache.mjs
  tests/skill-cache.test.mjs
Due: none

style: merge duplicate diff-processor imports in cli.mjs
  src/cli.mjs
Due: none

chore: rebuild action dist for finding-factory consolidation
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/744.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore: rebuild action dist after import style fix
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
