Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): address gemini — dedup AGENTS.md glob + add Windows paths (#1216)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-doc-hygiene-001/SKILL.md
  skills/midstream/rr-midstream-secret-credential-scan-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): secret-credential-scan & doc-hygiene perspectives (#1216) (#1222)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-doc-hygiene-001/SKILL.md
  skills/midstream/rr-midstream-secret-credential-scan-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): design-source-conformance & component-variants-states perspectives (#1217)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-component-variants-states-001/SKILL.md
  skills/midstream/rr-midstream-design-source-conformance-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): design-source-conformance & component-variants-states perspectives (#1217) (#1226)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-component-variants-states-001/SKILL.md
  skills/midstream/rr-midstream-design-source-conformance-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

style: prettier-format superpowers-review-patterns doc (#1223)
  docs/development/superpowers-review-patterns.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: translate superpowers-review-patterns to Japanese (#1223)
  docs/development/superpowers-review-patterns.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): explicit Plan Alignment finding taxonomy in exec-conformance (#1223)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-plangate-exec-conformance-001/SKILL.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/eval/promptfoo.yaml
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/04-true-positive-planned-but-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/05-true-positive-test-contract-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/04-true-positive-planned-but-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/05-true-positive-test-contract-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/system.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): address gemini — avoid deadlock in planned-but-missing fixture example (#1223)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/04-true-positive-planned-but-missing.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): explicit Plan Alignment finding taxonomy in exec-conformance (#1223) (#1227)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-plangate-exec-conformance-001/SKILL.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/eval/promptfoo.yaml
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/04-true-positive-planned-but-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/05-true-positive-test-contract-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/04-true-positive-planned-but-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/05-true-positive-test-contract-missing.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/system.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): TDD Evidence Review skill + tdd-ledger artifact (#1223)
  docs/data/skill-manifest.json
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/registry.yaml
  skills/upstream/rr-upstream-plangate-tdd-evidence-001/SKILL.md
  src/config/artifact-resolver.mjs
  src/config/schema.mjs
  tests/artifact-resolver.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): address gemini on tdd-evidence skill (#1223)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-plangate-tdd-evidence-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): TDD Evidence Review skill + tdd-ledger artifact (#1223) (#1229)
  docs/data/skill-manifest.json
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/registry.yaml
  skills/upstream/rr-upstream-plangate-tdd-evidence-001/SKILL.md
  src/config/artifact-resolver.mjs
  src/config/schema.mjs
  tests/artifact-resolver.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): clarify tdd-ledger producer + blocker escalation in tdd-evidence (review follow-up)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-plangate-tdd-evidence-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): clarify tdd-ledger producer + blocker escalation in tdd-evidence (review follow-up) (#1230)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-plangate-tdd-evidence-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

test(planner): add planner-dataset selection cases for 3 new midstream skills (#1233)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-design-source-hardcoded-scale.diff
  tests/fixtures/planner-dataset/diffs/midstream-doc-hygiene-agents-log.diff
  tests/fixtures/planner-dataset/diffs/midstream-new-ui-component.diff
Due: prettier --write

test(planner): correct unified-diff hunk headers in #1233 fixtures (gemini)
  tests/fixtures/planner-dataset/diffs/midstream-design-source-hardcoded-scale.diff
  tests/fixtures/planner-dataset/diffs/midstream-doc-hygiene-agents-log.diff
Due: none

test(planner): planner-dataset selection cases for 3 new midstream skills (#1233) (#1234)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-design-source-hardcoded-scale.diff
  tests/fixtures/planner-dataset/diffs/midstream-doc-hygiene-agents-log.diff
  tests/fixtures/planner-dataset/diffs/midstream-new-ui-component.diff
Due: prettier --write

feat(tooling): document skill exec paths + forward-gate recommended-skill eval coverage (#1231/#1232)
  docs/development/skill-execution-paths.md
  scripts/validate-skills.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): secret-scan exclude globs + promptfoo eval seed (#1231/#1232)
  docs/data/skill-manifest.json
  schemas/skill.schema.json
  skills/midstream/rr-midstream-secret-credential-scan-001/SKILL.md
  skills/midstream/rr-midstream-secret-credential-scan-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-secret-credential-scan-001/fixtures/01-true-positive-hardcoded-key.md
  skills/midstream/rr-midstream-secret-credential-scan-001/fixtures/02-false-positive-lockfile-integrity.md
  skills/midstream/rr-midstream-secret-credential-scan-001/fixtures/03-no-review-no-secret.md
  skills/midstream/rr-midstream-secret-credential-scan-001/golden/01-true-positive-hardcoded-key.md
  skills/midstream/rr-midstream-secret-credential-scan-001/golden/02-false-positive-lockfile-integrity.md
  skills/midstream/rr-midstream-secret-credential-scan-001/golden/03-no-review-no-secret.md
  skills/midstream/rr-midstream-secret-credential-scan-001/prompt/system.md
  skills/midstream/rr-midstream-secret-credential-scan-001/prompt/user.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(tooling): address gemini — fail on malformed recommended entries + dynamic grandfathered count (#1231)
  scripts/validate-skills.mjs
Due: none

fix(skills): address gemini — robust FP assertion + system.md/golden format parity (#1231)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-secret-credential-scan-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-secret-credential-scan-001/prompt/system.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(tooling): document skill exec paths + forward-gate recommended-skill eval coverage (#1231/#1232) (#1235)
  docs/development/skill-execution-paths.md
  scripts/validate-skills.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): secret-scan exclude globs + promptfoo eval seed (#1231/#1232) (#1236)
  docs/data/skill-manifest.json
  schemas/skill.schema.json
  skills/midstream/rr-midstream-secret-credential-scan-001/SKILL.md
  skills/midstream/rr-midstream-secret-credential-scan-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-secret-credential-scan-001/fixtures/01-true-positive-hardcoded-key.md
  skills/midstream/rr-midstream-secret-credential-scan-001/fixtures/02-false-positive-lockfile-integrity.md
  skills/midstream/rr-midstream-secret-credential-scan-001/fixtures/03-no-review-no-secret.md
  skills/midstream/rr-midstream-secret-credential-scan-001/golden/01-true-positive-hardcoded-key.md
  skills/midstream/rr-midstream-secret-credential-scan-001/golden/02-false-positive-lockfile-integrity.md
  skills/midstream/rr-midstream-secret-credential-scan-001/golden/03-no-review-no-secret.md
  skills/midstream/rr-midstream-secret-credential-scan-001/prompt/system.md
  skills/midstream/rr-midstream-secret-credential-scan-001/prompt/user.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): harden security-privacy-design eval assertions for JA output (#1238)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-security-privacy-design-001/eval/promptfoo.yaml
Due: prettier --write

fix(skills): address gemini — broaden eval contains-any for case/lang variants (#1238)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-security-privacy-design-001/eval/promptfoo.yaml
Due: prettier --write

fix(skills): harden security-privacy-design eval assertions for JA output (#1238) (#1239)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-security-privacy-design-001/eval/promptfoo.yaml
Due: prettier --write

chore(action): rebuild dist for openai 6.44.0 bump
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(action): rebuild dist for @anthropic-ai/sdk 0.105.0 bump
  runners/github-action/dist/157.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(ci): add HOL Plugin Scanner + pin GitHub Actions for awesome-codex-plugins
  .codexignore
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/diataxis-docs-check.yml
  .github/workflows/doc-quality.yml
  .github/workflows/hol-plugin-scanner.yml
  .github/workflows/link-check.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/npm-publish.yml
  .github/workflows/plangate-review.yml
  .github/workflows/promptfoo-eval.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-review-upstream.yml
  .github/workflows/river-review.yml
  .github/workflows/riverbed-persist.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  .github/workflows/weekly-gc.yml
  .plugin-scanner.toml
Due: prettier --write

feat(ci): add HOL Plugin Scanner + pin GitHub Actions for awesome-codex-plugins (#1248)
  .codexignore
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/diataxis-docs-check.yml
  .github/workflows/doc-quality.yml
  .github/workflows/hol-plugin-scanner.yml
  .github/workflows/link-check.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/npm-publish.yml
  .github/workflows/plangate-review.yml
  .github/workflows/promptfoo-eval.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-review-upstream.yml
  .github/workflows/river-review.yml
  .github/workflows/riverbed-persist.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  .github/workflows/weekly-gc.yml
  .plugin-scanner.toml
Due: prettier --write

fix(plugin): add composerIcon and assets to .codex-plugin
  .codex-plugin/assets/icon.svg
  .codex-plugin/plugin.json
Due: prettier --write

fix(plugin): add composerIcon and assets to .codex-plugin (#1250)
  .codex-plugin/assets/icon.svg
  .codex-plugin/plugin.json
Due: prettier --write

feat(plugin): add setup-team command, composerIcon, and plugin field sync
  .claude-plugin/assets/icon.svg
  .claude-plugin/plugin.json
  .github/workflows/release-please.yml
  commands/setup-team.md
  package.json
  scripts/sync-plugin-fields.mjs
  scripts/validate-plugin-manifest.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(plugin): address review findings — allowed-tools, stale comments, stderr
  .github/workflows/release-please.yml
  commands/setup-team.md
  scripts/sync-plugin-fields.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): add setup-team command, composerIcon, and plugin field sync (#1251)
  .claude-plugin/assets/icon.svg
  .claude-plugin/plugin.json
  .github/workflows/release-please.yml
  commands/setup-team.md
  package.json
  scripts/sync-plugin-fields.mjs
  scripts/validate-plugin-manifest.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
