Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

feat(skill): refactor-claim-audit に抽出・集約リファクタの退行観点を追加する (#1487)
  docs/data/skill-manifest.json
  skills/midstream/refactor-claim-audit/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): bot FP パターン3種を guard と canary で機械担保する (#1489)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-docs/SKILL.md
  skills/midstream/doc-hygiene/SKILL.md
  skills/midstream/doc-hygiene/fixtures/01-rendering-context-links-should-not-detect.md
  skills/midstream/existing-pattern-conformance/SKILL.md
  skills/midstream/existing-pattern-conformance/fixtures/01-formatting-ssot-should-not-detect.md
  skills/midstream/nullability-contract/SKILL.md
  skills/midstream/nullability-contract/fixtures/03-failfast-internal-invariant-should-not-detect.md
  skills/midstream/nullability-contract/fixtures/04-io-boundary-realpath-should-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(feedback): reviewer/model/reversedBy と out_of_scope を後方互換で追加する (#1471 増分A) (#1488)
  docs/data/skill-manifest.json
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/references/FEEDBACK.md
  src/cli.mjs
  src/lib/feedback.mjs
  tests/cli-parse-args.test.mjs
  tests/feedback.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

ci: river-review を Stage1 ラベル opt-in で LLM レビュー本番化する
  .github/workflows/river-review.yml
Due: prettier --write

feat(feedback): feedback:rules に --out artifact 出力を追加する (#1471 増分B)
  scripts/feedback-rule-candidates.mjs
  tests/feedback-rule-candidates.test.mjs
Due: none

docs: 残存 Unknown の出力受け皿と verdict 写像を確定する (#1470 P0)
  docs/review/output-format.md
  pages/reference/loop-convergence-contract.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: river-review を Stage1 ラベル opt-in で LLM レビュー本番化する (#1491)
  .github/workflows/river-review.yml
Due: prettier --write

fix(feedback): --out の書き込み失敗を try-catch で捕捉する (gemini-code-assist #1492)
  scripts/feedback-rule-candidates.mjs
  tests/feedback-rule-candidates.test.mjs
Due: none

feat(skills): 残存 Unknown のメタ観点 agent-skill を追加する (#1470 P1)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/fixtures/01-pass-evidence-sufficient.md
  skills/agent-skills/unknown-coverage-review/fixtures/02-needs-review-nonblocking-unknown.md
  skills/agent-skills/unknown-coverage-review/fixtures/03-fail-blocking-compat-unknown.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(adr): レビュー学習ループの増分拡張方針を ADR-005 として記録する (#1471 増分C)
  docs/adr/005-review-learning-loop-incremental-extension.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): レビュー学習ループ ADR のコード識別子表記を統一する (gemini-code-assist #1495)
  docs/adr/005-review-learning-loop-incremental-extension.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 残存 Unknown の出力受け皿と verdict 写像を確定する (#1470 P0) (#1493)
  docs/review/output-format.md
  pages/reference/loop-convergence-contract.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): レビュー指摘2件を反映する（applyTo の設定パターン / 相対リンク化）
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(feedback): feedback:rules に --out artifact 出力を追加する (#1471 増分B) (#1492)
  scripts/feedback-rule-candidates.mjs
  tests/feedback-rule-candidates.test.mjs
Due: none

docs(adr): レビュー学習ループの増分拡張方針を ADR-005 として記録する (#1471 増分C) (#1495)
  docs/adr/005-review-learning-loop-incremental-extension.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): Unknown Coverage Review のメタ観点 agent-skill を追加する (#1470 P1) (#1494)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/fixtures/01-pass-evidence-sufficient.md
  skills/agent-skills/unknown-coverage-review/fixtures/02-needs-review-nonblocking-unknown.md
  skills/agent-skills/unknown-coverage-review/fixtures/03-fail-blocking-compat-unknown.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor: 残存する isDirectRun 亜種5本を正典ヘルパーへ集約する
  scripts/evaluate-all.mjs
  scripts/evaluate-review-gate.mjs
  scripts/generate-audit-report.mjs
  scripts/usage-summary.mjs
  scripts/validate-meta-consistency.mjs
Due: none

refactor: 残存する isDirectRun 亜種5本を正典ヘルパーへ集約する (#1497)
  scripts/evaluate-all.mjs
  scripts/evaluate-review-gate.mjs
  scripts/generate-audit-report.mjs
  scripts/usage-summary.mjs
  scripts/validate-meta-consistency.mjs
Due: none

feat(review-team): bug-hunter の focusInstructions に並行アクセス競合を明示する (#1455 C1)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: none

test(review-team): レビュー指摘を反映しテスト正規表現を堅牢化する
  tests/reviewer-orchestrator.test.mjs
Due: none

feat(review-team): bug-hunter focusInstructions に並行アクセス競合を明示する (#1455 C1) (#1498)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: none

feat(skills): river-review-frontend エントリスキルを新設する (#1462 案B)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-frontend/SKILL.md
  skills/agent-skills/river-review-frontend/references/ROUTING.md
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/river-review/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): frontend エントリの applyTo を route handlers / resource routes へ拡張する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-frontend/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): river-review-frontend エントリスキルを新設する (#1462 案B) (#1500)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-frontend/SKILL.md
  skills/agent-skills/river-review-frontend/references/ROUTING.md
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/river-review/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): unknown-coverage-review の verdict 境界と出力仕様を明確化する (#1470 P1 観測)
  docs/data/skill-manifest.json
  pages/reference/loop-convergence-contract.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): 観測許容 Unknown の severity 上限と切り捨て順を明記する (gemini 指摘)
  docs/data/skill-manifest.json
  pages/reference/loop-convergence-contract.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): unknown-coverage-review の verdict 境界と出力仕様を明確化する (#1501)
  docs/data/skill-manifest.json
  pages/reference/loop-convergence-contract.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): impact-evidence-coverage registry skill を追加する (#1470 P2 G1/G2)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
  skills/midstream/impact-evidence-coverage/SKILL.md
  skills/midstream/impact-evidence-coverage/fixtures/01-missing-failure-evidence.md
  skills/midstream/impact-evidence-coverage/fixtures/02-evidence-in-same-diff-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): assumption-resolution-trace registry skill を追加する (#1470 P2 G3)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/midstream/assumption-resolution-trace/fixtures/01-unresolved-assumption.md
  skills/midstream/assumption-resolution-trace/fixtures/02-no-plan-bare-issue-ref-skip.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): unknown-coverage-review の Output・観点6・委譲を精緻化する (#1470 P2)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): impact-evidence-coverage registry skill を追加する (#1470 P2 G1/G2) (#1502)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
  skills/midstream/impact-evidence-coverage/SKILL.md
  skills/midstream/impact-evidence-coverage/fixtures/01-missing-failure-evidence.md
  skills/midstream/impact-evidence-coverage/fixtures/02-evidence-in-same-diff-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): assumption-resolution-trace registry skill を追加する (#1470 P2 G3) (#1503)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/midstream/assumption-resolution-trace/fixtures/01-unresolved-assumption.md
  skills/midstream/assumption-resolution-trace/fixtures/02-no-plan-bare-issue-ref-skip.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): unknown-coverage-review の Output・観点6・委譲を精緻化する (#1470 P2) (#1504)
  docs/data/skill-manifest.json
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/agent-skills/unknown-coverage-review/references/DELEGATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): plangate #810 の ledger を plan artifact 経由で接続する (#1470 P3)
  docs/data/skill-manifest.json
  pages/reference/artifact-input-contract.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/midstream/assumption-resolution-trace/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): plangate #810 の ledger を plan artifact 経由で接続する (#1470 P3) (#1506)
  docs/data/skill-manifest.json
  pages/reference/artifact-input-contract.md
  skills/agent-skills/unknown-coverage-review/SKILL.md
  skills/midstream/assumption-resolution-trace/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add entry-skill applyTo union learning to AGENT_LEARNINGS.md
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
