Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): require Japanese in PR text
  skills/downstream/review-policy-standard.md
  skills/midstream/review-policy-standard.md
  skills/midstream/rr-midstream-review-comment-triage-001.md
  skills/upstream/review-policy-standard.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(cli): add --verbose for fixtures eval
  src/cli.mjs
  src/lib/review-engine.mjs
Due: none

fix: limit fallback findings
  src/lib/review-engine.mjs
Due: none

fix(actions): emit pure markdown for PR comments
  src/cli.mjs
  tests/cli.test.mjs
Due: none

feat: add core review skills and fixtures evaluation (#148)
  README.md
  package.json
  scripts/evaluate-review-fixtures.mjs
  skills/downstream/review-policy-standard.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/midstream/review-policy-standard.md
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/midstream/rr-midstream-review-comment-triage-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  skills/upstream/review-policy-standard.md
  src/cli.mjs
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  src/lib/review-fixtures-eval.mjs
  tests/cli.test.mjs
  tests/fixtures/review-eval/cases.json
  tests/fixtures/review-eval/diffs/observability-catch-with-logging.diff
  tests/fixtures/review-eval/diffs/secrets-env-reference.diff
  tests/fixtures/review-eval/diffs/tests-changed-too.diff
  tests/review-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: agent skills と codex cli 統合ガイドを追加
  pages/guides/_meta.json
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: ガイドにテスト運用例を追加
  pages/guides/_meta.json
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(ci): drop node 18 support
  .github/workflows/test.yml
  package.json
Due: prettier --write

chore: sync with main and address review feedback
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: enhance skill loader for manifest-driven architecture
  README.md
  schemas/skill.schema.json
  src/lib/review-runner.mjs
  src/lib/skill-loader.mjs
  tests/skill-loader-v2.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

Update pages/guides/agent-skills-codex-cli.md
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align skill template with schema
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify skill enable/disable commands
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align manifest-driven skills guide with River Reviewer
  pages/guides/_meta.json
  pages/guides/agent-skills-codex-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: normalize instruction handling for YAML skills
  src/lib/skill-loader.mjs
  tests/skill-loader-v2.test.mjs
Due: none

chore: address review feedback on manifest-driven docs and tests
  README.md
  pages/guides/agent-skills-codex-cli.md
  tests/skill-loader-v2.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: cover matchesPhase with array phase
  src/lib/review-runner.mjs
  tests/review-runner-phase.test.mjs
Due: none

feat: add trigger support to skills schema
  README.md
  pages/reference/skill-metadata.md
  pages/reference/skill-schema-reference.md
  pages/reference/skill-schema.md
  schemas/skill.schema.json
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-flaky-test-001.md
  skills/downstream/rr-downstream-test-naming-001.md
  skills/midstream/rr-midstream-typescript-nullcheck-001.md
  skills/midstream/rr-midstream-typescript-strict-001.md
  skills/upstream/rr-upstream-api-design-001.md
  skills/upstream/rr-upstream-failure-modes-observability-001.md
  src/lib/skill-loader.mjs
  tests/skill-loader-v2.test.mjs
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: enforce trigger precedence and tests
  pages/reference/skill-schema-reference.md
  pages/reference/skill-schema.md
  schemas/skill.schema.json
  src/lib/skill-loader.mjs
  tests/skill-loader-v2.test.mjs
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add agent skills validation flow
  AGENTS.md
  README.md
  package.json
  pages/guides/agent-skills-codex-cli.md
  scripts/validate-agent-skills.mjs
  skills/agent-skills/README.md
  skills/agent-skills/architecture-review/SKILL.md
  skills/agent-skills/architecture-review/references/architecture-checklist.md
  skills/agent-skills/code-quality/SKILL.md
  skills/agent-skills/code-quality/references/code-quality-checklist.md
  skills/agent-skills/test-coverage/SKILL.md
  skills/agent-skills/test-coverage/references/test-coverage-checklist.md
  src/lib/skill-loader.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

perf: parallelize agent skills scan
  scripts/validate-agent-skills.mjs
Due: none

docs: add vision and lifecycle, unify ja evaluation text
  docs/skill-lifecycle.md
  docs/vision.md
  skills/downstream/review-policy-standard.md
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-flaky-test-001.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/downstream/rr-downstream-test-naming-001.md
  skills/downstream/sample-test-review.md
  skills/midstream/review-policy-standard.md
  skills/midstream/rr-midstream-hello-skill-001.md
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/midstream/rr-midstream-review-comment-triage-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  skills/midstream/rr-midstream-typescript-nullcheck-001.md
  skills/midstream/rr-midstream-typescript-strict-001.md
  skills/midstream/sample-code-quality.md
  skills/upstream/review-policy-standard.md
  skills/upstream/rr-upstream-api-design-001.md
  skills/upstream/rr-upstream-failure-modes-observability-001.md
  skills/upstream/sample-architecture-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add community skills and refine authoring guide
  pages/guides/write-a-skill.md
  skill_template.md
  skills/community/rr-midstream-a11y-accessible-name-001.md
  skills/community/rr-midstream-nextjs-app-router-boundary-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

test: relax cli prompt assertion
  tests/cli.test.mjs
Due: none

docs: standardize suppression wording and update snapshot
  pages/guides/write-a-skill.md
  scripts/validate-skills.mjs
  skill_template.md
  skills/downstream/review-policy-standard.md
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-flaky-test-001.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/downstream/rr-downstream-test-naming-001.md
  skills/downstream/sample-test-review.md
  skills/midstream/review-policy-standard.md
  skills/midstream/rr-midstream-logging-observability-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  skills/midstream/rr-midstream-typescript-nullcheck-001.md
  skills/midstream/rr-midstream-typescript-strict-001.md
  skills/midstream/sample-code-quality.md
  skills/upstream/review-policy-standard.md
  skills/upstream/rr-upstream-api-design-001.md
  skills/upstream/rr-upstream-failure-modes-observability-001.md
  skills/upstream/sample-architecture-review.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

ci: gate Vercel deploy to main/release
  .github/workflows/vercel-deploy.yml
  pages/guides/_meta.json
  pages/guides/vercel-deploy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix textlint term in vercel deploy guide
  pages/guides/vercel-deploy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify release branch and GitHub App removal
  .github/workflows/vercel-deploy.yml
  pages/guides/vercel-deploy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: automate release tags on main
  .github/workflows/release-please.yml
  CHANGELOG.md
  CONTRIBUTING.md
  package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: retarget CI/docs to Release default branch
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/skills-and-tests.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  CONTRIBUTING.md
  README.md
  pages/guides/faq.md
  pages/guides/github-actions.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: retarget to lowercase release branch
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/skills-and-tests.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  CONTRIBUTING.md
  README.md
  pages/guides/faq.md
  pages/guides/github-actions.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: align workflows to main branch
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/skills-and-tests.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  CONTRIBUTING.md
  README.md
  pages/guides/github-actions.md
  pages/guides/governance/roadmap-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align faq with main branch
  pages/guides/faq.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: fetch full history for release tags
  .github/workflows/release-please.yml
Due: prettier --write

chore: clarify img alt requirement in a11y skill
  skills/community/rr-midstream-a11y-accessible-name-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
