Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

fix(orchestrator): null-safe path helpers + doc sass/less parity (#1196 S3, gemini)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(orchestrator): risk-router granularity — dependency/frontend/ci-cd roles (#1196 S3) (#1198)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): framework-agnostic migration safety review (#1196 S4)
  docs/data/skill-manifest.json
  skills/registry.yaml
  skills/upstream/rr-upstream-migration-safety-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): drop single-extension brace glob in migration-safety applyTo (#1196 S4, gemini)
  docs/data/skill-manifest.json
  skills/upstream/rr-upstream-migration-safety-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): framework-agnostic migration safety review (#1196 S4) (#1200)
  docs/data/skill-manifest.json
  skills/registry.yaml
  skills/upstream/rr-upstream-migration-safety-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: process improvements from v1.18–v1.23 session retrospective
  CLAUDE.md
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/rr-upstream-data-model-db-design-001/SKILL.md
  tests/validate-skills-globs.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(validate-skills): accept scalar string applyTo in findBadGlobs (#1202, gemini)
  scripts/validate-skills.mjs
  tests/validate-skills-globs.test.mjs
Due: none

chore: process improvements from v1.18–v1.23 session retrospective (#1202)
  CLAUDE.md
  docs/data/skill-manifest.json
  scripts/validate-skills.mjs
  skills/upstream/rr-upstream-data-model-db-design-001/SKILL.md
  tests/validate-skills-globs.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(review-engine): retry transient LLM failures with backoff
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine-retry.test.mjs
Due: none

fix(review-engine): retry body-read failures + terminated/aborted (#1203, gemini)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine-retry.test.mjs
Due: none

feat(review-engine): retry transient LLM failures with backoff (#1203)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine-retry.test.mjs
Due: none

chore(lychee): exclude note.com / docs.aws.amazon.com (bot-blocked 403)
  .lychee.toml
Due: none

fix(lychee): anchor domain excludes with (/|$) (#1205, gemini security)
  .lychee.toml
Due: none

chore(lychee): exclude note.com / docs.aws.amazon.com (bot-blocked 403) (#1205)
  .lychee.toml
Due: none

chore(lychee): anchor pre-existing domain excludes with (/|$)
  .lychee.toml
Due: none

fix(lychee): anchor with ([/?#]|$) to cover query/fragment URLs (#1206, gemini)
  .lychee.toml
Due: none

chore(lychee): anchor pre-existing domain excludes with (/|$) (#1206)
  .lychee.toml
Due: none

docs: foreground the three axes — agent review enhancement, review skills, review team
  README.en.md
  README.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: harmonize EN terminology + link consistency (#1207, gemini)
  README.en.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/what-is-river-review.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: foreground the three axes — agent review enhancement, review skills, review team (#1207)
  README.en.md
  README.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: roll out the three-axis messaging across docs, guides, and distribution metadata
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .codex-plugin/plugin.json
  agents/river-review.md
  package.json
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/upstream-midstream-downstream.en.md
  pages/explanation/upstream-midstream-downstream.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/guides/agents.en.md
  pages/guides/agents.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: hyphenate 'connected-components' in EN for consistency (#1208, gemini)
  pages/explanation/design-philosophy.en.md
  pages/explanation/river-architecture.en.md
  pages/explanation/upstream-midstream-downstream.en.md
  pages/explanation/what-is-river-review.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: roll out the three-axis messaging across docs, guides, and distribution metadata (#1208)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .codex-plugin/plugin.json
  agents/river-review.md
  package.json
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/river-architecture.en.md
  pages/explanation/upstream-midstream-downstream.en.md
  pages/explanation/upstream-midstream-downstream.md
  pages/explanation/what-is-river-review.en.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/guides/agents.en.md
  pages/guides/agents.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add end-to-end-wiring and existing-pattern-conformance review skills
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
  skills/midstream/rr-midstream-existing-pattern-conformance-001/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): backtick await + drop redundant fullFile inputContext (#1209, gemini)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
  skills/midstream/rr-midstream-existing-pattern-conformance-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): align e2e-wiring inputContext to [diff] + update execution-plan snapshot
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): end-to-end-wiring & existing-pattern-conformance review perspectives (#169 adoption) (#1209)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
  skills/midstream/rr-midstream-existing-pattern-conformance-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): align conformance registry description with SKILL.md frontmatter
  skills/registry.yaml
Due: prettier --write

fix(skills): align conformance registry description with SKILL.md frontmatter (#1212)
  skills/registry.yaml
Due: prettier --write

fix(skills): harden Gate + FP guards for the two LLM-only #169 skills (#1214)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
  skills/midstream/rr-midstream-existing-pattern-conformance-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): address gemini — add code_search gate check + wording on e2e-wiring (#1214)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): harden Gate + FP guards for the two LLM-only #169 skills (#1214 P0/P1/P2) (#1218)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-e2e-wiring-001/SKILL.md
  skills/midstream/rr-midstream-existing-pattern-conformance-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): clarify registry description is a catalog summary, not frontmatter-synced (#1214 P3)
  docs/skills-structure.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): address gemini — keep registry summary concise, reflect frontmatter intent (#1214 P3)
  docs/skills-structure.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): clarify registry description role (#1214 P3) (#1220)
  docs/skills-structure.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): secret-credential-scan & doc-hygiene review perspectives (#1216)
  docs/data/skill-manifest.json
  skills/midstream/rr-midstream-doc-hygiene-001/SKILL.md
  skills/midstream/rr-midstream-secret-credential-scan-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: propose Superpowers review patterns
  docs/development/superpowers-review-patterns.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
