Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(trigger): #2054 工程イベントを Flow entry と pin へ解決する純関数 resolver を追加する
  src/lib/trigger-resolver.mjs
  tests/trigger-resolver.test.mjs
Due: none

fix(cli): #2081 パス取得後の後置サブコマンド語を余剰 positional のまま扱う
  src/cli.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

feat(flows): #2054 PR-1 trigger registry を entry-map に宣言のみ追加する
  docs/data/skill-manifest.json
  docs/development/trigger-host-capability-matrix.md
  docs/development/upstream-review-flows.md
  flows/entry-map.json
  schemas/flow-entry-map.schema.json
  skills/agent-skills/river-review/SKILL.md
  tests/flow-definitions.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(scripts): #2090 round 2 — stall 定義の統一、jq 失敗を exit 2 に写す、timeout を exit 4 に分ける
  docs/runbook/bot-pushed-head-kick.md
  docs/runbook/merge-chain.md
  scripts/merge-chain.sh
  scripts/pr-unstall.sh
  tests/fixtures/scripts-gh/checks-non-object.json
  tests/fixtures/scripts-gh/runs-partial-stalled.json
  tests/scripts-merge-chain.test.mjs
  tests/scripts-pr-unstall.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): レビュー round 2 — 生成物前提の弱め・引用パス・部分版ピン・grep -F
  docs/development/worker-discipline-template.md
  scripts/tree-pollution-check.sh
  scripts/worker-bootstrap.sh
  tests/scripts-tree-pollution-check.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(commands): ウェーブ完了時の範囲 diff 多視点レビューを /range-review として固定する (#2088)
  .claude/commands/README.md
  .claude/commands/range-review.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(trigger): #2054 レビュー round 2 に対応する（fixture を PR-1 実物に合わせ mode/profile を透過する）
  src/lib/trigger-resolver.mjs
  tests/trigger-resolver.test.mjs
Due: none

chore(scripts): ワーカー worktree の bootstrap と作業ツリー汚染検査を追加する (#2091)
  docs/development/worker-discipline-template.md
  scripts/tree-pollution-check.sh
  scripts/worker-bootstrap.sh
  tests/scripts-tree-pollution-check.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schema): #2054 neutralProse の語境界と適用範囲を広げる（PR #2093 round 2）
  schemas/flow-entry-map.schema.json
  tests/flow-definitions.test.mjs
Due: prettier --write

chore(scripts): stall 判定と strict-mode 直列マージを pr-unstall.sh / merge-chain.sh に機械化する (#2090)
  docs/runbook/bot-pushed-head-kick.md
  docs/runbook/merge-chain.md
  scripts/merge-chain.sh
  scripts/pr-unstall.sh
  tests/fixtures/scripts-gh/checks-all-pass.json
  tests/fixtures/scripts-gh/checks-cancelled-then-pass.json
  tests/fixtures/scripts-gh/checks-non-object.json
  tests/fixtures/scripts-gh/checks-queued-zero-time.json
  tests/fixtures/scripts-gh/empty-array.json
  tests/fixtures/scripts-gh/issue-comments-bots-only.json
  tests/fixtures/scripts-gh/issue-comments-one-human.json
  tests/fixtures/scripts-gh/pull-merged.json
  tests/fixtures/scripts-gh/pull-open-blocked.json
  tests/fixtures/scripts-gh/pull-open-release.json
  tests/fixtures/scripts-gh/pull-open.json
  tests/fixtures/scripts-gh/runs-all-action-required.json
  tests/fixtures/scripts-gh/runs-empty.json
  tests/fixtures/scripts-gh/runs-executed.json
  tests/fixtures/scripts-gh/runs-mixed.json
  tests/fixtures/scripts-gh/runs-partial-stalled.json
  tests/helpers/README.md
  tests/helpers/gh-stub.mjs
  tests/scripts-merge-chain.test.mjs
  tests/scripts-pr-unstall.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): #2081 skills の後置サブコマンドを対象パスではなくサブコマンドとして解決する (#2089)
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-usage-error-exit-codes.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(flows): #2054 PR-1 trigger registry を entry-map に宣言のみ追加する (#2093)
  docs/data/skill-manifest.json
  docs/development/trigger-host-capability-matrix.md
  docs/development/upstream-review-flows.md
  flows/entry-map.json
  schemas/flow-entry-map.schema.json
  skills/agent-skills/river-review/SKILL.md
  tests/flow-definitions.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(trigger): #2054 工程イベントを Flow entry と pin へ解決する純関数 resolver を追加する (#2092)
  src/lib/trigger-resolver.mjs
  tests/trigger-resolver.test.mjs
Due: none

docs(development): 2026-09-05 ハーネスセッションの振り返りと委託規律 2 件を追加する
  docs/development/retrospectives/2026-09-04-05.md
  docs/development/retrospectives/2026-09-05-harness.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): 2026-09-05 ハーネスセッションの振り返りと委託規律 2 件を追加する (#2096)
  docs/development/retrospectives/2026-09-04-05.md
  docs/development/retrospectives/2026-09-05-harness.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): #2087 ensemble tmp を parse 直後に回収し promote 語彙を両方向で pin する
  tests/cli-ensemble-flag.test.mjs
  tests/cli-option-consumer-check.test.mjs
  tests/helpers/cli-option-consumers.mjs
  tests/helpers/cli-surfaces.mjs
Due: none

test(cli): #2087 ensemble tmp を parse 直後に回収し promote 語彙を両方向で pin する (#2097)
  tests/cli-ensemble-flag.test.mjs
  tests/cli-option-consumer-check.test.mjs
  tests/helpers/cli-option-consumers.mjs
  tests/helpers/cli-surfaces.mjs
Due: none

docs(commands): release-kick に Migration note の追記 Step を足す
  .claude/commands/release-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: 範囲レビュー v1.100.0 の minor 4 件を解消する
  docs/runbook/bot-pushed-head-kick.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  tests/cli-usage-error-exit-codes.test.mjs
  tests/trigger-resolver.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(git): #2085 エラー文の候補列挙を baseRefCandidates から組み立て、ラッパー同一性を pin する
  src/lib/git.mjs
  tests/git.test.mjs
Due: none

test(scripts): #2095 gh-stub に --json / --method / -f 検証と route 末尾固定を入れる
  tests/helpers/gh-stub.mjs
  tests/scripts-merge-chain.test.mjs
  tests/scripts-pr-unstall.test.mjs
Due: none

docs(commands): release-kick に Migration note の追記 Step を足す (#2098)
  .claude/commands/release-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: 範囲レビュー v1.100.0 の minor 4 件を解消する (#2099)
  docs/runbook/bot-pushed-head-kick.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  tests/cli-usage-error-exit-codes.test.mjs
  tests/trigger-resolver.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(git): #2085 エラー文の候補列挙を baseRefCandidates から組み立て、ラッパー同一性を pin する (#2100)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/git.mjs
  tests/git.test.mjs
Due: none

feat(cli): #2054 PR-3 flow-loader を新設し review plan --entry で Flow pin を載せる
  docs/development/upstream-review-flows.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  src/cli.mjs
  src/cli/commands/review.mjs
  src/lib/flow-loader.mjs
  tests/cli-review-plan-entry.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/fixtures/cli-option-consumers.json
  tests/flow-definitions.test.mjs
  tests/flow-loader.test.mjs
  tests/helpers/cli-option-consumers.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(scripts): #2095 gh-stub に --json / --method / -f 検証と route 末尾固定を入れる (#2101)
  tests/helpers/gh-stub.mjs
  tests/scripts-merge-chain.test.mjs
  tests/scripts-pr-unstall.test.mjs
Due: none

fix(schema): #2054 PR-3 review-artifact schema に flow / evidenceRequirements を optional で足す
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  schemas/review-artifact.schema.json
  tests/cli-base-option-scope.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): #2054 PR-3 flow-loader を新設し review plan --entry で Flow pin を載せる (#2103)
  docs/development/upstream-review-flows.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  runners/github-action/dist/293248747edf5d37944a.js
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/cli.mjs
  src/cli/commands/review.mjs
  src/lib/flow-loader.mjs
  tests/cli-base-option-scope.test.mjs
  tests/cli-review-plan-entry.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/fixtures/cli-option-consumers.json
  tests/flow-definitions.test.mjs
  tests/flow-loader.test.mjs
  tests/helpers/cli-option-consumers.mjs
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): 変異の巻き戻しは git show <sha>:<file> で行う正の手順を規律に足す
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): 変異の巻き戻しは git show <sha>:<file> で行う正の手順を規律に足す (#2107)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(cli): #2105 #2106 --entry の dist 誤案内を直し minor 5 件を pin する
  docs/development/cross-runtime-conformance.md
  docs/development/execution-manifest.md
  docs/development/flow-contract.md
  docs/development/trigger-host-capability-matrix.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  src/lib/flow-loader.mjs
  tests/cli-review-plan-entry.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/scripts-merge-chain.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2102 merge-chain.sh の読み取り失敗を exit 2 で止め false green を防ぐ
  docs/runbook/merge-chain.md
  scripts/merge-chain.sh
  tests/helpers/gh-stub.mjs
  tests/scripts-merge-chain.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(cli): #2105 #2106 --entry の dist 誤案内を直し minor 5 件を pin する (#2108)
  docs/development/cross-runtime-conformance.md
  docs/development/execution-manifest.md
  docs/development/flow-contract.md
  docs/development/trigger-host-capability-matrix.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/flow-loader.mjs
  tests/cli-review-plan-entry.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/scripts-merge-chain.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): #2102 merge-chain.sh の読み取り失敗を exit 2 で止め false green を防ぐ (#2109)
  docs/runbook/merge-chain.md
  scripts/merge-chain.sh
  tests/helpers/gh-stub.mjs
  tests/scripts-merge-chain.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): #2054 PR-4 run record と review artifact に Execution Manifest を配線する
  docs/development/execution-manifest.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  src/cli/commands/review.mjs
  src/cli/commands/run.mjs
  src/lib/execution-manifest-producer.mjs
  src/lib/review-plan.mjs
  tests/cli-review-execution-manifest.test.mjs
  tests/cli-review-plan-entry.test.mjs
  tests/cli-run-execution-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
