Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

docs: embed the Review Judgment as Code diagram in README
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add an upstream design-phase review demo to examples/
  examples/README.md
  examples/upstream-design-review-demo/README.md
  examples/upstream-design-review-demo/design-plan.md
  examples/upstream-design-review-demo/expected-findings.json
  examples/upstream-design-review-demo/review-points.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: embed the Review Judgment as Code diagram in README (#1302)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add an upstream design-phase review demo to examples/ (#1303)
  examples/README.md
  examples/upstream-design-review-demo/README.md
  examples/upstream-design-review-demo/design-plan.md
  examples/upstream-design-review-demo/expected-findings.json
  examples/upstream-design-review-demo/review-points.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add reproducible social asset PNG export (#1299)
  docs/growth/launch-assets.md
  package.json
  scripts/build-social-assets.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review-team): add consensusLevel metadata field to findings
  schemas/review-artifact.schema.json
  src/lib/reviewer-orchestrator.mjs
  tests/merge-findings.test.mjs
Due: prettier --write

build: rebuild action dist with Node 22 for consensusLevel changes
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(review-team): add consensusLevel metadata field to findings (#1305)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/lib/reviewer-orchestrator.mjs
  tests/merge-findings.test.mjs
Due: prettier --write

feat(review-team): add Tech Lead deterministic synthesis report
  src/lib/reviewer-orchestrator.mjs
  src/lib/team-lead-synthesizer.mjs
  tests/team-lead-synthesizer.test.mjs
Due: none

build: rebuild action dist with Node 22 for Tech Lead synthesizer
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(review-team): add Tech Lead deterministic synthesis report (#1306)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/reviewer-orchestrator.mjs
  src/lib/team-lead-synthesizer.mjs
  tests/team-lead-synthesizer.test.mjs
Due: none

feat(review-team): add consensusLevel badge and teamLeadReport to PR comments
  .lychee.toml
  runners/github-action/post-inline-comments.cjs
  src/cli.mjs
  src/lib/local-runner.mjs
Due: none

build: rebuild action dist with Node 22 for PR badge changes
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(review-team): add consensusLevel badge and teamLeadReport to PR comments (#1308)
  .lychee.toml
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/post-inline-comments.cjs
  src/cli.mjs
  src/lib/local-runner.mjs
Due: none

feat(review-team): add review-team skill and /review-team command
  commands/review-team.md
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review-team): add routing tag to exclude from auto-selection, update snapshots
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(review-team): add scss/sass/less to frontend-reviewer auto-select conditions
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(review-team): add review-team skill and /review-team command (#1309)
  commands/review-team.md
  docs/data/skill-manifest.json
  skills/agent-skills/review-team/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(plugin): add review-team command to Claude Code plugin manifest
  .claude-plugin/plugin.json
Due: prettier --write

fix(plugin): add review-team command to Claude Code plugin manifest (#1311)
  .claude-plugin/plugin.json
Due: prettier --write

refactor(agent): delegate to SKILL.md as SSoT
  agents/river-review.md
  docs/data/skill-manifest.json
  skills/agent-skills/river-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor(agent): delegate to SKILL.md as SSoT (#1312)
  agents/river-review.md
  docs/data/skill-manifest.json
  skills/agent-skills/river-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: accept fix-pr feedback trigger
  src/lib/feedback.mjs
Due: none

test: cover fix-pr feedback trigger
  tests/feedback.test.mjs
Due: none

docs: add fix-pr trigger to feedback conversion
  skills/agent-skills/river-review/references/FEEDBACK_TO_FIXTURE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: document fix-pr learning loop
  skills/agent-skills/river-review/references/IMPROVEMENT_LOOP.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: connect fix PRs to skill improvement loop
  docs/development/skill-improvement-loop-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): update community/ refs and skill IDs for renaming
  docs/data/skill-manifest.json
  docs/development/cost-control-mode-design.md
  docs/specs/skill-yaml-spec.md
  pages/guides/add-new-skill.md
  pages/guides/choose-skills.en.md
  pages/guides/use-independent-review-synthesis.en.md
  pages/guides/use-independent-review-synthesis.md
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  skills/midstream/independent-review-synthesis/SKILL.md
  skills/midstream/modern-web-semantic/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): update _template.md id format and registry.yaml community comment
  skills/_template.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

build: rebuild action dist for openai 6.45.0
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

style: fix prettier formatting in skill-improvement-loop-design.md
  docs/development/skill-improvement-loop-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

build: rebuild dist and refresh skill manifest after rebase onto main
  docs/data/skill-manifest.json
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
Due: prettier --write

docs: fix phase range text L1~L3 -> L-1~L-5 (Gemini review)
  docs/development/skill-improvement-loop-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Add fix-pr trigger for review learning loop (#1313)
  docs/data/skill-manifest.json
  docs/development/skill-improvement-loop-design.md
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
  skills/agent-skills/river-review/references/FEEDBACK_TO_FIXTURE.md
  skills/agent-skills/river-review/references/IMPROVEMENT_LOOP.md
  src/lib/feedback.mjs
  tests/feedback.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate
