Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(lint): textlint の対象を docs/** と README*.md へ広げる（段階 1） (#1804)
  .lintstagedrc.json
  .textlintignore
  README.md
  docs/CLI-architecture.md
  docs/README.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/link-checking.md
  docs/development/retrospectives/2026-05-21-25.md
  docs/migration/migration-guide-agent-skills.md
  docs/migration/skill-migration-guide.md
  docs/specs/skill-yaml-spec.md
  package.json
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(suppression): unparseable な context.expiresAt を警告経路に載せる (#1801)
  runners/github-action/dist/528.index.mjs
  runners/github-action/dist/528.index.mjs.map
  scripts/suppression-analytics.mjs
  src/lib/suppression.mjs
  tests/suppression-analytics.test.mjs
  tests/suppression.test.mjs
Due: none

fix(lint): 新 textlint config と .textlintignore を検出器と分類器の対象に含める
  .textlintignore
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/review-criteria-integrity/SKILL.md
  src/lib/file-classifier.mjs
  tests/file-classifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(lint): 新 textlint config と .textlintignore を検出器と分類器の対象に含める (#1806)
  .textlintignore
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/review-criteria-integrity/SKILL.md
  src/lib/file-classifier.mjs
  tests/file-classifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(ci): release please kick workflow を deprecate する
  .github/workflows/release-please-kick.yml
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): looksLikeTestFile が e2e/ cypress/ 慣習のテストファイルを認識するようにする
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: none

chore(ci): release please kick workflow を deprecate する (#1807)
  .github/workflows/release-please-kick.yml
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): looksLikeTestFile が e2e/ cypress/ 慣習のテストファイルを認識するようにする (#1808)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: none

fix(suppression): 本番レビュー経路で期限切れ suppression を無効化する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/resurface.mjs
  src/lib/suppression-apply.mjs
  src/lib/suppression.mjs
  tests/suppression-apply.test.mjs
Due: none

fix(review): 恒久宣言付きの一時対応コメントを temporary-without-exit の許容へ加える
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: Judgment Placement の設計原則を追加する
  pages/explanation/judgment-placement.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add Judgment Placement design principle
  pages/explanation/judgment-placement.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Judgment Placement を解説導線へ追加する
  sidebars.js
Due: prettier --write

docs: 設計哲学に Judgment Placement を接続する
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Human Judgment Focus に判断配置の考え方を追加する
  pages/explanation/human-judgment-focus.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: connect Judgment Placement to design philosophy
  pages/explanation/design-philosophy.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: connect Human Judgment Focus to Judgment Placement
  pages/explanation/human-judgment-focus.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Judgment Placement ページをPrettier互換に整える
  pages/explanation/judgment-placement.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: make Judgment Placement page Prettier-compatible
  pages/explanation/judgment-placement.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Judgment Placement のtextlint指摘を修正する
  pages/explanation/judgment-placement.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): 恒久宣言付きの一時対応コメントを temporary-without-exit の許容へ加える (#1811)
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(suppression): 本番レビュー経路で期限切れ suppression を無効化する (#1810)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/resurface.mjs
  src/lib/suppression-apply.mjs
  src/lib/suppression.mjs
  tests/suppression-apply.test.mjs
Due: none

feat(suppression): 行番号込みの fingerprint v2 を併存追加する
  pages/reference/config-schema.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/suppression-context.schema.json
  src/cli.mjs
  src/cli/commands/suppression.mjs
  src/lib/finding-factory.mjs
  src/lib/local-runner.mjs
  src/lib/suppression-apply.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/suppression-fingerprint-v2.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: kick script のヘッダを workflow deprecation と整合させる
  .claude/commands/release-kick.md
  .github/workflows/README.md
  docs/runbook/release-please-kick.md
  scripts/release-please-kick.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(worker-discipline): ワーカーの CI 待ちを廃し sleep ポーリング指示を削除
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): nightly-eval の KPI 台帳を run 間で永続化して回帰検知を発火させる
  .github/workflows/nightly-eval.yml
Due: prettier --write

docs: kick script のヘッダを workflow deprecation と整合させる (#1818)
  .claude/commands/release-kick.md
  .github/workflows/README.md
  docs/runbook/release-please-kick.md
  scripts/release-please-kick.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(guards): ガード台帳と退役工程を導入し必須チェックで機械保証する
  CLAUDE.md
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): nightly-eval の KPI 台帳を run 間で永続化して回帰検知を発火させる (#1820)
  .github/workflows/nightly-eval.yml
Due: prettier --write

fix(suppression): v2 の取得導線・警告・大小無視とテストの穴を塞ぐ
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/suppression-context.schema.json
  src/cli.mjs
  src/cli/render.mjs
  src/lib/local-runner.mjs
  src/lib/suppression-apply.mjs
  src/lib/suppression.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/local-runner-suppression.test.mjs
  tests/suppression-fingerprint-v2.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(dist): main 取り込み後に action dist を再ビルドする
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

docs(worker-discipline): ワーカーの CI 待ちを廃し sleep ポーリング指示を削除 (#1819)
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(suppression): 行番号込みの fingerprint v2 を併存追加する (#1817)
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/suppression-context.schema.json
  src/cli.mjs
  src/cli/commands/suppression.mjs
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/local-runner.mjs
  src/lib/suppression-apply.mjs
  src/lib/suppression.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-usage-error-exit-codes.test.mjs
  tests/local-runner-suppression.test.mjs
  tests/suppression-fingerprint-v2.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(guards): ガード台帳と退役工程を導入し必須チェックで機械保証する (#1821)
  CLAUDE.md
  docs/development/doc-enumeration-checks.md
  docs/development/guard-ledger.yaml
  docs/development/improvement-flow.md
  scripts/check-doc-enumerations.mjs
  tests/check-doc-enumerations.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(scripts): 参照ゼロの orphan script 2 件を deprecate する
  scripts/close-issues.sh
  scripts/setup_river_review.sh
Due: none

chore(guards): reviewAfter 到来 13 件の退役判定を台帳へ反映する
  docs/development/guard-ledger.yaml
Due: prettier --write

chore(scripts): 参照ゼロの orphan script 2 件を deprecate する (#1824)
  scripts/close-issues.sh
  scripts/setup_river_review.sh
Due: none

test(skills): upstream skill 5 件に S1 fixtures を追加し免除を外す
  docs/data/skill-manifest.json
  docs/development/s1-fixture-convention.md
  scripts/validate-skills.mjs
  skills/upstream/adr-decision-quality/fixtures/01-no-alternatives-no-followups-should-detect.md
  skills/upstream/adr-decision-quality/fixtures/02-superseding-reference-only-should-not-detect.md
  skills/upstream/api-design/fixtures/01-verb-path-inconsistent-errors-should-detect.md
  skills/upstream/api-design/fixtures/02-generated-spec-refresh-should-not-detect.md
  skills/upstream/api-versioning-compat/fixtures/01-required-field-added-no-migration-should-detect.md
  skills/upstream/api-versioning-compat/fixtures/02-additive-optional-field-should-not-detect.md
  skills/upstream/architecture-boundaries/fixtures/01-reversed-dependency-should-detect.md
  skills/upstream/architecture-boundaries/fixtures/02-boundary-defined-elsewhere-should-not-detect.md
  skills/upstream/failure-modes-observability/fixtures/01-external-call-no-timeout-should-detect.md
  skills/upstream/failure-modes-observability/fixtures/02-adr-referenced-policy-should-not-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
