Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: add edit link to docs
  docusaurus.config.js
Due: prettier --write

fix: set docs baseUrl default to root
  docusaurus.config.js
Due: prettier --write

fix: add root doc route for docs-only
  pages/index.en.md
  pages/index.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Fix docs deployment on Vercel and add edit links (#210)
  docusaurus.config.js
  pages/index.en.md
  pages/index.md
  src/pages/index.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: resolve build errors (duplicate IDs) and lint warnings (Japanese style)
  .gitignore
  .textlintignore
  pages/explanation/design-philosophy.md
  pages/explanation/framework/agents-hitl.en.md
  pages/explanation/framework/checklist.en.md
  pages/explanation/framework/conclusion.en.md
  pages/explanation/framework/formal-methods.en.md
  pages/explanation/framework/overview.en.md
  pages/explanation/framework/principles.en.md
  pages/explanation/framework/security-gauntlet.en.md
  pages/explanation/riverbed-memory.md
  pages/explanation/upstream-midstream-downstream.md
  pages/guides/agent-skills-codex-cli.en.md
  pages/guides/debug-skill-routing.md
  pages/guides/run-phase-specific-review.md
  pages/guides/skill-planner.en.md
  pages/guides/tracing.en.md
  pages/guides/use-riverbed-memory.md
  pages/guides/validate-skill-schema.md
  pages/reference/glossary.md
  pages/reference/skill-metadata.en.md
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
  pages/tutorials/creating-your-first-skill.en.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: finalize localization and fix navigation links
  pages/reference/metadata-fields.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: reorganize root docs
  AGENTS.md
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  README.en.md
  README.md
  docs/contributing/commit-summary.ja.md
  docs/contributing/review-checklist.md
  docs/maintainers/continuity.md
  docs/reference/skill-template.md
  eval/README.md
  eval/rubric.yaml
  pages/contributing/commit-summary.ja.md
  pages/contributing/review-checklist.md
  pages/guides/add-new-skill.en.md
  pages/guides/add-new-skill.md
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
  pages/maintainers/continuity.md
  pages/reference/_meta.json
  pages/reference/skill-template.md
  sidebars.js
  skills/_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: address doc link checks
  .github/prompts/review.prompt.md
  .github/prompts/skill.prompt.md
  docs/contributing/commit-summary.ja.md
  docs/contributing/review-checklist.md
  docs/maintainers/continuity.md
  docs/reference/skill-template.md
  pages/contributing/review-checklist.md
  pages/explanation/riverbed-memory.md
  pages/maintainers/continuity.md
  pages/reference/metadata-fields.md
  pages/reference/skill-template.md
  pages/reference/skills-catalog.md
  pages/tutorials/integrating-with-github-actions.md
  scripts/generate-skill-catalog.mjs
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: materialize contributing and maintainer docs
  pages/contributing/commit-summary.ja.md
  pages/contributing/review-checklist.md
  pages/maintainers/continuity.md
  pages/reference/skill-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: localize all remaining pages and fix build errors
  pages/contributing/_meta.json
  pages/contributing/commit-summary.en.md
  pages/contributing/commit-summary.md
  pages/contributing/review-checklist.en.md
  pages/dashboard.en.md
  pages/explanation/intro.en.md
  pages/guides/agents.en.md
  pages/guides/quickstart.en.md
  pages/maintainers/_meta.json
  pages/maintainers/continuity.en.md
  pages/reference/review-output-example.en.md
  pages/reference/skill-template.en.md
  pages/reference/skills-catalog.en.md
  pages/tutorials/authoring-skills.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add missing categories to root meta
  pages/_meta.json
Due: prettier --write

fix: ignore template skills in loader
  src/lib/skill-loader.mjs
Due: none

chore: drop duplicate ja commit summary doc
  pages/contributing/commit-summary.ja.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: regenerate skills catalog
  pages/reference/skills-catalog.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: move root docs into docs/ and eval/ (#212)
  .github/prompts/review.prompt.md
  .github/prompts/skill.prompt.md
  AGENTS.md
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  README.en.md
  README.md
  docs/contributing/commit-summary.ja.md
  docs/contributing/review-checklist.md
  docs/maintainers/continuity.md
  docs/reference/skill-template.md
  eval/README.md
  eval/rubric.yaml
  pages/contributing/review-checklist.md
  pages/explanation/riverbed-memory.md
  pages/guides/add-new-skill.en.md
  pages/guides/add-new-skill.md
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
  pages/maintainers/continuity.md
  pages/reference/_meta.json
  pages/reference/metadata-fields.md
  pages/reference/skill-template.md
  pages/reference/skills-catalog.md
  pages/tutorials/integrating-with-github-actions.md
  scripts/generate-skill-catalog.mjs
  sidebars.js
  skills/_template.md
  src/lib/skill-loader.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: redirect /docs to root
  vercel.json
Due: prettier --write

fix: stop redirecting root to docs
  vercel.json
Due: prettier --write

chore: simplify vercel docs redirect
  vercel.json
Due: prettier --write

fix: use single docs redirect compatible with vercel
  vercel.json
Due: prettier --write

fix: keep vercel root at / (#213)
  vercel.json
Due: prettier --write

fix: address review comments (config, frontmatter, translation) and vale rules
  .gitignore
  .vale.ini
  docusaurus.config.js
  pages/index.md
  pages/reference/skill-schema-reference.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: ask reviewers to comment in Japanese
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Update .github/pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: note PR descriptions should be in Japanese
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: refine PR template with GitHub note syntax
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: add planning/comment/test RR skills
  skills/downstream/rr-downstream-test-plan-review-001.md
  skills/midstream/rr-midstream-gh-address-comments-001.md
  skills/upstream/rr-upstream-create-plan-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: include project rule preview in debug logs
  src/cli.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write

chore: RRスキル追加（計画・コメント対応・テスト観点） (#214)
  .github/pull_request_template.md
  skills/downstream/rr-downstream-test-plan-review-001.md
  skills/midstream/rr-midstream-gh-address-comments-001.md
  skills/upstream/rr-upstream-create-plan-001.md
  src/cli.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: add PR template QA skill
  skills/upstream/rr-upstream-pr-template-qa-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: add PR template QA skill (#215)
  skills/upstream/rr-upstream-pr-template-qa-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: emphasize philosophy in readmes
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix doc links and clarify philosophy
  .github/pull_request_template.md
  README.en.md
  README.md
  src/cli.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: emphasize philosophy in readmes (#216)
  .github/pull_request_template.md
  README.en.md
  README.md
  src/cli.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

build: rebuild action dist for openai 6.42.0 bump
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

build: rebuild action dist for @vercel/ncc 0.44.0 bump
  runners/github-action/dist/sourcemap-register.cjs
Due: none

feat(scoring): add humanApprovalRequired flag to deriveVerdict / scoreReview
  src/lib/scoring/engine.mjs
Due: none

feat(plan-review): add detectHumanApprovalTriggers with bidirectional canary tests
  src/lib/plan-review/human-approval-policy.mjs
  tests/human-approval-policy.test.mjs
  tests/scoring/engine.test.mjs
Due: none

feat(skill): add rr-upstream-plan-review-gate-001 skill and registry entry
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/registry.yaml
  skills/upstream/rr-upstream-plan-review-gate-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
