Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: reuse planning context and update cost pricing
  src/cli.mjs
  src/core/cost-estimator.mjs
  src/lib/local-runner.mjs
Due: none

feat: add no-code review comment triage skill
  skills/midstream/rr-midstream-review-comment-triage-001.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: enforce Japanese output in review triage skill
  skills/midstream/rr-midstream-review-comment-triage-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: address review feedback on deps and templates
  package-lock.json
  package.json
  scripts/generate-dashboard-data.js
  src/cli.mjs
Due: prettier --write

test: cover negative max-cost argument
  tests/cli.test.mjs
Due: none

feat: add no-code review comment triage skill (#106)
  package-lock.json
  package.json
  scripts/generate-dashboard-data.js
  skills/midstream/rr-midstream-review-comment-triage-001.md
  src/cli.mjs
  tests/cli.test.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: align react-dom with react 19.2.1
  package-lock.json
  package.json
Due: prettier --write

feat: add downstream coverage skill and dependency gating
  .github/actions/river-reviewer/action.yml
  .github/workflows/river-reviewer.yml
  README.en.md
  README.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-flaky-test-001.md
  skills/downstream/sample-test-review.md
  skills/upstream/sample-architecture-review.md
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-runner.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/review-runner.test.mjs
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: address review feedback on dependencies and docs
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-runner.mjs
  src/lib/utils.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

Add downstream coverage gap skill and enhance dependency gating (#107)
  .github/actions/river-reviewer/action.yml
  .github/workflows/river-reviewer.yml
  README.en.md
  README.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-flaky-test-001.md
  skills/downstream/sample-test-review.md
  skills/upstream/sample-architecture-review.md
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-runner.mjs
  src/lib/utils.mjs
  tests/fixtures/execution-plan-midstream.json
  tests/review-runner.test.mjs
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat: add review skills and improve skip diagnostics
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  skills/midstream/rr-midstream-typescript-nullcheck-001.md
  src/cli.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: clarify prisma raw query guidance
  skills/midstream/rr-midstream-security-basic-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

Add TS null-safety skill and downstream test checks (#108)
  skills/downstream/rr-downstream-coverage-gap-001.md
  skills/downstream/rr-downstream-test-existence-001.md
  skills/midstream/rr-midstream-security-basic-001.md
  skills/midstream/rr-midstream-typescript-nullcheck-001.md
  src/cli.mjs
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore: prepare v0.1.0 release notes and docs
  CHANGELOG.md
  README.en.md
  README.md
  package.json
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: improve CLI error hints
  src/cli.mjs
Due: none

docs: add SECURITY policy
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify license scope
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: link latest release
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Prepare v0.1.0 release notes and docs (#109)
  CHANGELOG.md
  README.en.md
  README.md
  package.json
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: broaden license examples
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: improve SECURITY policy
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: harden CLI error hints
  src/cli.mjs
  src/lib/git.mjs
Due: none

docs: ライセンス適用範囲を明文化 (#54) (#112)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: SECURITY.md を追加 (#57) (#111)
  SECURITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: CLIエラーヒントを改善 (#62) (#110)
  src/cli.mjs
  src/lib/git.mjs
Due: none

docs: expand contributing guidelines
  CONTRIBUTING.en.md
  CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add governance policy
  GOVERNANCE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add docs pages and mermaid support
  .github/ISSUE_TEMPLATE/task.yaml
  README.en.md
  README.md
  docusaurus.config.js
  package-lock.json
  package.json
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/guides/governance/CONTRIBUTING.md
  pages/guides/governance/issue-management.md
  pages/guides/troubleshooting.md
  pages/reference/known-limitations.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add minimal example project
  README.en.md
  README.md
  examples/README.md
  examples/minimal-js/.github/workflows/river-reviewer.yml
  examples/minimal-js/README.md
  examples/minimal-js/package.json
  examples/minimal-js/src/add.js
  examples/minimal-js/src/add.test-example.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify contribution rules
  CONTRIBUTING.en.md
  CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify governance details
  GOVERNANCE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align React with Docusaurus and unify troubleshooting
  README.md
  package-lock.json
  package.json
  pages/guides/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: CONTRIBUTING を具体化 (#59) (#113)
  CONTRIBUTING.en.md
  CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: ガバナンス方針を明文化 (#60) (#114)
  GOVERNANCE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: ドキュメント拡充とMermaid対応 (#63 #64 #65) (#115)
  .github/ISSUE_TEMPLATE/task.yaml
  README.en.md
  README.md
  docusaurus.config.js
  package-lock.json
  package.json
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/guides/governance/CONTRIBUTING.md
  pages/guides/governance/issue-management.md
  pages/guides/troubleshooting.md
  pages/reference/known-limitations.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add minimal example project (#116)
  README.en.md
  README.md
  examples/README.md
  examples/minimal-js/.github/workflows/river-reviewer.yml
  examples/minimal-js/README.md
  examples/minimal-js/package.json
  examples/minimal-js/src/add.js
  examples/minimal-js/src/add.test-example.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: unify milestones and improve roadmap links
  .github/workflows/auto-milestone.yml
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: improve roadmap link labels
  .github/workflows/auto-milestone.yml
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: unify milestones and improve roadmap links (#117)
  .github/workflows/auto-milestone.yml
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
