Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

feat(skills): テストのアサーション有効性（常に PASS する検証）を検出する skill を追加する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-testing/SKILL.md
  skills/agent-skills/river-review-testing/references/ROUTING.md
  skills/downstream/test-assertion-effectiveness/SKILL.md
  skills/downstream/test-assertion-effectiveness/fixtures/01-nonexistent-expected-literal-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/02-stale-expected-value-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/03-unscoped-expectation-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/04-vacuous-and-swallowed-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/05-helper-parameterized-deletion-pinning-canary.md
  skills/downstream/test-assertion-effectiveness/fixtures/06-scoped-snapshot-delegated-territory-canary.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(action): マージ後の dist を node 22.22.2 で再ビルドする
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(skills): テストのアサーション有効性（常に PASS する検証）を検出する skill を追加する (#1698)
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-testing/SKILL.md
  skills/agent-skills/river-review-testing/references/ROUTING.md
  skills/downstream/test-assertion-effectiveness/SKILL.md
  skills/downstream/test-assertion-effectiveness/fixtures/01-nonexistent-expected-literal-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/02-stale-expected-value-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/03-unscoped-expectation-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/04-vacuous-and-swallowed-should-detect.md
  skills/downstream/test-assertion-effectiveness/fixtures/05-helper-parameterized-deletion-pinning-canary.md
  skills/downstream/test-assertion-effectiveness/fixtures/06-scoped-snapshot-delegated-territory-canary.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): 意図コメントによる finding 抑制に security 等の床を設ける
  docs/data/skill-manifest.json
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/fixtures/01-intent-comment-resolves-finding.md
  skills/agent-skills/river-review/fixtures/04-intentional-comment-does-not-suppress-security.md
  skills/agent-skills/river-review/references/VERIFICATION.md
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(review): finding 確定前に指摘行周辺の設計意図コメントを確認する (#1697)
  docs/data/skill-manifest.json
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/river-review/fixtures/01-intent-comment-resolves-finding.md
  skills/agent-skills/river-review/fixtures/02-intent-comment-downgrade-with-rebuttal.md
  skills/agent-skills/river-review/fixtures/03-comment-contradicts-implementation.md
  skills/agent-skills/river-review/fixtures/04-intentional-comment-does-not-suppress-security.md
  skills/agent-skills/river-review/references/IMPROVEMENT_LOOP.md
  skills/agent-skills/river-review/references/VERIFICATION.md
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): 並列ロールレビューの timeout 検証・gate 安全性・観測経路を修正する
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  src/cli/render.mjs
  src/config/loader.mjs
  src/config/schema.mjs
  src/lib/reviewer-orchestrator.mjs
  src/lib/run-gate.mjs
  src/lib/team-lead-synthesizer.mjs
  tests/config-loader.test.mjs
  tests/config-schema.test.mjs
  tests/integration/local-review.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/reviewer-orchestrator.test.mjs
  tests/run-gate.test.mjs
  tests/team-lead-synthesizer.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): 並列ロールレビューに進捗出力とロール単位タイムアウトを追加する (#1696)
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  src/cli/commands/run.mjs
  src/cli/render.mjs
  src/config/loader.mjs
  src/config/schema.mjs
  src/lib/local-runner.mjs
  src/lib/reviewer-orchestrator.mjs
  src/lib/run-gate.mjs
  src/lib/team-lead-synthesizer.mjs
  tests/config-loader.test.mjs
  tests/config-schema.test.mjs
  tests/integration/local-review.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/reviewer-orchestrator.test.mjs
  tests/run-gate.test.mjs
  tests/team-lead-synthesizer.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): release-kick に BEHIND / 純 BLOCKED の分岐を追記する
  .claude/commands/release-kick.md
  docs/development/worker-discipline-template.md
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): --output html で実行ヘッダーを stderr へ回す
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  tests/cli-output-stream-routing.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schema): teamLeadReport と consensusLevel / reviewerRole を output.schema.json に宣言する
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  tests/integration/local-review.test.mjs
  tests/render-output-schema-validator.test.mjs
Due: prettier --write

docs(runbook): release-kick に BEHIND / 純 BLOCKED の分岐を追記する (#1702)
  .claude/commands/release-kick.md
  docs/development/worker-discipline-template.md
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): --output html で実行ヘッダーを stderr へ回す (#1703)
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  tests/cli-output-stream-routing.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schema): teamLeadReport と consensusLevel / reviewerRole を output.schema.json に宣言する (#1704)
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  tests/integration/local-review.test.mjs
  tests/render-output-schema-validator.test.mjs
Due: prettier --write

docs(runbook): release-kick に手順書の鮮度ガードと必須チェック基準のポーリングを追加する
  .claude/commands/release-kick.md
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): release-kick に手順書の鮮度ガードと必須チェック基準のポーリングを追加する (#1708)
  .claude/commands/release-kick.md
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(cli): river --help の Options に --format と --path を追加する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli.test.mjs
Due: none

docs(cli): river --help の Options に --format と --path を追加する (#1710)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli.test.mjs
Due: none

fix(cli): skills のバナー/進捗行と --baseline サマリを stderr へ回す
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  src/cli/commands/skills.mjs
  src/core/skill-dispatcher.mjs
  tests/cli-output-stream-routing.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(1574): shadow aggregate の degenerate 記述を v1.66.0 の実態へ追随させる
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p1-shadow-aggregate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(1574): shadow aggregate の degenerate 記述を v1.66.0 の実態へ追随させる (#1712)
  docs/development/1574-p0-design-contract.md
  docs/development/1574-p1-shadow-aggregate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): skills のバナー/進捗行と --baseline サマリを stderr へ回す (#1711)
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  src/cli/commands/skills.mjs
  src/core/skill-dispatcher.mjs
  tests/cli-output-stream-routing.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(output): レビュー結果の人間向けサマリーを先頭に固定し段階的に開示する
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  tests/cli.test.mjs
  tests/render-markdown-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(runs): run record に commitSha と provenance を書き証拠をコミットに紐づける
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  src/lib/git.mjs
  src/lib/local-runner.mjs
  src/lib/result-store.mjs
  tests/cli.test.mjs
  tests/git.test.mjs
  tests/local-runner-commit-sha.test.mjs
  tests/result-store.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): provenance の CLI テストで GITHUB_ACTIONS を明示的に固定する
  tests/cli.test.mjs
Due: none

fix(output): サマリーと本文節の描画対象集合を一本化し details 無害化を開始タグへ広げる
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  tests/render-markdown-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(output): レビュー結果の人間向けサマリーを先頭に固定し段階的に開示する (#1716)
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/render.mjs
  tests/cli.test.mjs
  tests/render-markdown-digest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(runs): commitSha の意味論を実態に合わせ provenance.dirty を記録する
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  src/lib/git.mjs
  src/lib/local-runner.mjs
  src/lib/result-store.mjs
  src/lib/shadow-aggregate.mjs
  tests/cli.test.mjs
  tests/git.test.mjs
  tests/local-runner-commit-sha.test.mjs
  tests/result-store.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(runs): run record に commitSha と provenance を書き証拠をコミットに紐づける (#1718)
  docs/development/1574-p1-shadow-aggregate.md
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli/commands/run.mjs
  src/lib/git.mjs
  src/lib/local-runner.mjs
  src/lib/result-store.mjs
  src/lib/shadow-aggregate.mjs
  tests/cli.test.mjs
  tests/git.test.mjs
  tests/local-runner-commit-sha.test.mjs
  tests/result-store.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): feedback add のオプション値を parse 時に検証する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/feedback.test.mjs
Due: none

fix(cli): feedback add のオプション値を parse 時に検証する (#1721)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/feedback.test.mjs
Due: none

test(cli): usage error の exit code 78 ケースを canary テーブルで固定する
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

fix(evolve): paired replay で宣言 commitSha と evidence の突合を fail-closed にする
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  schemas/paired-replay.schema.json
  src/lib/paired-replay.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(test): canary の生 NUL バイトを除去し C4 の 2 件を相互参照にする
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

fix(evolve): paired replay の commitSha 検査を evidence 内部の一貫性検査に置き換える
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  src/cli/commands/evolve.mjs
  src/lib/paired-replay.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): usage error の exit code 78 ケースを canary テーブルで固定する (#1723)
  tests/cli-usage-error-exit-codes.test.mjs
Due: none

fix(evolve): paired replay の evidence 内部で source_commit_sha の一貫性を検査する (#1720)
  docs/development/1574-p2-paired-replay.md
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/paired-replay.schema.json
  src/cli/commands/evolve.mjs
  src/lib/paired-replay.mjs
  tests/paired-replay.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix
