Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

docs: 却下代替案の記録欄とレビュー残リスク節を追加する (#1417)
  docs/CONTINUITY.md
  docs/review/output-format.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: parity canary に trigger 形状ケースを追加する (#1399)
  src/lib/skillYamlSchema.mjs
  tests/skill-schema-parity.test.mjs
Due: none

test: 不完全 trigger の ajv/zod divergence を known ブロックに pin する
  tests/skill-schema-parity.test.mjs
Due: none

test: parity canary に trigger 形状ケースを追加する (#1399) (#1418)
  src/lib/skillYamlSchema.mjs
  tests/skill-schema-parity.test.mjs
Due: none

docs: design-philosophy の bilingual/文体 軽微不整合を修正する (#1369)
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: design-philosophy の bilingual/文体 軽微不整合を修正する (#1369) (#1419)
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: L3 の文体を自然な「基盤としている」に戻す (#1369)
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: L3 の文体を自然な「基盤としている」に戻す (#1369) (#1420)
  pages/explanation/design-philosophy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: coverage 収集を 22.x のみに限定し IPC flake を緩和する (#1415)
  .github/workflows/test.yml
Due: prettier --write

ci: coverage 収集を 22.x のみに限定し IPC flake を緩和する (#1415) (#1421)
  .github/workflows/test.yml
Due: prettier --write

docs: 計画からの逸脱の記録枠とレビュー観点を追加する (#1412)
  .github/pull_request_template.md
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: Deviations 節をチェックボックス形式にする (#1412)
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 計画からの逸脱の記録枠とレビュー観点を追加する (#1412 MVP) (#1422)
  .github/pull_request_template.md
  docs/review/viewpoints.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: deterministicGate.command 安全実行機構の設計を追加する (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: dash 正規化 (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 設計 doc に gemini 指摘を反映 (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: deterministicGate.command 安全実行機構の設計を追加する (#1401) (#1423)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: RiverReview Discipline レビュー規律 skill を追加する
  .claude/skills/river-review-discipline/SKILL.md
  .claude/skills/river-review-discipline/anti-patterns.md
  .claude/skills/river-review-discipline/review-memory.md
  .claude/skills/river-review-discipline/river-review-loop.md
  .claude/skills/river-review-discipline/templates/design-review-template.md
  .claude/skills/river-review-discipline/templates/diff-review-template.md
  .claude/skills/river-review-discipline/templates/report-review-template.md
  .claude/skills/river-review-discipline/templates/requirements-review-template.md
  .claude/skills/river-review-discipline/templates/verification-review-template.md
  .claude/skills/river-review-discipline/usage-prompts.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: gemini 指摘の整合性修正 (#1424)
  .claude/skills/river-review-discipline/SKILL.md
  .claude/skills/river-review-discipline/river-review-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: RiverReview Discipline レビュー規律 skill を追加する (#1424)
  .claude/skills/river-review-discipline/SKILL.md
  .claude/skills/river-review-discipline/anti-patterns.md
  .claude/skills/river-review-discipline/review-memory.md
  .claude/skills/river-review-discipline/river-review-loop.md
  .claude/skills/river-review-discipline/templates/design-review-template.md
  .claude/skills/river-review-discipline/templates/diff-review-template.md
  .claude/skills/river-review-discipline/templates/report-review-template.md
  .claude/skills/river-review-discipline/templates/requirements-review-template.md
  .claude/skills/river-review-discipline/templates/verification-review-template.md
  .claude/skills/river-review-discipline/usage-prompts.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: #1401 の3ブロッカー解決設計を深掘りする (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: §10.4 に敵対レビューの残余攻撃面3件を追記 (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: #1401 の3ブロッカー解決設計を深掘りする (#1401) (#1426)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(gate): deterministicGate command allowlist の検証層を追加する (#1401)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/skill.schema.json
  src/lib/deterministic-command-allowlist.mjs
  src/lib/skillYamlSchema.mjs
  tests/deterministic-command-allowlist.test.mjs
  tests/skill-schema-parity.test.mjs
Due: prettier --write

fix(gate): allowlist 検証の security 強化 (#1401)
  src/lib/deterministic-command-allowlist.mjs
  tests/deterministic-command-allowlist.test.mjs
Due: none

feat(gate): deterministicGate command allowlist の検証層を追加する (#1401) (#1427)
  schemas/skill.schema.json
  src/lib/deterministic-command-allowlist.mjs
  src/lib/skillYamlSchema.mjs
  tests/deterministic-command-allowlist.test.mjs
  tests/skill-schema-parity.test.mjs
Due: prettier --write

docs: #1401 executor の実装仕様と DoD（§11）を確定する (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: prettier 整形を適用 (#1401)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: #1401 executor の実装仕様と DoD（§11）を確定する (#1401) (#1429)
  docs/development/1401-deterministic-command-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(gate): executor の clean cwd + env builder を追加する (#1401)
  src/lib/deterministic-command-sandbox.mjs
  tests/deterministic-command-sandbox.test.mjs
Due: none

test: sandbox test の /tmp リテラルを os.tmpdir に (#1401)
  tests/deterministic-command-sandbox.test.mjs
Due: none

feat(gate): executor の clean cwd + env builder を追加する (#1401) (#1430)
  src/lib/deterministic-command-sandbox.mjs
  tests/deterministic-command-sandbox.test.mjs
Due: none

feat(gate): executor の execFile 起動 + exit code 分類を追加する (#1401)
  src/lib/deterministic-command-executor.mjs
  tests/deterministic-command-executor.test.mjs
Due: none

fix(gate): executor の同期例外と signal-kill 分類を堅牢化 (#1401)
  src/lib/deterministic-command-executor.mjs
Due: none

feat(gate): executor の execFile 起動 + exit code 分類を追加する (#1401) (#1431)
  src/lib/deterministic-command-executor.mjs
  tests/deterministic-command-executor.test.mjs
Due: none

feat(gate): deterministicUnrunnable → ESCALATE の gate 契約(rule 5c)を追加する (#1401)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/gate-decision.mjs
  tests/gate-decision.test.mjs
Due: none

feat(gate): deterministicUnrunnable → ESCALATE の gate 契約(rule 5c)を追加する (#1401) (#1432)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/gate-decision.mjs
  tests/gate-decision.test.mjs
Due: none

feat(gate): deterministic gate orchestrator を追加する (#1401)
  src/lib/deterministic-command-orchestrator.mjs
  tests/deterministic-command-orchestrator.test.mjs
Due: none

fix(gate): orchestrator の temp-dir リークを防ぐ (#1401)
  src/lib/deterministic-command-orchestrator.mjs
Due: none

feat(gate): deterministic gate orchestrator を追加する (#1401) (#1433)
  src/lib/deterministic-command-orchestrator.mjs
  tests/deterministic-command-orchestrator.test.mjs
Due: none
