Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(memory): expiresAt の妥当性定義を CLI と共有する SSoT に統一する (#1777)
  pages/reference/riverbed-storage.en.md
  pages/reference/riverbed-storage.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/expires-at.mjs
  src/lib/riverbed-memory.mjs
  tests/expires-at-ssot.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(memory): legacy 形の expiresAt 2 値を REJECTED に追加する
  tests/expires-at-ssot.test.mjs
Due: none

docs(runbook): marketplace clone が stale になる根本原因（autoUpdate 既定無効）を追記する
  docs/runbook/plugin-cache-purge.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): marketplace clone が stale になる根本原因（autoUpdate 既定無効）を追記する (#1782)
  docs/runbook/plugin-cache-purge.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): dist-check の base を PR マージコミットの第 1 親から解決する (#1776)
  .github/workflows/test.yml
Due: prettier --write

docs: 2026-08-04〜05 の振り返りを記録し学び 4 件を codify する
  CLAUDE.md
  docs/development/improvement-flow.md
  docs/development/retrospectives/2026-08-04-05.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(memory): legacy 形の expiresAt 2 値を REJECTED に追加する (#1781)
  tests/expires-at-ssot.test.mjs
Due: none

docs(review): 根拠追跡性レビュー定義（How / What / Why / Why not）を追加する (#1783 Phase 1)
  docs/review/rationale-traceability.md
  docs/review/viewpoints.md
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): 敵対的レビュー指摘（blocker 3 / warning 9 / nit 2）を是正する (#1785)
  docs/review/rationale-traceability.md
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
  pages/reference/review-policy.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): 正本の出現件数を worktree 混入なしの実測値へ訂正する
  docs/review/rationale-traceability.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): 測定コマンドの説明を別行へ分割し textlint の文長制限を満たす
  docs/review/rationale-traceability.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(review): 根拠追跡性レビュー定義（How / What / Why / Why not）を追加する (#1785)
  docs/review/rationale-traceability.md
  docs/review/viewpoints.md
  pages/explanation/reviewer-lens-taxonomy.en.md
  pages/explanation/reviewer-lens-taxonomy.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 多観点レビューの Major 7 件 / Minor 11 件を反映する
  CLAUDE.md
  docs/development/improvement-flow.md
  docs/development/retrospectives/2026-08-04-05.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 集計値を 2026-08-05T08:45Z 時点へ更新し、worktree 重複計上の学びを追記する
  docs/development/retrospectives/2026-08-04-05.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 本文の測定時刻を表と揃える
  docs/development/retrospectives/2026-08-04-05.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 2026-08-04〜05 の振り返りを記録し学び 4 件を codify する (#1784)
  CLAUDE.md
  docs/development/improvement-flow.md
  docs/development/retrospectives/2026-08-04-05.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): blocked-label-guard の concurrency を外し cancelled な check-run の残留を止める
  .github/workflows/README.md
  .github/workflows/blocked-label-guard.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): 一時対応コメントの撤去条件欠落を検出する決定論検出器を追加する
  docs/data/skill-manifest.json
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): 検出器の実効範囲を applyTo へ揃え、コメント塊と条件節の誤検出を直す
  docs/data/skill-manifest.json
  docs/review/rationale-traceability.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(ci): blocked-label-guard の concurrency を外し cancelled な check-run の残留を止める (#1787)
  .github/workflows/README.md
  .github/workflows/blocked-label-guard.yml
Due: prettier --write, npm run check:dashes, markdownlint --fix

style: prettier 3.9.6 の整形結果に合わせて 6 ファイルを再整形する
  docs/data/skill-manifest.json
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  pages/guides/debug-skill-routing.md
  pages/reference/skill-metadata.en.md
  pages/reference/skill-metadata.md
  skills/midstream/type-driven-design/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): 検出器のスコープを applyTo のディレクトリ条件へ揃え severity を nit に下げる
  docs/data/skill-manifest.json
  docs/review/rationale-traceability.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(review): 一時対応コメントの撤去条件欠落を検出する決定論検出器を追加する (#1788)
  docs/data/skill-manifest.json
  docs/review/rationale-traceability.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/knowledge-to-code-alignment/SKILL.md
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: 2026-08-09〜10 の振り返りを記録し学び 3 件を codify する
  CLAUDE.md
  docs/development/dist-check-rebuild-guide.md
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-08-09-10.md
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 3 観点レビュー指摘を是正し drift guard の宣言拡大方向を塞ぐ
  CLAUDE.md
  docs/development/dist-check-rebuild-guide.md
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-08-09-10.md
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 無断ブランチ削除 incident を記録しワーカー規律へ codify する
  docs/development/retrospectives/2026-08-09-10-deleted-branches.txt
  docs/development/retrospectives/2026-08-09-10.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 振り返りの L4 をユーザー指示の事実に合わせて書き換え、追記レビュー指摘を是正する
  docs/development/retrospectives/2026-08-09-10.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 振り返りの実測値・復元経路・散文規律の矛盾を 5 本目レビュー指摘に沿って是正する
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-08-09-10.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 例外条項のスコープ限定と完了報告への配線、stale 本数の表記を是正する
  docs/development/retrospectives/2026-08-09-10.md
  docs/development/worker-discipline-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 例外のスコープ限定を Codified actions 行に追記する
  docs/development/retrospectives/2026-08-09-10.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 2026-08-09〜10 の振り返りを記録し学び 4 件を codify する (#1798)
  CLAUDE.md
  docs/development/dist-check-rebuild-guide.md
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-08-09-10-deleted-branches.txt
  docs/development/retrospectives/2026-08-09-10.md
  docs/development/worker-discipline-template.md
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(suppression): unparseable な context.expiresAt を警告経路に載せる
  runners/github-action/dist/528.index.mjs
  runners/github-action/dist/528.index.mjs.map
  scripts/suppression-analytics.mjs
  src/lib/suppression.mjs
  tests/suppression-analytics.test.mjs
  tests/suppression.test.mjs
Due: none

test(suppression): 回帰テーブルの assert を正規表現組み立てから部分一致へ変える
  tests/suppression.test.mjs
Due: none

fix(suppression): revoke 済み entry を診断対象から外し警告の到達範囲を明示する
  runners/github-action/dist/528.index.mjs
  runners/github-action/dist/528.index.mjs.map
  scripts/suppression-analytics.mjs
  src/lib/suppression.mjs
  tests/suppression-analytics.test.mjs
  tests/suppression.test.mjs
Due: none

docs: release-please kick は local script を正とし workflow の前提を明示する
  CLAUDE.md
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(lint): textlint の対象を docs/** と README*.md へ広げる（段階 1）
  .lintstagedrc.json
  .textlintignore
  README.md
  docs/CLI-architecture.md
  docs/README.md
  docs/adr/003-risk-tiered-human-supervision.md
  docs/development/1401-deterministic-command-execution-design.md
  docs/development/link-checking.md
  docs/development/retrospectives/2026-05-21-25.md
  docs/migration/migration-guide-agent-skills.md
  docs/migration/skill-migration-guide.md
  docs/specs/skill-yaml-spec.md
  package.json
  tools/textlint/docs.textlintrc.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: release-please kick は local script を正とし workflow の前提を明示する (#1803)
  CLAUDE.md
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
