Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: runbook の製品名直訳（河川レビュー）を river-review に修正する
  docs/runbook/plugin-cache-purge.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: purge 手順の破壊的コマンドをプレースホルダー化する (gemini #1472)
  docs/runbook/plugin-cache-purge.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: prefix 呼び出しガイドと plugin cache purge runbook を追加する (#1463) (#1472)
  CLAUDE.md
  docs/runbook/plugin-cache-purge.md
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

refactor: check-code-hygiene の node builtin 判定を isBuiltin へ統一し import matchAll を共有化
  scripts/check-code-hygiene.mjs
Due: none

refactor: validate-plugin-manifest の isDirectRun ガードを正典形へ統一
  scripts/validate-plugin-manifest.mjs
Due: none

refactor: validate-skills の registry.yaml read+parse 重複を loadSkillRegistry に抽出
  scripts/validate-skills.mjs
Due: none

refactor: check-code-hygiene の node builtin 判定を isBuiltin へ統一し import matchAll を共有化 (#1474)
  scripts/check-code-hygiene.mjs
Due: none

refactor: validate-plugin-manifest の isDirectRun ガードを正典形へ統一 (#1475)
  scripts/validate-plugin-manifest.mjs
Due: none

refactor: gate 終了コード算出の重複を resolveGateExitCode に抽出
  runners/github-action/dist/39.index.mjs
  runners/github-action/dist/39.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/gate-exit.mjs
Due: none

refactor: validate-skills の registry.yaml read+parse 重複を loadSkillRegistry に抽出 (#1476)
  scripts/validate-skills.mjs
Due: none

refactor: gate 終了コード算出の重複を resolveGateExitCode に抽出 (#1477)
  runners/github-action/dist/39.index.mjs
  runners/github-action/dist/39.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/gate-exit.mjs
Due: none

refactor: deterministic exec gate 配線の copy-paste を SSoT へ抽出 (#1473)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/944.index.mjs
  runners/github-action/dist/944.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/deterministic-exec-gate.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  tests/deterministic-exec-gate.test.mjs
Due: none

refactor: scripts 3 本に isDirectRun ガードと純関数 export を導入する
  scripts/check-code-hygiene.mjs
  scripts/check-skill-id-references.mjs
  scripts/validate-agents.mjs
  tests/check-code-hygiene.test.mjs
  tests/check-skill-id-references.test.mjs
  tests/validate-agents.test.mjs
Due: none

refactor: deterministic exec gate 配線の copy-paste を SSoT へ抽出 (#1473) (#1478)
  runners/github-action/dist/916.index.mjs
  runners/github-action/dist/916.index.mjs.map
  runners/github-action/dist/944.index.mjs
  runners/github-action/dist/944.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/deterministic-exec-gate.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  tests/deterministic-exec-gate.test.mjs
Due: none

refactor: scripts 3 本に isDirectRun ガードと純関数 export を導入する (#1479)
  scripts/check-code-hygiene.mjs
  scripts/check-skill-id-references.mjs
  scripts/validate-agents.mjs
  tests/check-code-hygiene.test.mjs
  tests/check-skill-id-references.test.mjs
  tests/validate-agents.test.mjs
Due: none

refactor: heuristic detector を単一レジストリ化して同期ドリフトを解消する (#1473)
  docs/development/heuristic-detector-checklist.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: heuristic detector を単一レジストリ化して同期ドリフトを解消する (#1473) (#1480)
  docs/development/heuristic-detector-checklist.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: skills ディレクトリ走査の重複実装を skill-loader に集約する
  runners/core/skill-loader.mjs
  runners/github-action/dist/252.index.mjs
  runners/github-action/dist/252.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/586.index.mjs
  runners/github-action/dist/586.index.mjs.map
  runners/github-action/dist/659.index.mjs
  runners/github-action/dist/659.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/85.index.mjs
  runners/github-action/dist/85.index.mjs.map
  runners/github-action/dist/917.index.mjs
  runners/github-action/dist/917.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/generate-skill-manifest.mjs
  scripts/validate-agent-skills.mjs
Due: none

refactor: listSkillPackageDirs の兄弟ディレクトリ探索を Promise.all 並列に戻す
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

refactor: skills ディレクトリ走査の重複実装を skill-loader に集約する (#1473 Step 6) (#1481)
  runners/core/skill-loader.mjs
  runners/github-action/dist/252.index.mjs
  runners/github-action/dist/252.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/586.index.mjs
  runners/github-action/dist/586.index.mjs.map
  runners/github-action/dist/659.index.mjs
  runners/github-action/dist/659.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/85.index.mjs
  runners/github-action/dist/85.index.mjs.map
  runners/github-action/dist/917.index.mjs
  runners/github-action/dist/917.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/generate-skill-manifest.mjs
  scripts/validate-agent-skills.mjs
Due: none

fix: 集約後の防波堤強化（symlink 追跡復元・未使用 export 除去）
  runners/core/skill-loader.mjs
  scripts/validate-agents.mjs
Due: none

test: 集約単一点の防波堤テストを追加（F-2 canary / F-3）
  tests/gate-exit.test.mjs
  tests/skill-package-dirs.test.mjs
  tests/validate-registry-paths.test.mjs
Due: none

fix: isDirectRun 判定を単一ヘルパーに集約し ENOENT クラッシュを解消する (#1473)
  scripts/apply-feedback.mjs
  scripts/check-code-hygiene.mjs
  scripts/check-skill-id-references.mjs
  scripts/evaluate-convergence-efficiency.mjs
  scripts/feedback-rule-candidates.mjs
  scripts/generate-skill-manifest.mjs
  scripts/lib/is-direct-run.mjs
  scripts/pack-tier-check.mjs
  scripts/skill-changelog.mjs
  scripts/suppression-analytics.mjs
  scripts/validate-agent-skills.mjs
  scripts/validate-agents.mjs
  scripts/validate-plugin-manifest.mjs
  scripts/validate-skills.mjs
  tests/is-direct-run.test.mjs
Due: none

chore(action): rebuild github-action dist with node 22
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix: is-direct-run.mjs に node:process の明示 import を追加する
  scripts/lib/is-direct-run.mjs
Due: none

fix: gemini レビュー対応（walkChildren 同期 fast path 徹底・symlink type 明示）
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  tests/skill-package-dirs.test.mjs
Due: none

fix: Step 6 集約後の防波堤強化（F-2 symlink 追跡復元 / F-3 テスト / F-4 export 除去） (#1482)
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-agents.mjs
  tests/gate-exit.test.mjs
  tests/skill-package-dirs.test.mjs
  tests/validate-registry-paths.test.mjs
Due: none

fix: isDirectRun 判定を単一ヘルパーに集約し ENOENT クラッシュを解消する (#1483)
  scripts/apply-feedback.mjs
  scripts/check-code-hygiene.mjs
  scripts/check-skill-id-references.mjs
  scripts/evaluate-convergence-efficiency.mjs
  scripts/feedback-rule-candidates.mjs
  scripts/generate-skill-manifest.mjs
  scripts/lib/is-direct-run.mjs
  scripts/pack-tier-check.mjs
  scripts/skill-changelog.mjs
  scripts/suppression-analytics.mjs
  scripts/validate-agent-skills.mjs
  scripts/validate-agents.mjs
  scripts/validate-plugin-manifest.mjs
  scripts/validate-skills.mjs
  tests/is-direct-run.test.mjs
Due: none

docs: 振り返り2026-07-10..11の学びをAGENT_LEARNINGSに3件追加する
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: commitlint 回避パターンの具体例を追記する (gemini #1485)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 振り返り2026-07-10..11の学びをAGENT_LEARNINGSに3件追加する (#1485)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: bot レビュー指摘の再現性ある FP パターン3種を学びに追加する
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: bot レビュー指摘の再現性ある FP パターン3種を学びに追加する (#1486)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skill): refactor-claim-audit に抽出・集約リファクタの退行観点を追加する
  docs/data/skill-manifest.json
  skills/midstream/refactor-claim-audit/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(feedback): reviewer/model/reversedBy と out_of_scope を後方互換で追加する (#1471)
  docs/data/skill-manifest.json
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/references/FEEDBACK.md
  src/cli.mjs
  src/lib/feedback.mjs
  tests/feedback.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): bot FP パターン3種を guard と canary で機械担保する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-code/SKILL.md
  skills/agent-skills/river-review-docs/SKILL.md
  skills/midstream/doc-hygiene/SKILL.md
  skills/midstream/doc-hygiene/fixtures/01-rendering-context-links-should-not-detect.md
  skills/midstream/existing-pattern-conformance/SKILL.md
  skills/midstream/existing-pattern-conformance/fixtures/01-formatting-ssot-should-not-detect.md
  skills/midstream/nullability-contract/SKILL.md
  skills/midstream/nullability-contract/fixtures/03-failfast-internal-invariant-should-not-detect.md
  skills/midstream/nullability-contract/fixtures/04-io-boundary-realpath-should-detect.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skill): registry.yaml を SKILL.md と同期し Gate に英語キーワードを追加する (gemini #1487)
  docs/data/skill-manifest.json
  skills/midstream/refactor-claim-audit/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): gemini 指摘の曖昧表現を明示化する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review-docs/SKILL.md
  skills/midstream/doc-hygiene/SKILL.md
  skills/midstream/nullability-contract/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(cli): feedback add の --reviewer/--model/--reversed-by に値バリデーションを追加する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
