Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

chore: rebuild action dist for skill-cache memoization
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix: also match --!> as HTML comment end tag in COMMENT_MARKERS
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
Due: none

fix: toLowerCase for severity/confidence in validateFindingMessage
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
Due: none

refactor: Finding 生成・パース層を finding-factory.mjs に統合する (#1342)
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/744.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/finding-classifier.mjs
  src/lib/finding-factory.mjs
  src/lib/finding-fingerprint.mjs
  src/lib/finding-format.mjs
  src/lib/local-runner.mjs
  src/lib/review-differ.mjs
  src/lib/review-engine.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/finding-classifier.test.mjs
  tests/finding-fingerprint.test.mjs
  tests/finding-format.test.mjs
  tests/local-runner-suppression.test.mjs
  tests/repo-context.test.mjs
Due: none

fix: guard parseUnifiedDiff against null/undefined diffText
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff-processor.mjs
Due: none

fix(skill-cache): add eviction bound, reject cleanup; address review
  runners/core/skill-cache.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

refactor: consolidate diff/diff-optimizer/diff-meta into diff-processor
  runners/core/review-runner.mjs
  src/cli.mjs
  src/lib/diff-meta.mjs
  src/lib/diff-optimizer.mjs
  src/lib/diff-processor.mjs
  src/lib/diff.mjs
  src/lib/local-runner.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  src/lib/review-fixtures-eval.mjs
  src/lib/review-mode-router.mjs
  src/lib/review-plan.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/diff-meta.test.mjs
  tests/diff-optimizer.test.mjs
  tests/diff.test.mjs
  tests/finding-format.test.mjs
  tests/heuristic-review.test.mjs
  tests/review-eval.test.mjs
Due: none

style: merge duplicate diff-processor imports in cli.mjs
  src/cli.mjs
Due: none

fix: also match --!> as HTML comment end tag in COMMENT_MARKERS
  runners/github-action/dist/index.mjs
  src/lib/diff-processor.mjs
Due: none

fix: guard parseUnifiedDiff against null/undefined diffText
  runners/github-action/dist/index.mjs
  src/lib/diff-processor.mjs
Due: none

refactor: Diff 操作層を diff-processor.mjs に統合する (#1343)
  runners/core/review-runner.mjs
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
  runners/github-action/dist/649.index.mjs
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/709.index.mjs
  runners/github-action/dist/709.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/diff-meta.mjs
  src/lib/diff-optimizer.mjs
  src/lib/diff-processor.mjs
  src/lib/diff.mjs
  src/lib/local-runner.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  src/lib/review-fixtures-eval.mjs
  src/lib/review-mode-router.mjs
  src/lib/review-plan.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/diff-meta.test.mjs
  tests/diff-optimizer.test.mjs
  tests/diff.test.mjs
  tests/finding-format.test.mjs
  tests/heuristic-review.test.mjs
  tests/review-eval.test.mjs
Due: none

refactor: Skill Loader にキャッシング層を追加する (#1344)
  runners/core/skill-cache.mjs
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/core/skill-dispatcher.mjs
  src/lib/agent-skill-bridge.mjs
  tests/skill-cache.test.mjs
Due: none

fix: stale module refs, duplicate import, missing tests after refactor merges (#1345)
  docs/ai/generate-review-revise-loop.md
  docs/development/skill-severity-rubric.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  runners/core/skill-cache.mjs
  src/lib/local-runner.mjs
  src/lib/suppression-apply.mjs
  tests/diff-processor.test.mjs
  tests/finding-format.test.mjs
  tests/skill-cache.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

build: rebuild dist after suppression-apply.mjs comment update
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix: additional stale refs and test improvements from multi-agent review
  AGENT_LEARNINGS.md
  docs/ai/generate-review-revise-loop.md
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  schemas/suppression-context.schema.json
  tests/diff-processor.test.mjs
  tests/skill-cache.test.mjs
  tests/test-impact.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: stale module refs, duplicate import, missing tests after refactor merges (#1346)
  AGENT_LEARNINGS.md
  docs/ai/generate-review-revise-loop.md
  docs/development/skill-severity-rubric.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  runners/core/skill-cache.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/suppression-context.schema.json
  src/lib/local-runner.mjs
  src/lib/suppression-apply.mjs
  tests/diff-processor.test.mjs
  tests/finding-format.test.mjs
  tests/skill-cache.test.mjs
  tests/test-impact.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: llm-pipeline.mjs に LLM 呼び出しパターンを統合する (#1338)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/llm-pipeline.mjs
  src/lib/openai-planner.mjs
  src/lib/review-engine.mjs
  tests/llm-pipeline.test.mjs
Due: none

feat(plan-review): S1 検出器強化 — LLM adjudicator 配線 + 婉曲表現 recall 改善 + 敵対的 canary (#1348)
  docs/data/skill-manifest.json
  runners/github-action/dist/101.index.mjs
  runners/github-action/dist/101.index.mjs.map
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/145.index.mjs.map
  runners/github-action/dist/25.index.mjs
  runners/github-action/dist/25.index.mjs.map
  runners/github-action/dist/343.index.mjs
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/602.index.mjs
  runners/github-action/dist/602.index.mjs.map
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/904.index.mjs
  runners/github-action/dist/904.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/upstream/plan-review-gate/SKILL.md
  skills/upstream/plan-review-gate/fixtures/01-adversarial-euphemism-cleanup.md
  skills/upstream/plan-review-gate/fixtures/02-adversarial-euphemism-secrets.md
  skills/upstream/plan-review-gate/fixtures/03-adversarial-euphemism-live-env.md
  skills/upstream/plan-review-gate/fixtures/04-adversarial-low-confidence-only.md
  skills/upstream/plan-review-gate/fixtures/05-benign-refactor.md
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/human-approval-policy.test.mjs
  tests/llm-adjudicator.test.mjs
  tests/plan-review-gate-canary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: レビュー指摘対応 — retry-after バックオフ上限 + テスト名修正 + scope note 追記
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/llm-pipeline.mjs
  tests/llm-pipeline.test.mjs
Due: none

refactor: llm-pipeline.mjs に LLM 呼び出しパターンを統合する (#1353)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/llm-pipeline.mjs
  src/lib/openai-planner.mjs
  src/lib/review-engine.mjs
  tests/llm-pipeline.test.mjs
Due: none

build: rebuild dist after merging main (llm-pipeline #1353)
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  runners/github-action/dist/index.mjs
Due: none

feat(plan-review): S1 検出器強化 — LLM adjudicator 配線 + recall 改善 + 敵対的 canary (#1354)
  docs/data/skill-manifest.json
  runners/github-action/dist/101.index.mjs
  runners/github-action/dist/101.index.mjs.map
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/145.index.mjs.map
  runners/github-action/dist/25.index.mjs
  runners/github-action/dist/25.index.mjs.map
  runners/github-action/dist/343.index.mjs
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/602.index.mjs
  runners/github-action/dist/602.index.mjs.map
  runners/github-action/dist/649.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/904.index.mjs
  runners/github-action/dist/904.index.mjs.map
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  runners/github-action/dist/index.mjs
  skills/upstream/plan-review-gate/SKILL.md
  skills/upstream/plan-review-gate/fixtures/01-adversarial-euphemism-cleanup.md
  skills/upstream/plan-review-gate/fixtures/02-adversarial-euphemism-secrets.md
  skills/upstream/plan-review-gate/fixtures/03-adversarial-euphemism-live-env.md
  skills/upstream/plan-review-gate/fixtures/04-adversarial-low-confidence-only.md
  skills/upstream/plan-review-gate/fixtures/05-benign-refactor.md
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  tests/cli-review-plan.test.mjs
  tests/human-approval-policy.test.mjs
  tests/llm-adjudicator.test.mjs
  tests/plan-review-gate-canary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(plan-review): 検出器のゼロ幅・改行バイパスと形容詞用法の誤爆を修正する (#1356)
  docs/data/skill-manifest.json
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  skills/upstream/plan-review-gate/SKILL.md
  skills/upstream/plan-review-gate/fixtures/06-heldout-zero-width-bypass.md
  skills/upstream/plan-review-gate/fixtures/07-heldout-newline-split.md
  skills/upstream/plan-review-gate/fixtures/08-heldout-word-order-variant.md
  skills/upstream/plan-review-gate/fixtures/09-benign-verification.md
  skills/upstream/plan-review-gate/fixtures/10-benign-refactor.md
  src/lib/plan-review/human-approval-policy.mjs
  tests/human-approval-policy.test.mjs
  tests/plan-review-gate-canary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: レビュー指摘対応 — tempered token 化 + LOW 双子 + リスト境界 + 初期化 recall + per-it 帰属
  docs/data/skill-manifest.json
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  skills/upstream/plan-review-gate/fixtures/10-benign-refactor.md
  skills/upstream/plan-review-gate/fixtures/11-heldout-poisoned-exclusion.md
  src/lib/plan-review/human-approval-policy.mjs
  tests/human-approval-policy.test.mjs
  tests/plan-review-gate-canary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(plan-review): 検出器のゼロ幅・改行バイパスと形容詞用法の誤爆を修正する (#1358)
  docs/data/skill-manifest.json
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  skills/upstream/plan-review-gate/SKILL.md
  skills/upstream/plan-review-gate/fixtures/06-heldout-zero-width-bypass.md
  skills/upstream/plan-review-gate/fixtures/07-heldout-newline-split.md
  skills/upstream/plan-review-gate/fixtures/08-heldout-word-order-variant.md
  skills/upstream/plan-review-gate/fixtures/09-benign-verification.md
  skills/upstream/plan-review-gate/fixtures/10-benign-refactor.md
  skills/upstream/plan-review-gate/fixtures/11-heldout-poisoned-exclusion.md
  src/lib/plan-review/human-approval-policy.mjs
  tests/human-approval-policy.test.mjs
  tests/plan-review-gate-canary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(plan-review): adjudicator の呼び出しガード・injection 防御・pipeline 統合・観測性を修繕する (#1357)
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/llm-pipeline.mjs
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  src/lib/utils.mjs
  tests/human-approval-policy.test.mjs
  tests/llm-adjudicator.test.mjs
  tests/llm-pipeline.test.mjs
Due: none

docs: レビュー指摘 F2 — stderr 警告の例外をファイル冒頭の pure 宣言に明記
  src/lib/plan-review/human-approval-policy.mjs
Due: none

docs: レビュー minor 対応 — llm-skipped の JSDoc 追記 + injection 防御文の限定 + env 契約注記
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  src/lib/review-plan.mjs
Due: none

build: rebuild dist after docs-only src comment changes
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
Due: none

fix(plan-review): adjudicator の呼び出しガード・injection 防御・pipeline 統合・観測性を修繕する (#1360)
  runners/github-action/dist/94.index.mjs
  runners/github-action/dist/94.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/llm-pipeline.mjs
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/human-approval-policy.test.mjs
  tests/llm-adjudicator.test.mjs
  tests/llm-pipeline.test.mjs
Due: none

docs: エージェント捏造検証と worktree branch switch のガードを CLAUDE.md に追加
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: エージェント捏造検証と worktree branch switch のガードを CLAUDE.md に追加 (#1361)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: ガードの branch 実在検証コマンドを --exit-code 付きに精緻化 (gemini 指摘)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: ガードの branch 実在検証コマンドを --exit-code 付きに精緻化 (gemini 指摘) (#1362)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(gate): gateDecision 契約 — 決定論純関数 + fail-safe + 監査ブロック (#1349)
  runners/github-action/dist/320.index.mjs
  runners/github-action/dist/320.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/config/schema.mjs
  src/lib/gate-decision.mjs
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/plan-review/llm-adjudicator.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/cli-review-plan.test.mjs
  tests/gate-decision.test.mjs
Due: prettier --write

fix: レビュー対応 — risk-map 配線 (C1)・NOT_EXECUTED fail-safe (M1)・safe stringify (m1)
  schemas/review-artifact.schema.json
  src/lib/gate-decision.mjs
  src/lib/plan-review/human-approval-policy.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/gate-decision.test.mjs
Due: prettier --write

build: rebuild dist after review fixes
  runners/github-action/dist/320.index.mjs
  runners/github-action/dist/320.index.mjs.map
Due: none
