Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): review-automation-boundary に強制ゲート回避の実測データを参照追記する
  docs/data/skill-manifest.json
  skills/midstream/review-automation-boundary/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(security-model): レビュー基準の出所と rules の信頼境界を明記する
  pages/explanation/security-model.en.md
  pages/explanation/security-model.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): 引用した実測値をブロック後修正率 30%→83% に訂正する
  docs/data/skill-manifest.json
  skills/midstream/review-automation-boundary/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(security-model): レビュー基準の出所と rules の信頼境界を明記する (#1672)
  pages/explanation/security-model.en.md
  pages/explanation/security-model.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): review-criteria-integrity 観点でレビュー基準の自己弱体化を検出する
  docs/data/skill-manifest.json
  skills/midstream/review-criteria-integrity/SKILL.md
  skills/midstream/review-criteria-integrity/fixtures/01-rules-weakening-with-feature-change-detect.md
  skills/midstream/review-criteria-integrity/fixtures/02-threshold-and-suppression-relaxation-detect.md
  skills/midstream/review-criteria-integrity/fixtures/03-criteria-only-and-strengthening-canary.md
  skills/midstream/review-criteria-integrity/fixtures/04-delegated-scope-canary.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): review-automation-boundary に強制ゲート回避の実測データを参照追記する (#1671)
  docs/data/skill-manifest.json
  skills/midstream/review-automation-boundary/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): review-criteria-integrity の委譲表に behavior-structure-separation を追加する
  docs/data/skill-manifest.json
  skills/midstream/review-criteria-integrity/SKILL.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): review-criteria-integrity 観点でレビュー基準の自己弱体化を検出する (#1674)
  docs/data/skill-manifest.json
  skills/midstream/review-criteria-integrity/SKILL.md
  skills/midstream/review-criteria-integrity/fixtures/01-rules-weakening-with-feature-change-detect.md
  skills/midstream/review-criteria-integrity/fixtures/02-threshold-and-suppression-relaxation-detect.md
  skills/midstream/review-criteria-integrity/fixtures/03-criteria-only-and-strengthening-canary.md
  skills/midstream/review-criteria-integrity/fixtures/04-delegated-scope-canary.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(concept): コンセプト改訂 PR-A（vision SSoT 更新 + 公開コンセプトページ新設）
  docs/vision.md
  pages/explanation/concept.en.md
  pages/explanation/concept.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(concept): コンセプト改訂 PR-A（vision SSoT 更新 + 公開コンセプトページ新設） (#1676)
  docs/vision.md
  pages/explanation/concept.en.md
  pages/explanation/concept.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(concept): コンセプト改訂 PR-B（pages 整理 + トップ導線 + サイドバー補完）
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/review-scope.en.md
  pages/explanation/review-scope.md
  pages/explanation/security-model.en.md
  pages/explanation/security-model.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  pages/index.en.md
  pages/index.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 外部サーフェスの看板をコンセプト 4 層語彙へ統一する
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .codex-plugin/plugin.json
  CITATION.cff
  README.en.md
  README.md
  ROADMAP.md
  docusaurus.config.js
  package.json
  static/llms.txt
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(concept): コンセプト改訂 PR-B（pages 整理 + トップ導線 + サイドバー補完） (#1677)
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/review-scope.en.md
  pages/explanation/review-scope.md
  pages/explanation/security-model.en.md
  pages/explanation/security-model.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  pages/index.en.md
  pages/index.md
  sidebars.js
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 外部サーフェスの看板をコンセプト 4 層語彙へ統一する (#1678)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .codex-plugin/plugin.json
  CITATION.cff
  README.en.md
  README.md
  ROADMAP.md
  docusaurus.config.js
  package.json
  static/llms.txt
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: 英語版 index と README.en の日英リンク整合を取る
  README.en.md
  pages/index.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(docs): 参照ゼロの Nextra 遺物 _meta.json を削除する
  pages/_meta.json
  pages/contributing/_meta.json
  pages/explanation/_meta.json
  pages/explanation/framework/_meta.json
  pages/guides/_meta.json
  pages/guides/governance/_meta.json
  pages/reference/_meta.json
  pages/tutorials/_meta.json
Due: prettier --write

docs: 英語版 index と README.en の日英リンク整合を取る (#1679)
  README.en.md
  pages/index.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(feedback): river feedback add --run-id で review_run_id を書き join を成立させる
  docs/data/skill-manifest.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/references/FEEDBACK.md
  src/cli.mjs
  src/cli/commands/feedback.mjs
  src/lib/feedback.mjs
  tests/cli-parse-args.test.mjs
  tests/feedback.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(docs): 参照ゼロの Nextra 遺物 _meta.json を削除する (#1680)
  pages/_meta.json
  pages/contributing/_meta.json
  pages/explanation/_meta.json
  pages/explanation/framework/_meta.json
  pages/guides/_meta.json
  pages/guides/governance/_meta.json
  pages/reference/_meta.json
  pages/tutorials/_meta.json
Due: prettier --write

feat(review): finding に criterionRefs / artifactRefs を additive に追加する
  docs/data/skill-manifest.json
  docs/review/output-format.md
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/upstream/requirements-acceptance/SKILL.md
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/finding-format.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/review-artifact-schema.test.mjs
  tests/verifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(feedback): --run-id の silent-miss 2 経路を塞ぎ未解決 run id の trust カウンタを整合させる
  docs/data/skill-manifest.json
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/references/FEEDBACK.md
  src/cli.mjs
  src/lib/shadow-aggregate.mjs
  tests/cli-parse-args.test.mjs
  tests/feedback.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(feedback): river feedback add --run-id で review_run_id を書き join を成立させる (#1681)
  docs/data/skill-manifest.json
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/references/FEEDBACK.md
  src/cli.mjs
  src/cli/commands/feedback.mjs
  src/lib/feedback.mjs
  src/lib/shadow-aggregate.mjs
  tests/cli-parse-args.test.mjs
  tests/feedback.test.mjs
  tests/shadow-aggregate.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): 敵対的レビュー指摘（F1-F11）に対応し refs ラベルの検出と非干渉を強化する
  docs/data/skill-manifest.json
  docs/review/output-format.md
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/upstream/requirements-acceptance/SKILL.md
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/finding-format.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/review-engine.test.mjs
  tests/verifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review): ラベル終端の `\s+` を `\s` にして空白連続時の二次挙動を解消する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-factory.mjs
  tests/finding-format.test.mjs
Due: none

feat(review): finding に criterionRefs / artifactRefs を additive に追加する (#1682)
  docs/data/skill-manifest.json
  docs/review/output-format.md
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/output.schema.json
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  skills/midstream/assumption-resolution-trace/SKILL.md
  skills/upstream/requirements-acceptance/SKILL.md
  src/cli/render.mjs
  src/lib/finding-factory.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/finding-format.test.mjs
  tests/render-output-schema-validator.test.mjs
  tests/review-artifact-schema.test.mjs
  tests/review-engine.test.mjs
  tests/verifier.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: output-format-yaml のクイックスタートを npm 未公開方針に整合する (#1686)
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(deps): brace-expansion を修正版に更新して DoS アラート (#119) を解消する
  package-lock.json
Due: prettier --write

docs(cli): --output html を README とリファレンスページに記載する
  README.en.md
  README.md
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(cli): html リファレンスの CLI 例を npm run river 形式に揃える
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(deps): brace-expansion を修正版に更新して DoS アラート (#119) を解消する (#1691)
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

docs: output-format-yaml のクイックスタートを npm 未公開方針に整合する (#1686) (#1690)
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(cli): river --help の Commands 一覧に review route ほか3コマンドを追加する
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

docs(cli): --output html を README とリファレンスページに記載する (#1692)
  README.en.md
  README.md
  pages/reference/output-format-html.en.md
  pages/reference/output-format-html.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): 並列ロールレビューに進捗出力とロール単位タイムアウトを追加する
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  src/cli/commands/run.mjs
  src/config/schema.mjs
  src/lib/local-runner.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/config-schema.test.mjs
  tests/reviewer-orchestrator.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): finding 確定前に指摘行周辺の設計意図コメントを確認する
  docs/data/skill-manifest.json
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/river-review/fixtures/01-intent-comment-resolves-finding.md
  skills/agent-skills/river-review/fixtures/02-intent-comment-downgrade-with-rebuttal.md
  skills/agent-skills/river-review/fixtures/03-comment-contradicts-implementation.md
  skills/agent-skills/river-review/references/IMPROVEMENT_LOOP.md
  skills/agent-skills/river-review/references/VERIFICATION.md
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(action): rebuild github-action dist
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

docs(cli): river --help の Commands 一覧に review route ほか3コマンドを追加する (#1694)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
