Repository s977043/ai-review-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"]
}

chore(scripts): pull request 待ちを script 化し bot push 起因の stall runbook を一般化する
  docs/runbook/release-please-kick.md
  scripts/wait-pr-ready.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): 語彙定数の直書きリテラルを検出する検査を追加する
  docs/development/guard-ledger.yaml
  package.json
  scripts/check-vocabulary-literals.mjs
  src/cli/commands/promote.mjs
  tests/check-vocabulary-literals.test.mjs
Due: prettier --write

fix(scripts): api 読み取り失敗を false green にせず runbook の手順順序を直す
  docs/runbook/release-please-kick.md
  scripts/wait-pr-ready.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): release-please-kick.md を bot-pushed-head-kick.md へ改名する
  .claude/commands/release-kick.md
  .github/workflows/README.md
  .github/workflows/release-please-kick.yml
  .textlintignore
  CLAUDE.md
  docs/runbook/bot-pushed-head-kick.md
  scripts/release-please-kick.sh
  scripts/wait-pr-ready.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(scripts): 複数行 import での結合解決を回帰テストで固定する
  scripts/check-vocabulary-literals.mjs
  tests/check-vocabulary-literals.test.mjs
Due: none

chore(scripts): pull request 待ちを script 化し bot push 起因の stall runbook を一般化する (#2024)
  .claude/commands/release-kick.md
  .github/workflows/README.md
  .github/workflows/release-please-kick.yml
  .textlintignore
  CLAUDE.md
  docs/runbook/bot-pushed-head-kick.md
  scripts/release-please-kick.sh
  scripts/wait-pr-ready.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): #2012 Plugin-first Product Boundary と Runtime Adapter 不変条件を ADR-009 として記録する (#2022)
  docs/CLI-architecture.md
  docs/adr/009-plugin-first-product-and-runtime-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(schemas): #2013 Review Flow Contract を flow.schema.json として追加する
  pages/reference/stable-interfaces.md
  schemas/flow.schema.json
  tests/fixtures/flow/final-review-happy.json
  tests/fixtures/flow/unknown-primitive-guard.json
  tests/flow-schema.test.mjs
  tests/helpers/schema-validator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): 語彙定数の直書きリテラルを検出する検査を追加する (#2025)
  docs/development/guard-ledger.yaml
  package.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/check-vocabulary-literals.mjs
  src/cli/commands/promote.mjs
  tests/check-vocabulary-literals.test.mjs
Due: prettier --write

fix(schemas): #2013 step の agent キーを reviewer へ改名し agent を #2014 用に予約する
  schemas/flow.schema.json
  tests/fixtures/flow/final-review-happy.json
  tests/flow-schema.test.mjs
Due: prettier --write

fix(schemas): #2013 スキーマが保証しない制約を description から外しテストで固定する
  schemas/flow.schema.json
  tests/flow-schema.test.mjs
Due: prettier --write

feat(schemas): #2014 Portable Review Agent Contract を追加する
  agents/contracts/adapter-map.json
  agents/contracts/completion-judge.agent.json
  agents/contracts/consistency-judge.agent.json
  agents/contracts/finding-verifier.agent.json
  agents/contracts/review-orchestrator.agent.json
  agents/contracts/specialist-reviewer.agent.json
  docs/development/agent-contract.md
  pages/reference/stable-interfaces.md
  schemas/agent-adapter-map.schema.json
  schemas/agent-contract.schema.json
  tests/agent-contract.test.mjs
  tests/fixtures/agent/merge-authority-guard.json
  tests/fixtures/agent/minimal-happy.json
  tests/fixtures/agent/reviewer-lens-as-agent-guard.json
  tests/fixtures/agent/unknown-agent-guard.json
  tests/helpers/schema-validator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(schemas): #2013 Review Flow Contract を flow.schema.json として追加する (#2028)
  pages/reference/stable-interfaces.md
  schemas/flow.schema.json
  tests/fixtures/flow/final-review-happy.json
  tests/fixtures/flow/unknown-primitive-guard.json
  tests/flow-schema.test.mjs
  tests/helpers/schema-validator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schemas): #2014 adapter 差の judgment 漏れ検査と description の実態整合
  pages/reference/stable-interfaces.en.md
  schemas/agent-adapter-map.schema.json
  schemas/agent-contract.schema.json
  tests/agent-contract.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(schemas): #2014 Portable Review Agent Contract を追加する (#2030)
  agents/contracts/adapter-map.json
  agents/contracts/completion-judge.agent.json
  agents/contracts/consistency-judge.agent.json
  agents/contracts/finding-verifier.agent.json
  agents/contracts/review-orchestrator.agent.json
  agents/contracts/specialist-reviewer.agent.json
  docs/development/agent-contract.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  schemas/agent-adapter-map.schema.json
  schemas/agent-contract.schema.json
  tests/agent-contract.test.mjs
  tests/fixtures/agent/merge-authority-guard.json
  tests/fixtures/agent/minimal-happy.json
  tests/fixtures/agent/reviewer-lens-as-agent-guard.json
  tests/fixtures/agent/unknown-agent-guard.json
  tests/helpers/schema-validator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(schemas): #2015 Execution Manifest と replay 可否判定を追加する
  docs/development/execution-manifest.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  schemas/execution-manifest.schema.json
  schemas/review-artifact.schema.json
  src/lib/execution-manifest.mjs
  src/lib/paired-replay.mjs
  src/lib/shadow-aggregate.mjs
  tests/execution-manifest.test.mjs
  tests/fixtures/execution-manifest/complete.json
  tests/fixtures/execution-manifest/partial.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(execution-manifest): #2015 skillSetHash を redaction 後に導出し禁止キー照合を正規化する
  src/lib/execution-manifest.mjs
  tests/execution-manifest.test.mjs
Due: none

fix(execution-manifest): #2015 replay 判定に pin 済みであることを要求する
  docs/development/execution-manifest.md
  src/lib/execution-manifest.mjs
  tests/execution-manifest.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(flows): #2016 4 つの core review entry flow と Review Intent を定義する
  docs/data/skill-manifest.json
  docs/development/flow-contract.md
  flows/entry-map.json
  flows/final-review.flow.json
  flows/intents/final-convergence.intent.json
  flows/intents/plan-readiness.intent.json
  flows/intents/replan-integrity.intent.json
  flows/intents/task-completion.intent.json
  flows/plan-review.flow.json
  flows/replan-review.flow.json
  flows/task-completion-review.flow.json
  schemas/flow-entry-map.schema.json
  schemas/review-intent.schema.json
  skills/agent-skills/river-review/SKILL.md
  tests/flow-definitions.test.mjs
  tests/helpers/schema-validator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(schemas): #2015 Execution Manifest と replay 可否判定を追加する (#2032)
  docs/development/execution-manifest.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  runners/github-action/dist/29.index.mjs
  runners/github-action/dist/29.index.mjs.map
  runners/github-action/dist/80.index.mjs
  runners/github-action/dist/80.index.mjs.map
  schemas/execution-manifest.schema.json
  schemas/review-artifact.schema.json
  src/lib/execution-manifest.mjs
  src/lib/paired-replay.mjs
  src/lib/shadow-aggregate.mjs
  tests/execution-manifest.test.mjs
  tests/fixtures/execution-manifest/complete.json
  tests/fixtures/execution-manifest/partial.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(tests): #2016 observe 検査の誤検出と見逃しを直し SSoT 同期を追加する
  docs/data/skill-manifest.json
  skills/agent-skills/river-review/SKILL.md
  tests/flow-definitions.test.mjs
  tests/helpers/flows-reference-scan.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(security): #2033 redact URL userinfo and password assignments
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/secret-redactor.mjs
  tests/secret-redactor.test.mjs
Due: none

fix(schemas): #2016 evidence の artifact 重複をテストで禁じる
  schemas/review-intent.schema.json
  tests/flow-definitions.test.mjs
Due: prettier --write

feat(flows): #2016 4 つの core review entry flow と Review Intent を定義する (#2035)
  docs/data/skill-manifest.json
  docs/development/flow-contract.md
  flows/entry-map.json
  flows/final-review.flow.json
  flows/intents/final-convergence.intent.json
  flows/intents/plan-readiness.intent.json
  flows/intents/replan-integrity.intent.json
  flows/intents/task-completion.intent.json
  flows/plan-review.flow.json
  flows/replan-review.flow.json
  flows/task-completion-review.flow.json
  schemas/flow-entry-map.schema.json
  schemas/review-intent.schema.json
  skills/agent-skills/river-review/SKILL.md
  tests/flow-definitions.test.mjs
  tests/helpers/flows-reference-scan.mjs
  tests/helpers/schema-validator.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(flows): #2017 実装前の上流 4 レビューを Flow として定義する
  docs/data/skill-manifest.json
  docs/development/flow-contract.md
  docs/development/upstream-review-flows.md
  flows/design-review.flow.json
  flows/entry-map.json
  flows/requirements-review.flow.json
  flows/research-review.flow.json
  flows/technical-review.flow.json
  skills/agent-skills/river-review/SKILL.md
  tests/fixtures/flow/research-review-asserts-freshness.json
  tests/fixtures/flow/research-review-evidence-happy.json
  tests/flow-definitions.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(flows): #2017 上流 4 本へ Review Intent を追加し stage enum を additive 拡張する
  docs/data/skill-manifest.json
  docs/development/flow-contract.md
  docs/development/upstream-review-flows.md
  flows/intents/design-soundness.intent.json
  flows/intents/requirements-soundness.intent.json
  flows/intents/research-adequacy.intent.json
  flows/intents/technical-viability.intent.json
  schemas/review-intent.schema.json
  skills/agent-skills/river-review/SKILL.md
  tests/flow-definitions.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(flow): #2017 flow-contract の表の範囲を core 4 本と明記する
  docs/development/flow-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(flows): #2017 実装前の上流 4 レビューを Flow として定義する (#2040)
  docs/data/skill-manifest.json
  docs/development/flow-contract.md
  docs/development/upstream-review-flows.md
  flows/design-review.flow.json
  flows/entry-map.json
  flows/intents/design-soundness.intent.json
  flows/intents/requirements-soundness.intent.json
  flows/intents/research-adequacy.intent.json
  flows/intents/technical-viability.intent.json
  flows/requirements-review.flow.json
  flows/research-review.flow.json
  flows/technical-review.flow.json
  schemas/review-intent.schema.json
  skills/agent-skills/river-review/SKILL.md
  tests/fixtures/flow/research-review-asserts-freshness.json
  tests/fixtures/flow/research-review-evidence-happy.json
  tests/flow-definitions.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(schemas): #2018 cross-artifact consistency の契約と検証を追加する
  schemas/cross-artifact-consistency.schema.json
  tests/cross-artifact-consistency.test.mjs
  tests/fixtures/cross-artifact/complete.json
  tests/fixtures/cross-artifact/degraded-unknown-inputs.json
  tests/fixtures/cross-artifact/invalid-added-section-as-drift.json
  tests/fixtures/cross-artifact/invalid-unknown-reported-as-missing.json
  tests/fixtures/cross-artifact/replan-drift.json
Due: prettier --write

feat(schemas): #2019 completion assessment の契約と検証を追加する
  schemas/completion-assessment.schema.json
  tests/completion-assessment.test.mjs
  tests/fixtures/completion/blocked.json
  tests/fixtures/completion/evidence-missing-unverified.json
  tests/fixtures/completion/false-complete-task-exhaustion-guard.json
  tests/fixtures/completion/final-happy.json
  tests/fixtures/completion/gate-vocabulary-guard.json
  tests/fixtures/completion/human-judgment.json
  tests/fixtures/completion/merge-authority-guard.json
  tests/fixtures/completion/minimal-happy.json
  tests/fixtures/completion/task-scope-validation-guard.json
  tests/fixtures/completion/unsupported-claim-guard.json
  tests/helpers/schema-validator.mjs
Due: prettier --write

fix(schemas): #2018 入力が揃った unknown edge を契約で禁じる
  schemas/cross-artifact-consistency.schema.json
  tests/cross-artifact-consistency.test.mjs
Due: prettier --write

fix(schemas): #2019 evidence 欠損を UNVERIFIED へ倒し kind 一意性をテストで固定する
  schemas/completion-assessment.schema.json
  tests/completion-assessment.test.mjs
Due: prettier --write

feat(schemas): #2018 Cross-Artifact Consistency の契約と検証を追加する (#2042)
  schemas/cross-artifact-consistency.schema.json
  tests/cross-artifact-consistency.test.mjs
  tests/fixtures/cross-artifact/complete.json
  tests/fixtures/cross-artifact/degraded-unknown-inputs.json
  tests/fixtures/cross-artifact/invalid-added-section-as-drift.json
  tests/fixtures/cross-artifact/invalid-unknown-reported-as-missing.json
  tests/fixtures/cross-artifact/replan-drift.json
Due: prettier --write
